backups/ai_agent.json
{
  "updatedAt": "2025-08-24T14:46:59.773Z",
  "createdAt": "2025-02-26T08:17:52.493Z",
  "id": "nYT5wQT4L7dQ4WD6",
  "name": "AI Agent",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {
          "download": true
        }
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        -112,
        -144
      ],
      "id": "e0ae287c-1649-4b33-b313-b1174c75c76c",
      "name": "Telegram Trigger",
      "webhookId": "1e13b40e-1f47-4092-87ab-622ea06fb87f",
      "credentials": {
        "telegramApi": {
          "id": "sDCRVGzNmzWY3EBm",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}\n{{ $json.message }}{{ $json.text }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=Jesteś centralnym koordynatorem sieci agentów, znanym jako „Jarvis”. Twoim głównym zadaniem jest zarządzanie interakcjami między agentami, zapewniając dokładne i logiczne wykonywanie złożonych procesów w celu osiągnięcia określonych rezultatów.\n\n## **Twoje obowiązki**\n- Odbieraj żądania użytkowników i przekazuj je precyzyjnie odpowiednim agentom.\n- Koordynuj wymianę informacji między agentami, upewniając się, że każdy z nich rozumie swoje zadanie.\n- Sprawdzaj, czy ostateczny wynik spełnia oczekiwania użytkownika.\n- Dodawaj wartość poprzez udoskonalanie automatyzacji lub sugestie.\n- Monitoruj postępy każdego agenta i optymalizuj ich zadania w celu zwiększenia efektywności.\n- Zapewniaj jednolite formatowanie i spójność informacji dostarczanych przez różnych agentów.\n- Priorytetyzuj zadania na podstawie ich pilności i znaczenia.\n- Analiza obrazów i odpowiadanie co jest na zdjęciu.\n\n\n## **Lista tooli**\n- **emailAgent** – Wysyłanie, odbieranie i zarządzanie e-mailami użytkownika. Gdy użytkownik prosi o wysłanie emaila, zawsze przekaż JSON w następującym formacie do agenta **emailAgent**:\n{\n  \"To\": \"adres@email.com\",\n  \"Subject\": \"Temat wiadomości\",\n  \"Message\": \"Treść wiadomości\"\n}\nUpewnij się, że wszystkie trzy pola są zawsze wypełnione.\n\n!!!Podpisuj się  na końcy wiadomości email jako \"Grzegorz Gajek\"!!!\n\nZwróć te informacje w formacie JSON zgodnym z wymaganym schematem.\n\nPotwierdz wysłanie wiadmości w aplilakci telegrem w normalnej formie.\n\nKiedy urzytkownik prosi o wysłanie wiadmośći email o konkretnej treści to przekaż tą treść bez edytowania jej. Przepisz ją dokłądnie tak jak prosi urzytkownik.\n\n- **Google Kalendarz** – Zarządzanie wydarzeniami i przypomnieniami. (Strefa czasowa ustawiona na „Europe/Warsaw” dla Polski).\n- **Get many events in Google Calendar** - sprawdzanie zapisanych wydarzeń w kalendarzu.\n\n- **Lista zadań** – Organizowanie i monitorowanie bieżących obowiązków użytkownika.\n- **ResearchAgent** – Agent do wyszukiwania informacji w sieci, wybierający odpowiednie źródła na podstawie priorytetów.\n- **Google Task** - dodawanie zadań do listy zadań\n\n- **Narzedzia_Google** Korzystasz kiedy potrzebujesz dostępu do dysku google, Google Sheets, Google Docs, Google contacst\n\n## **Zasady działania**\n- Dzisiejsza data to {{ $now.format('yyyy-MM-dd') }} {{ $now }}.\n- Pamiętaj, że dodajesz wszystkie zadania i czynności ze strefą czasową ustawioną jako „Europe/Warsaw” (dla Polski), sprawdzaj, jaka jest dokładna godzina i data – to bardzo ważne!\n- Masz możliwość wykorzystywania tooli w sposób efektywny, minimalizując zbędne operacje.\n- W przypadku konfliktu między zadaniami lub agentami, podejmij optymalną decyzję, kierując się priorytetami użytkownika.\n- Informuj użytkownika o postępach i kluczowych zmianach w realizacji zadań.\n- Integruj wyniki pracy agentów w spójną i czytelną formę dla użytkownika.\n\nDzięki tym zasadom „Jarvis” zapewnia skuteczne i precyzyjne koordynowanie zadań, umożliwiając efektywne wykorzystanie narzędzi i agentów pomocniczych.\n\n\nOdpowiadaj w jak najkrótszej formie ( chyba, że poprosze o dłuższą wypowiedź ). NIE DODAWAJ NA KONIEC, ŻE JEŚLI COŚ POTRZEBUJE TO MAM DAĆ ZNAĆ ( wiem o tym )"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        640,
        -160
      ],
      "id": "180c59a6-b19f-4d15-962e-92b86437e94a",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        336,
        224
      ],
      "id": "8208b434-0d86-47e0-a222-79a18c08d064",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "EJgMjh9fB0j2lVkm",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "id"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        496,
        224
      ],
      "id": "d75da8ab-6fa5-4974-8dd0-7f5b92f7ea04",
      "name": "Window Buffer Memory"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        912,
        -144
      ],
      "id": "aba72a92-0670-4c70-bb96-6ef50ee46120",
      "name": "Telegram",
      "webhookId": "38f99335-476e-499a-9c07-7adaf96de6bf",
      "credentials": {
        "telegramApi": {
          "id": "sDCRVGzNmzWY3EBm",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.voice.mime_type }}",
                    "rightValue": "audio/ogg",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "7d633557-7010-4be1-b666-500ca9068b12"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "766c3f4f-b794-4fb1-bbb4-efa3cd7ef7ba",
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "2b45f487-ad38-45eb-bb48-0d1deb3fe851",
                    "leftValue": "={{ $json.message.photo[$json.message.photo.length-1]?.file_id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Image"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        48,
        -160
      ],
      "id": "054b71ba-6eb7-4491-97a8-5df414832391",
      "name": "Switch"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        464,
        -256
      ],
      "id": "b4d9e540-46ac-4dfa-be7e-b6d241394fa5",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "EJgMjh9fB0j2lVkm",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.voice.file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        304,
        -256
      ],
      "id": "f5542ef4-fa66-40a4-9d5a-e0965c34e19c",
      "name": "Telegram1",
      "webhookId": "5f320ada-860b-4168-ad1d-314c6a0ea299",
      "credentials": {
        "telegramApi": {
          "id": "sDCRVGzNmzWY3EBm",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "grzegorz@themakead.com",
          "mode": "list",
          "cachedResultName": "grzegorz@themake"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "additionalFields": {
          "attendees": [],
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        784,
        224
      ],
      "id": "b2acf0e3-c04a-4a77-82e5-479620df539b",
      "name": "Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "4t09NQPynRD4Bs9i",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "name": "ResearchAgent",
        "description": "Użyj tego narzędzia, aby przeszukać internet w celu znalezienia odpowiedzi na pytania użytkowników.",
        "workflowId": {
          "__rl": true,
          "value": "aZGMp0Cmwiio986q",
          "mode": "list",
          "cachedResultName": "ResearchAgent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        1024,
        224
      ],
      "id": "c7c415c3-32b6-45ac-b8bd-484cc7005d36",
      "name": "ResearchAgent"
    },
    {
      "parameters": {
        "name": "emailAgent",
        "description": "Użyj tego narzędzia aby sprawdzić, odpowiedzieć lub wysłać wiadomość email\n\n!!!Podpisuj się  na końcu wiadomości email jako \"Grzegorz Gajek\"!!!",
        "workflowId": {
          "__rl": true,
          "value": "ixkOznBwbg4ImuXY",
          "mode": "list",
          "cachedResultName": "EmailAgent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        912,
        224
      ],
      "id": "73fd3cee-bc1c-4e18-a569-d0bc0f823d75",
      "name": "emailAgent"
    },
    {
      "parameters": {
        "name": "Narzedza_Google",
        "workflowId": {
          "__rl": true,
          "value": "iRJQFusFL4BWcwYo",
          "mode": "list",
          "cachedResultName": "Narzedzia_google"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        1296,
        224
      ],
      "id": "8d354e97-0f38-41e1-9330-31003cb5cb6b",
      "name": "Narzedzia_Google"
    },
    {
      "parameters": {
        "resource": "audio",
        "input": "={{ $json.result.text }}",
        "voice": "nova",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1072,
        -144
      ],
      "id": "8685340f-52a0-4f36-ac08-7c22edde75fa",
      "name": "OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "EJgMjh9fB0j2lVkm",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendAudio",
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }} }}",
        "binaryData": true,
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1216,
        -144
      ],
      "id": "549a3d15-b4a6-47ef-a85f-166cdb8ad8ff",
      "name": "Telegram2",
      "webhookId": "6aa66f8c-cbc2-4ab0-bdd4-fa9a8340b209",
      "credentials": {
        "telegramApi": {
          "id": "sDCRVGzNmzWY3EBm",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "chatgpt-4o-latest",
          "mode": "list",
          "cachedResultName": "CHATGPT-4O-LATEST"
        },
        "text": "={{ $json.message.caption }}",
        "inputType": "base64",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        304,
        -48
      ],
      "id": "a0e9725c-550b-4618-850c-fe2be061d1b9",
      "name": "OpenAI2",
      "credentials": {
        "openAiApi": {
          "id": "EJgMjh9fB0j2lVkm",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const caption = $(\"Telegram Trigger\").first().json.message.caption;\nconst image_content = $input.first().json.content;\n\nreturn {\n  message: `Please answer user question: ${caption} with following image description: ${image_content}`\n}"
      },
      "id": "90a3e413-cf39-4344-9cec-e0f89d4929ac",
      "name": "Parse Text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        -48
      ]
    },
    {
      "parameters": {
        "task": "bTdCMFNmdXpIcHpiRjk4QQ",
        "title": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Title', ``, 'string') }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.googleTasksTool",
      "typeVersion": 1,
      "position": [
        1152,
        224
      ],
      "id": "ec22d6b1-3351-4917-8a92-17072cdce270",
      "name": "Create a task in Google Tasks",
      "credentials": {
        "googleTasksOAuth2Api": {
          "id": "9GyKoIj1R5ZEGCZQ",
          "name": "Google Tasks account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "grzegorz@themakead.com",
          "mode": "list",
          "cachedResultName": "grzegorz@themake"
        },
        "limit": 1,
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        640,
        224
      ],
      "id": "f3050d8e-af52-4999-a6bf-043eca27117a",
      "name": "Get many events in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "4t09NQPynRD4Bs9i",
          "name": "Google Calendar account"
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram": {
      "main": [
        [
          {
            "node": "OpenAI1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Telegram1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "OpenAI2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram1": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "ResearchAgent": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "emailAgent": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Narzedzia_Google": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI1": {
      "main": [
        [
          {
            "node": "Telegram2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI2": {
      "main": [
        [
          {
            "node": "Parse Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Text": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a task in Google Tasks": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get many events in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "5971bb18-6882-452c-8195-e499945887d7",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-02-26T08:17:52.493Z",
      "createdAt": "2025-02-26T08:17:52.493Z",
      "role": "workflow:owner",
      "workflowId": "nYT5wQT4L7dQ4WD6",
      "projectId": "SQnOb1XW8PKTppQP"
    }
  ],
  "tags": [
    {
      "updatedAt": "2025-03-15T18:53:11.351Z",
      "createdAt": "2025-03-15T18:53:11.351Z",
      "id": "ovE7Xowr5aUj677q",
      "name": "Działa"
    }
  ]
}