backups/nutriscan.json
{
  "updatedAt": "2025-07-01T12:24:55.624Z",
  "createdAt": "2025-03-06T10:58:35.841Z",
  "id": "HqDP19YDAJBIWH36",
  "name": "NutriScan",
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "functionCode": "// Pobierz dane\nconst data = {};\ndata.description = $input.first().json.description || '';\ndata.hasImage = $input.first().binary !== undefined;\n\n// Przygotuj dane do dalszego przetwarzania\nreturn [\n  {\n    json: {\n      description: data.description,\n      hasImage: data.hasImage,\n      timestamp: new Date().toISOString()\n    },\n    binary: $input.first().binary\n  }\n];"
      },
      "id": "d96f898d-4511-447e-9f40-a9bd3f2297f2",
      "name": "Przetwarzanie danych wejściowych",
      "type": "n8n-nodes-base.function",
      "position": [
        -440,
        100
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f66c3a38-8f14-40c3-8eba-71e9a2f4b7e6",
              "leftValue": "={{ $json.binary }}",
              "rightValue": "=",
              "operator": {
                "type": "string",
                "operation": "notExists",
                "singleValue": true
              }
            },
            {
              "id": "167468df-c799-4c88-bdf5-23d117c7fb0a",
              "leftValue": "={{ $json.binary }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "a18e55fb-a72f-4346-a05f-bb49eab7ac77",
      "name": "IF ma zdjęcie?",
      "type": "n8n-nodes-base.if",
      "position": [
        -220,
        100
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "functionCode": "// Pobierz etykiety z Google Vision\nconst response = $input.first().json.labelAnnotations || [];\nconst textAnnotations = $input.first().json.textAnnotations || [];\n\nconst labels = response.map(label => label.description.toLowerCase());\nconst extractedText = textAnnotations.length > 0 ? textAnnotations[0].description : '';\n\nconst foodRelatedLabels = labels.filter(label => {\n  const foodKeywords = ['food', 'jedzenie', 'fruit', 'owoc', 'vegetable', 'warzywo', 'meat', 'mięso', 'dairy', 'nabiał', 'drink', 'napój', 'dessert', 'deser'];\n  return foodKeywords.some(keyword => label.includes(keyword));\n});\n\n// Zwróć wyniki analizy obrazu\nreturn [{\n  json: {\n    description: $input.first().json.description,\n    imageLabels: labels,\n    foodRelatedLabels,\n    extractedText,\n    confidence: foodRelatedLabels.length > 3 ? 'wysoka' : 'średnia',\n    timestamp: $input.first().json.timestamp\n  }\n}];"
      },
      "id": "cb41dbb0-8bb7-47ca-95d7-a5cfe15609e2",
      "name": "Ekstrakcja wyników z Vision",
      "type": "n8n-nodes-base.function",
      "position": [
        80,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "a9dc00d7-1c6f-4129-92b0-498d65f8eb19",
      "name": "Przepływ bez zdjęcia",
      "type": "n8n-nodes-base.noOp",
      "position": [
        80,
        180
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "mode": "combine",
        "options": {}
      },
      "id": "90dda8cc-7111-48b8-ba58-59f82da2cb4a",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "position": [
        400,
        100
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "url": "=https://api.nutritionix.com/v1_1/search/{{$json[\"description\"]}}",
        "authentication": "headerAuth",
        "options": {}
      },
      "id": "0c4391eb-af42-49f5-bc4d-8807ab1df039",
      "name": "Wyszukiwanie produktu",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        600,
        100
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "304c11fe-3c27-44c2-a4fc-8f039d6bcd50",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "414e48c7-3f32-42e2-92ef-4001a915f72f",
      "name": "IF brak wyniku w Nutritionix",
      "type": "n8n-nodes-base.if",
      "position": [
        800,
        100
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "url": "=https://api.nal.usda.gov/fdc/v1/foods/search",
        "authentication": "queryAuth",
        "options": {}
      },
      "id": "bc63e226-e493-42b9-a8aa-cb99d95e1ce9",
      "name": "Wyszukiwanie w USDA Database",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1000,
        200
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "functionCode": "// Ekstrakcja danych z Nutritionix\nconst hits = $input.first().json.hits || [];\n\nif (hits.length === 0) {\n  return [{\n    json: {\n      error: \"Nie znaleziono produktu w bazie Nutritionix\",\n      query: $input.first().json.description\n    }\n  }];\n}\n\nconst item = hits[0].fields;\n\n// Analiza wielkości porcji z opisu\nconst description = $input.first().json.description.toLowerCase();\nlet portionMultiplier = 1;\n\n// Sprawdź czy w opisie jest podana waga/wielkość\nif (description.includes('mał')) portionMultiplier = 0.7;\nif (description.includes('średn')) portionMultiplier = 1;\nif (description.includes('duż')) portionMultiplier = 1.3;\n\n// Sprawdź konkretne gramatury\nconst weightRegex = /(\\d+)\\s*(g|gram|kg)/i;\nconst weightMatch = description.match(weightRegex);\n\nif (weightMatch) {\n  let weight = parseFloat(weightMatch[1]);\n  if (weightMatch[2].toLowerCase().startsWith('kg')) {\n    weight *= 1000;\n  }\n  \n  // Zakładając, że porcja standardowa to 100g\n  portionMultiplier = weight / 100;\n}\n\n// Przygotuj wynik\nreturn [{\n  json: {\n    name: item.item_name,\n    source: \"Nutritionix\",\n    calories: Math.round(item.nf_calories * portionMultiplier),\n    protein: Math.round(item.nf_protein * portionMultiplier * 10) / 10,\n    fat: Math.round(item.nf_total_fat * portionMultiplier * 10) / 10,\n    carbs: Math.round(item.nf_total_carbohydrate * portionMultiplier * 10) / 10,\n    servingSize: item.nf_serving_size_qty + ' ' + item.nf_serving_size_unit,\n    portionDescription: weightMatch ? `${weightMatch[0]}` : (\n      portionMultiplier === 0.7 ? 'mała porcja' :\n      portionMultiplier === 1 ? 'standardowa porcja' :\n      portionMultiplier === 1.3 ? 'duża porcja' : 'bardzo duża porcja'\n    ),\n    portionMultiplier: portionMultiplier,\n    confidence: $input.first().json.confidence || 'średnia',\n    imageLabels: $input.first().json.imageLabels || []\n  }\n}];"
      },
      "id": "87dedf11-d927-40e5-b7b0-2311c6293e12",
      "name": "Przetwarzanie wyników z Nutritionix",
      "type": "n8n-nodes-base.function",
      "position": [
        1000,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "functionCode": "// Ekstrakcja danych z USDA\nconst foods = $input.first().json.foods || [];\n\nif (foods.length === 0) {\n  return [{\n    json: {\n      error: \"Nie znaleziono produktu w bazach danych\",\n      query: $input.first().json.description\n    }\n  }];\n}\n\nconst food = foods[0];\nconst nutrients = food.foodNutrients;\n\n// Mapowanie składników odżywczych\nlet calories = 0, protein = 0, fat = 0, carbs = 0;\n\nfor (const nutrient of nutrients) {\n  switch(nutrient.nutrientName) {\n    case \"Energy\":\n      if (nutrient.unitName === \"KCAL\") calories = nutrient.value;\n      break;\n    case \"Protein\":\n      protein = nutrient.value;\n      break;\n    case \"Total lipid (fat)\":\n      fat = nutrient.value;\n      break;\n    case \"Carbohydrate, by difference\":\n      carbs = nutrient.value;\n      break;\n  }\n}\n\n// Analiza wielkości porcji z opisu\nconst description = $input.first().json.description.toLowerCase();\nlet portionMultiplier = 1;\n\n// Sprawdź czy w opisie jest podana waga/wielkość\nif (description.includes('mał')) portionMultiplier = 0.7;\nif (description.includes('średn')) portionMultiplier = 1;\nif (description.includes('duż')) portionMultiplier = 1.3;\n\n// Sprawdź konkretne gramatury\nconst weightRegex = /(\\d+)\\s*(g|gram|kg)/i;\nconst weightMatch = description.match(weightRegex);\n\nif (weightMatch) {\n  let weight = parseFloat(weightMatch[1]);\n  if (weightMatch[2].toLowerCase().startsWith('kg')) {\n    weight *= 1000;\n  }\n  \n  // Zakładając, że porcja standardowa to 100g\n  portionMultiplier = weight / 100;\n}\n\n// Przygotuj wynik\nreturn [{\n  json: {\n    name: food.description,\n    source: \"USDA\",\n    calories: Math.round(calories * portionMultiplier),\n    protein: Math.round(protein * portionMultiplier * 10) / 10,\n    fat: Math.round(fat * portionMultiplier * 10) / 10,\n    carbs: Math.round(carbs * portionMultiplier * 10) / 10,\n    servingSize: \"100g\", // USDA zazwyczaj podaje wartości na 100g\n    portionDescription: weightMatch ? `${weightMatch[0]}` : (\n      portionMultiplier === 0.7 ? 'mała porcja' :\n      portionMultiplier === 1 ? 'standardowa porcja' :\n      portionMultiplier === 1.3 ? 'duża porcja' : 'bardzo duża porcja'\n    ),\n    portionMultiplier: portionMultiplier,\n    confidence: $input.first().json.confidence || 'średnia',\n    imageLabels: $input.first().json.imageLabels || []\n  }\n}];"
      },
      "id": "f8791ef6-a7ac-424b-b7a2-780e5cfa03e5",
      "name": "Przetwarzanie wyników z USDA",
      "type": "n8n-nodes-base.function",
      "position": [
        1200,
        200
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "mode": "passThrough"
      },
      "id": "c0c5a185-c2ce-4d10-9b44-4246bb193a4b",
      "name": "Merge wyników",
      "type": "n8n-nodes-base.merge",
      "position": [
        1400,
        100
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "functionCode": "// Sprawdź czy mamy wyniki czy błąd\nconst result = $input.first().json;\n\nif (result.error) {\n  return [{\n    json: {\n      success: false,\n      error: result.error,\n      message: \"Nie udało się znaleźć informacji o podanym produkcie.\"\n    }\n  }];\n}\n\n// Przygotuj wynik z danymi odżywczymi\nreturn [{\n  json: {\n    success: true,\n    data: {\n      name: result.name,\n      source: result.source,\n      nutrition: {\n        calories: result.calories,\n        protein: result.protein,\n        fat: result.fat,\n        carbs: result.carbs\n      },\n      portion: {\n        description: result.portionDescription,\n        servingSize: result.servingSize,\n        multiplier: result.portionMultiplier\n      },\n      analysis: {\n        confidence: result.confidence,\n        imageLabels: result.imageLabels?.slice(0, 5) || []\n      },\n      timestamp: new Date().toISOString()\n    }\n  }\n}];"
      },
      "id": "b3108450-1637-4cd2-942e-faf3ebff1794",
      "name": "Przygotowanie odpowiedzi",
      "type": "n8n-nodes-base.function",
      "position": [
        1600,
        100
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {
          "download": true
        }
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        -620,
        100
      ],
      "id": "251b340a-f89b-4b5e-aa68-bb3139307dcd",
      "name": "Telegram Trigger",
      "webhookId": "cf64efa2-4408-40c8-9227-bd750c66bfd9",
      "credentials": {
        "telegramApi": {
          "id": "sDCRVGzNmzWY3EBm",
          "name": "Telegram account"
        }
      }
    }
  ],
  "connections": {
    "Przetwarzanie danych wejściowych": {
      "main": [
        [
          {
            "node": "IF ma zdjęcie?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF ma zdjęcie?": {
      "main": [
        [
          {
            "node": "Ekstrakcja wyników z Vision",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Przepływ bez zdjęcia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ekstrakcja wyników z Vision": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Przepływ bez zdjęcia": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Wyszukiwanie produktu",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wyszukiwanie produktu": {
      "main": [
        [
          {
            "node": "IF brak wyniku w Nutritionix",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF brak wyniku w Nutritionix": {
      "main": [
        [
          {
            "node": "Przetwarzanie wyników z Nutritionix",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wyszukiwanie w USDA Database",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Przetwarzanie wyników z Nutritionix": {
      "main": [
        [
          {
            "node": "Merge wyników",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wyszukiwanie w USDA Database": {
      "main": [
        [
          {
            "node": "Przetwarzanie wyników z USDA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Przetwarzanie wyników z USDA": {
      "main": [
        [
          {
            "node": "Merge wyników",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge wyników": {
      "main": [
        [
          {
            "node": "Przygotowanie odpowiedzi",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Przygotowanie odpowiedzi": {
      "main": [
        []
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Przetwarzanie danych wejściowych",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "caae432c-8ba1-4594-8952-78b65959a9cd",
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-03-06T10:58:35.841Z",
      "createdAt": "2025-03-06T10:58:35.841Z",
      "role": "workflow:owner",
      "workflowId": "HqDP19YDAJBIWH36",
      "projectId": "SQnOb1XW8PKTppQP"
    }
  ],
  "tags": [
    {
      "updatedAt": "2025-03-15T18:55:04.496Z",
      "createdAt": "2025-03-15T18:55:04.496Z",
      "id": "hv9Sn3eOxS1IkEIE",
      "name": "Do Edycji"
    }
  ]
}