backups/2025-11-26/agent_elevenlabs_Oljju5wKIMbMdxVh.json
{
  "updatedAt": "2025-08-03T09:58:27.937Z",
  "createdAt": "2025-07-09T08:29:29.478Z",
  "id": "Oljju5wKIMbMdxVh",
  "name": "Agent Elevenlabs",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "from": "+1XXXXXXXXXX",
        "to": "+1YYYYYYYYYY",
        "message": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        1152,
        -64
      ],
      "id": "52de2672-ee46-4063-b185-8aaeb189051b",
      "name": "Twilio"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        960,
        -256
      ],
      "id": "04a84606-e979-4e44-a321-b2a118df469a",
      "name": "Wait",
      "webhookId": "wait-webhook-id"
    },
    {
      "parameters": {
        "jsCode": "// Extract all messages\nconst messages = items.map(item => item.json[\"Message\"]);\nconst combinedMessage = messages.join(\" \");\n\n// Get start row and number of rows to delete\nconst startRow = items[0].json[\"row_number\"];\nconst numRowsToDelete = items.length;\n\nreturn [\n  {\n    json: {\n      combinedMessage,\n      startRow,\n      numRowsToDelete\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1248,
        -256
      ],
      "id": "075247bf-2bc6-4148-973b-57349caa89b9",
      "name": "Code2"
    },
    {
      "parameters": {
        "toolDescription": "Use this tool to search the web",
        "method": "POST",
        "url": "https://api.perplexity.ai/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer your-perplexity-api-key"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('JSON', `{\n  \"model\": \"sonar\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Be precise and concise.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"{web_search_question}\"\n    }\n  ],\n  \"search_domain_filter\": [\n    \"example.com\",\n    \"support.example.com/hc/en-us\"\n  ]\n}\n`, 'json') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        1024,
        160
      ],
      "id": "072bd072-8713-4908-a26f-e90002dbfa2b",
      "name": "web_search"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Code2').item.json.combinedMessage }}",
        "options": {
          "systemMessage": "=Jesteś pomocnym asystentem\nOtrzymasz wiadomości o zmianach terminów\nPo prostu zaakceptuj i odpowiedz\nTwoja odpowiedź nie może przekraczać 160 znaków"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        832,
        -64
      ],
      "id": "cda9ec58-dfe1-4b1e-9645-1471b10d86c6",
      "name": "SMS AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        784,
        128
      ],
      "id": "8a30e2e0-dc8a-4f63-a69e-47989df1d0e8",
      "name": "GPT-4.1",
      "credentials": {
        "openAiApi": {
          "id": "EJgMjh9fB0j2lVkm",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Webhook1').item.json.body.From }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        1632,
        -16
      ],
      "id": "55a7b013-357c-4dfe-b473-cfee3f307a61",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "saI02tylTPFZxDpt",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "tableId": "n8n_chat_histories",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "session_id",
              "fieldValue": "={{ $('Webhook1').item.json.body.From }}"
            },
            {
              "fieldId": "message",
              "fieldValue": "={\"type\": \"ai\", \"content\": \"{{ $json.body }}\", \"additional_kwargs\": {}, \"response_metadata\": {}}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1312,
        -64
      ],
      "id": "2b28a7c1-0b52-4ab6-8474-18cd0a3df900",
      "name": "Supabase1",
      "credentials": {
        "supabaseApi": {
          "id": "sGHKSImhZ2qVZXG8",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "webhook-path-id",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        544,
        -256
      ],
      "id": "5034d278-b771-4a75-a023-ef3425de60de",
      "name": "Webhook1",
      "webhookId": "webhook-path-id"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "11AnuyJSH2JC4VWQFJKbxBX0VGWwN__y2P1EdsZ-LVgc",
          "mode": "list",
          "cachedResultName": "Conversation AI",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11AnuyJSH2JC4VWQFJKbxBX0VGWwN__y2P1EdsZ-LVgc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "holding",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/your-google-sheet-id/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Message": "={{ $('Webhook1').item.json.body }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Number",
              "displayName": "Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Message",
              "displayName": "Message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        832,
        -256
      ],
      "id": "7526ad71-e36b-4b71-a2dc-65c499f7f6de",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "0AifnrCkRyhR2h3u",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "11AnuyJSH2JC4VWQFJKbxBX0VGWwN__y2P1EdsZ-LVgc",
          "mode": "list",
          "cachedResultName": "Conversation AI",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11AnuyJSH2JC4VWQFJKbxBX0VGWwN__y2P1EdsZ-LVgc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Arkusz1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11AnuyJSH2JC4VWQFJKbxBX0VGWwN__y2P1EdsZ-LVgc/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Number",
              "lookupValue": "={{ $('Webhook1').item.json.body.From }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1104,
        -256
      ],
      "id": "b220f99d-68d9-4871-a490-51fa0f2a7b39",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "0AifnrCkRyhR2h3u",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "documentId": {
          "__rl": true,
          "value": "11AnuyJSH2JC4VWQFJKbxBX0VGWwN__y2P1EdsZ-LVgc",
          "mode": "list",
          "cachedResultName": "Conversation AI",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11AnuyJSH2JC4VWQFJKbxBX0VGWwN__y2P1EdsZ-LVgc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "holding",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/your-google-sheet-id/edit#gid=0"
        },
        "startIndex": "={{ $json.startRow }}",
        "numberToDelete": "={{ $json.numRowsToDelete }}"
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        640,
        -64
      ],
      "id": "fd9d84e5-2204-48d1-a46b-4bd62df6742d",
      "name": "Delete rows or columns from sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "0AifnrCkRyhR2h3u",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "tableId": "n8n_chat_histories",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "session_id",
              "fieldValue": "={{ $json.body.HEllo }}"
            },
            {
              "fieldId": "message",
              "fieldValue": "={\"type\": \"human\", \"content\": \"{{ $json.body.Body }}\", \"additional_kwargs\": {}, \"response_metadata\": {}}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        688,
        -256
      ],
      "id": "4e4590dc-58f5-45f3-8010-8859bf466fed",
      "name": "Create a row",
      "credentials": {
        "supabaseApi": {
          "id": "sGHKSImhZ2qVZXG8",
          "name": "Supabase account"
        }
      }
    }
  ],
  "connections": {
    "Wait": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "Delete rows or columns from sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "web_search": {
      "ai_tool": [
        [
          {
            "node": "SMS AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "SMS AI Agent": {
      "main": [
        [
          {
            "node": "Twilio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GPT-4.1": {
      "ai_languageModel": [
        [
          {
            "node": "SMS AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Twilio": {
      "main": [
        [
          {
            "node": "Supabase1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Create a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete rows or columns from sheet": {
      "main": [
        [
          {
            "node": "SMS AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a row": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "5056ef1a-5a37-4025-bb51-e97c77345ac0",
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-07-09T08:29:29.478Z",
      "createdAt": "2025-07-09T08:29:29.478Z",
      "role": "workflow:owner",
      "workflowId": "Oljju5wKIMbMdxVh",
      "projectId": "SQnOb1XW8PKTppQP"
    }
  ],
  "tags": [
    {
      "updatedAt": "2025-07-09T08:30:38.619Z",
      "createdAt": "2025-07-09T08:30:38.619Z",
      "id": "EWgtY03mHMAxxkaL",
      "name": "youtube"
    }
  ]
}