backups/2025-11-26/agent_elevenlabs_test_kiRdUyBWInCrsnpH.json
{
  "updatedAt": "2025-08-24T13:57:16.892Z",
  "createdAt": "2025-08-24T12:57:47.270Z",
  "id": "kiRdUyBWInCrsnpH",
  "name": "Agent elevenlabs test",
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "grzegorz@themakead.com",
          "mode": "list",
          "cachedResultName": "grzegorz@themake"
        },
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        224,
        272
      ],
      "id": "ba7138e0-00e9-4eb8-848f-87f049cda37f",
      "name": "Utwórz spotkanie",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "4t09NQPynRD4Bs9i",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "grzegorz@themakead.com",
          "mode": "list",
          "cachedResultName": "grzegorz@themake"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        368,
        272
      ],
      "id": "71816f78-ddde-4ea6-a7c9-95c6c9c80d10",
      "name": "Usuń spotkanie",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "4t09NQPynRD4Bs9i",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "calendar": {
          "__rl": true,
          "value": "grzegorz@themakead.com",
          "mode": "list",
          "cachedResultName": "grzegorz@themake"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        512,
        272
      ],
      "id": "c887cb0b-395c-45d9-8c72-693f33ce4575",
      "name": "Sprawdź spotkanie",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "4t09NQPynRD4Bs9i",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        16,
        0
      ],
      "id": "f22754be-bc2a-48b6-a3ed-1c00f919544a",
      "name": "When chat message received",
      "webhookId": "7df267ab-70bb-460a-8345-5aefc67cc344"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "You are a helpful assistant"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        224,
        0
      ],
      "id": "917d053c-9061-40db-a485-d2d9b8b36c21",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        96,
        208
      ],
      "id": "cb8e1a13-8350-4eaa-8865-4e1a03c9973e",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "2PnDfshSxDdWFgRc",
          "name": "OpenRouter account 2"
        }
      }
    }
  ],
  "connections": {
    "Utwórz spotkanie": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Usuń spotkanie": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Sprawdź spotkanie": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "3e8e2c88-8741-47b8-aa66-bb2dfc626628",
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-08-24T12:57:47.270Z",
      "createdAt": "2025-08-24T12:57:47.270Z",
      "role": "workflow:owner",
      "workflowId": "kiRdUyBWInCrsnpH",
      "projectId": "SQnOb1XW8PKTppQP"
    }
  ],
  "tags": []
}