backups/2025-11-26/agent_do_badania_konkurencji_kfxPcb254leamk3o.json
{
  "updatedAt": "2025-03-15T18:56:24.724Z",
  "createdAt": "2025-03-11T13:39:37.823Z",
  "id": "kfxPcb254leamk3o",
  "name": "Agent do badania konkurencji",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1660,
        300
      ],
      "id": "ae282035-a8c9-476e-97a0-74b871eacd14",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1EurcVU7DdQFiPjXhvzqWqtKfr2aQCG1ciMZ6HbO_8jk",
          "mode": "list",
          "cachedResultName": "Enrich companies using AI agents",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1EurcVU7DdQFiPjXhvzqWqtKfr2aQCG1ciMZ6HbO_8jk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "input",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1EurcVU7DdQFiPjXhvzqWqtKfr2aQCG1ciMZ6HbO_8jk/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "enrichment_status"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -1440,
        300
      ],
      "id": "5c263076-27e4-40a3-8ed7-7bd00534701b",
      "name": "Google Sheets"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1000,
        300
      ],
      "id": "b1bb0c64-5cc2-44cc-ba6e-4ac14e8cd1e5",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=This is the company I want you to research info about:\n{{ $json.company_input }}\n\nReturn me:\n- the linkedin URL of the company\n- the domain of the company. in this format ([domain].[tld])\n- market: if they are B2B or B2C. Only reply by \"B2B\" or \"B2B\"\n- the lowest paid plan the company is offering. If you are not sure, reply null.\n- the latest case study URL published on the website (find case study hub using google, and return the first case study link)\n- tell me if the company offer an API\n- tell me if the company has an enterprise plan\n- tell me if the company has a free trial mentionned in their homepage. reply false if you don't find strong evidence.\n- return an array with up to 5 tools the company is integrated with",
        "hasOutputParser": true,
        "options": {
          "maxIterations": 10
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -680,
        400
      ],
      "id": "8ecf1071-df3f-46de-b7a2-f77b08cc05fc",
      "name": "AI Comapny Researcher"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        -840,
        600
      ],
      "id": "f5716c6f-cf8f-4f7f-8981-32b99b62f1a4",
      "name": "OpenAI Chat Model"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8c418e8d-dc0e-4bcd-862b-8a63054416b9",
              "name": "company_input",
              "value": "={{ $json.input }}",
              "type": "string"
            },
            {
              "id": "d589e84c-b407-495e-8c94-66d582b97a8e",
              "name": "row_number",
              "value": "={{ $json.row_number }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1220,
        300
      ],
      "id": "b8ecf9eb-2cd8-4cfa-8843-5fdb68c03f11",
      "name": "domain"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"case_study_link\": {\n\t\t\t\"type\":[\"string\", \"null\"]\n\t\t},\n      \t\t\"domain\": {\n\t\t\t\"type\": [\"string\", \"null\"]\n\t\t},\n           \"linkedinUrl\": {\n\t\t\t\"type\": [\"string\", \"null\"]\n\t\t},\n     \t\"market\": {\n\t\t\t\"type\": [\"string\", \"null\"]\n\t\t},\n\t\t\"cheapest_plan\": {\n\t\t\t\"type\": [\"number\", \"null\"]\n\t\t},\n\t\"has_enterprise_plan\": {\n\t\t\t\"type\": [\"boolean\", \"null\"]\n\t\t},\n\t\"has_API\": {\n\t\t\t\"type\": [\"boolean\", \"null\"]\n\t\t},\n\t\"has_free_trial\": {\n\t\t\t\"type\": [\"boolean\", \"null\"]\n\t\t},\n\t\"integrations\": {\n\t\t\t\"type\": [\"array\",\"null\"],\n      \"items\": {\n\t\t\t\t\"type\": \"string\"\n\t\t\t}\n\t\t}\n\t}\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        -300,
        600
      ],
      "id": "8216cd04-f895-4647-96c1-5ca46ee3a2f4",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0ab66ec8-b20d-4e6d-bc23-5b2e36badade",
              "name": "domain",
              "value": "={{ $json.output.domain }}",
              "type": "string"
            },
            {
              "id": "b3396e2d-bf2e-4861-b12c-c0824684a3a4",
              "name": "linkedinUrl",
              "value": "={{ $json.output.linkedinUrl }}",
              "type": "string"
            },
            {
              "id": "43c36508-9cf2-4c13-a794-68245cd6f7df",
              "name": "market",
              "value": "={{ $json.output.market }}",
              "type": "string"
            },
            {
              "id": "c292a8a0-0775-491c-88ce-48092b5a9e25",
              "name": "cheapest_plan",
              "value": "={{ $json.output.cheapest_plan }}",
              "type": "string"
            },
            {
              "id": "1d3553f1-26a1-4b78-aafa-d6689a16bbd8",
              "name": "has_enterprise_plan",
              "value": "={{ $json.output.has_enterprise_plan }}",
              "type": "boolean"
            },
            {
              "id": "ce1e4fad-2a9f-4f02-a751-77c464618beb",
              "name": "has_API",
              "value": "={{ $json.output.has_API }}",
              "type": "boolean"
            },
            {
              "id": "b25846c3-75cf-439e-98fc-cf89cb6b696d",
              "name": "has_free_trial",
              "value": "={{ $json.output.has_free_trial }}",
              "type": "boolean"
            },
            {
              "id": "39a4763e-63e8-4f3a-93ec-c8be5be033f1",
              "name": "integrations",
              "value": "={{ $json.output.integrations }}",
              "type": "array"
            },
            {
              "id": "f7fcb407-c4a3-403f-9673-2484a5c15e07",
              "name": "case_study_link",
              "value": "={{ $json.output.case_study_link }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -260,
        380
      ],
      "id": "43b464fd-c275-417b-9a60-bcf65d666f99",
      "name": "AI Researcher Output Data"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {
          "includeUnpaired": true
        }
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        0,
        0
      ],
      "id": "bee48663-7328-4ad8-93f5-62d86ee7f59f",
      "name": "Merge"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1EurcVU7DdQFiPjXhvzqWqtKfr2aQCG1ciMZ6HbO_8jk",
          "mode": "list",
          "cachedResultName": "Enrich companies using AI agents",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1EurcVU7DdQFiPjXhvzqWqtKfr2aQCG1ciMZ6HbO_8jk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "input",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1EurcVU7DdQFiPjXhvzqWqtKfr2aQCG1ciMZ6HbO_8jk/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $json.row_number }}",
            "input": "={{ $json.company_input }}",
            "domain": "={{ $json.domain }}",
            "linkedinUrl": "={{ $json.linkedinUrl }}",
            "has_free_trial": "={{ $json.has_free_trial }}",
            "cheapest_plan": "={{ $json.cheapest_plan }}",
            "has_entreprise_plan": "={{ $json.has_enterprise_plan }}",
            "last_case_study_link": "={{ $json.case_study_link }}",
            "market": "={{ $json.market }}",
            "integrations": "={{ $json.integrations }}",
            "has_api": "={{ $json.has_API }}",
            "enrichment_status": "done"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "input",
              "displayName": "input",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "domain",
              "displayName": "domain",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "linkedinUrl",
              "displayName": "linkedinUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "has_free_trial",
              "displayName": "has_free_trial",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "cheapest_plan",
              "displayName": "cheapest_plan",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "has_entreprise_plan",
              "displayName": "has_entreprise_plan",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "last_case_study_link",
              "displayName": "last_case_study_link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "market",
              "displayName": "market",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "integrations",
              "displayName": "integrations",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "has_api",
              "displayName": "has_api",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "enrichment_status",
              "displayName": "enrichment_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        200,
        20
      ],
      "id": "68dd40f6-136b-4bc3-a196-f10e1d887b6b",
      "name": "Google Sheets1"
    },
    {
      "parameters": {
        "name": "get_website_content",
        "description": "This tool will return the text from the given URL. ",
        "workflowId": {
          "__rl": true,
          "value": "CCSPyyUj25veNRyM",
          "mode": "list",
          "cachedResultName": "get website content"
        },
        "responsePropertyName": "body",
        "specifyInputSchema": true,
        "jsonSchemaExample": "{\n\t\"url\": \"https://n8n.io/\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.2,
      "position": [
        -480,
        640
      ],
      "id": "c639a05c-d12e-4d4e-8f5d-610c736ecc85",
      "name": "Get website content"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -1000,
        900
      ],
      "id": "c388f025-240f-43cd-beee-1e028a953d89",
      "name": "Execute Workflow Trigger"
    },
    {
      "parameters": {
        "url": "={{ $json.query.url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -780,
        900
      ],
      "id": "2d1677ae-fc22-405d-bdcf-746f244545d0",
      "name": "visit website"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "body",
              "cssSelector": "html",
              "skipSelectors": "head"
            }
          ]
        },
        "options": {
          "cleanUpText": true
        }
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        -560,
        900
      ],
      "id": "6ddd5b87-c54d-4414-a309-6e8db5ead8e6",
      "name": "HTML"
    },
    {
      "parameters": {
        "content": "https://www.youtube.com/watch?v=w9fv5pgN5F0"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1340,
        -80
      ],
      "id": "1e35eeda-6173-4dab-b267-3cd60c0c606e",
      "name": "Sticky Note"
    }
  ],
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "domain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          },
          {
            "node": "AI Comapny Researcher",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Comapny Researcher",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "domain": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Comapny Researcher",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Comapny Researcher": {
      "main": [
        [
          {
            "node": "AI Researcher Output Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Researcher Output Data": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get website content": {
      "ai_tool": [
        [
          {
            "node": "AI Comapny Researcher",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "visit website",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "visit website": {
      "main": [
        [
          {
            "node": "HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "2f645b24-3727-4f7a-8806-052a83027f0d",
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-03-11T13:39:37.823Z",
      "createdAt": "2025-03-11T13:39:37.823Z",
      "role": "workflow:owner",
      "workflowId": "kfxPcb254leamk3o",
      "projectId": "SQnOb1XW8PKTppQP"
    }
  ],
  "tags": [
    {
      "updatedAt": "2025-03-15T18:54:26.296Z",
      "createdAt": "2025-03-15T18:54:26.296Z",
      "id": "LcKGzshuAfGAnTK9",
      "name": "Do sprawdzenia"
    }
  ]
}