backups/2025-11-26/agent_z_pami_ciami_c3f1soCFUSGLZRZb.json
{
  "updatedAt": "2025-07-01T12:33:58.529Z",
  "createdAt": "2025-06-09T12:36:22.814Z",
  "id": "c3f1soCFUSGLZRZb",
  "name": "Agent z pamięciami",
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ai-agent",
        "options": {}
      },
      "id": "a747c844-04fa-4208-bfea-dbf6b3c4429f",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -1520,
        60
      ],
      "webhookId": "f81a4a4e-f762-4ccf-9016-52ea75802665"
    },
    {
      "parameters": {
        "functionCode": "\nconst message = $json[\"body\"][\"message\"];\nconst userId = $json[\"body\"][\"userId\"];\nreturn [{ json: { message, userId } }];\n"
      },
      "id": "a245d3c6-3a97-4bcd-a85e-6636b35ef421",
      "name": "Extract Data",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -1280,
        60
      ]
    },
    {
      "parameters": {
        "url": "https://your-database-api.com/fetch-ltm",
        "options": {},
        "queryParametersUi": {
          "parameter": [
            {
              "name": "userId",
              "value": "={{$json[\"userId\"]}}"
            }
          ]
        }
      },
      "id": "efeffa6b-a476-4290-aeb7-f5de32268f16",
      "name": "Fetch LTM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -1020,
        -60
      ]
    },
    {
      "parameters": {
        "url": "https://your-database-api.com/fetch-stm",
        "options": {},
        "queryParametersUi": {
          "parameter": [
            {
              "name": "userId",
              "value": "={{$json[\"userId\"]}}"
            }
          ]
        }
      },
      "id": "a00518d5-5efb-4fb2-9453-6577003d7412",
      "name": "Fetch STM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -1020,
        160
      ]
    },
    {
      "parameters": {
        "functionCode": "\nconst stm = $items(0)[0].json;\nconst ltm = $items(1)[0].json;\nconst message = $items(2)[0].json.message;\n\nreturn [{\n  json: {\n    prompt: `Użytkownik napisał: \"${message}\". Oto jego krótka pamięć: ${stm.content}. Oto pamięć długoterminowa: ${ltm.content}. Odpowiedz na pytanie w sposób spójny i zgodny z jego historią.`\n  }\n}];\n"
      },
      "id": "e6911e76-74ce-4bf3-b716-b480f2726cd0",
      "name": "Build Prompt",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -780,
        60
      ]
    },
    {
      "parameters": {},
      "id": "0389ab40-0169-4ca4-bc0b-059e4ca61881",
      "name": "OpenAI GPT",
      "type": "n8n-nodes-base.openai",
      "typeVersion": 1,
      "position": [
        -520,
        60
      ]
    },
    {
      "parameters": {
        "url": "https://your-database-api.com/save-stm",
        "options": {}
      },
      "id": "43b2c495-5806-452e-a4bc-4ad365faf10c",
      "name": "Update STM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -280,
        -60
      ]
    },
    {
      "parameters": {
        "url": "https://your-database-api.com/update-ltm",
        "options": {}
      },
      "id": "05f0c73b-7dcf-4a33-bb12-d2e52be3107b",
      "name": "Update LTM (Feedback)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -280,
        160
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "52858945-7c79-4f6f-bbfe-ec22015eae87",
      "name": "Return to User",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -20,
        60
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Extract Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Data": {
      "main": [
        [
          {
            "node": "Fetch LTM",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch STM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch STM": {
      "main": [
        [
          {
            "node": "Build Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "7faebbcc-c881-40da-9379-6b3cfd475cc5",
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-06-09T12:36:22.814Z",
      "createdAt": "2025-06-09T12:36:22.814Z",
      "role": "workflow:owner",
      "workflowId": "c3f1soCFUSGLZRZb",
      "projectId": "SQnOb1XW8PKTppQP"
    }
  ],
  "tags": []
}