backups/2025-11-26/ai_sdr_iWCMESqrSfdZIpOp.json
{
  "updatedAt": "2025-07-18T08:40:45.759Z",
  "createdAt": "2025-07-18T08:35:46.555Z",
  "id": "iWCMESqrSfdZIpOp",
  "name": "AI SDR",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "a26e2e42-81c8-4244-83b8-f5c82207a858",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "https://api.bedrijfsdata.nl/v1.1/companies",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "api_key",
              "value": "YOUR API KEY"
            },
            {
              "name": "rows",
              "value": "1"
            },
            {
              "name": "sbi",
              "value": "{{INDUSTRY}}"
            },
            {
              "name": "limit",
              "value": "1"
            },
            {
              "name": "office_type",
              "value": "Hoofdvestiging"
            },
            {
              "name": "data_exists",
              "value": "url"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        688,
        0
      ],
      "id": "8ad2684a-c90a-4abf-9633-391da7b0ad8d",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "url": "https://api.bedrijfsdata.nl/v1.1/people",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "api_key",
              "value": "YOUR API KEY"
            },
            {
              "name": "company_id",
              "value": "={{ $json.companies[0].id }}"
            },
            {
              "name": "job_title",
              "value": "ceo"
            },
            {
              "name": "limit",
              "value": "1"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        928,
        0
      ],
      "id": "9b98470c-a2e0-4a7f-843e-c2692eeba832",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "ou are an expert in extracting and analyzing business information from publicly available online sources. Your role is to interpret information found across the internet about a specific company to identify key elements such as testimonials, recent growth, and success stories. Your responses must be concise, structured, and fully aligned with verified public data, avoiding assumptions or unsupported details. Deliver actionable and professional insights that directly address the requested categories, ensuring clarity and relevance in your output.",
              "role": "system"
            },
            {
              "content": "=Analyze the following publicly available online information about a company.\n\nExtract and organize the following insights:\n\nTestimonials: Identify any customer reviews, client quotes, or feedback found in trusted sources (e.g. articles, case studies, review platforms). Present them as a list.\n\nRecent Growth: Highlight any mentions of company milestones, achievements, or performance metrics (e.g. revenue growth, customer acquisition numbers, product launches) reported online.\n\nSuccess Stories: Extract examples or case studies of how the company has helped its clients, showcasing measurable results or significant impacts from reliable online sources.\n\nEnsure the output is structured clearly under the headings: Testimonials, Recent Growth, and Success Stories. Only include content that is relevant and verifiable.\n\nIf no information for a category is found, leave that section empty."
            },
            {
              "content": "={{ $('Perplexity').item.json.plainText }}"
            }
          ]
        },
        "options": {}
      },
      "id": "6b10d8fb-6ffa-4f7c-b58c-2d0323f843b9",
      "name": "Get Recent/Growth/Milestones.",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.7,
      "position": [
        1440,
        0
      ],
      "credentials": {
        "openAiApi": {
          "id": "EJgMjh9fB0j2lVkm",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Add the information you have gathered here",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "Add your cold email template here"
            }
          ]
        }
      },
      "id": "43afd5f1-3dbf-4dde-9af8-06863d0039af",
      "name": "Write Cold Email",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        1872,
        0
      ]
    },
    {
      "parameters": {
        "model": "anthropic/claude-3.5-sonnet-20240620",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1760,
        224
      ],
      "id": "ffde90b6-637d-42a7-8099-e03fbbd3fd9f",
      "name": "OpenRouter Chat Model"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an AI assistant helping with sales automation. You will be given the full content of a Google Doc that describes the Ideal Customer Profile (ICP) for a product or service.\n\nYour task is to extract the following three key pieces of information from the text:\n\n1. **Industry** – What industry or industries the ideal customer is in  \n2. **Job Title** – The job titles or roles typically targeted  \n3. **Revenue** – The typical revenue range or company size\n\nRespond in this structured JSON format:\n{\n  \"industry\": \"...\",\n  \"job_title\": \"...\",\n  \"revenue\": \"...\"\n}\n\nUse the Google doc tool to get the information",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        224,
        0
      ],
      "id": "d6739d47-f3c5-4515-9871-def47fc4aa7e",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        192,
        224
      ],
      "id": "672a29b5-5354-463d-a7e0-96107dfc8bbd",
      "name": "OpenRouter Chat Model3"
    },
    {
      "parameters": {
        "messages": {
          "message": [
            {}
          ]
        },
        "options": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.perplexity",
      "typeVersion": 1,
      "position": [
        1200,
        0
      ],
      "id": "7286c1d3-c3ee-4cf1-ab1c-5fd4be3717c6",
      "name": "Perplexity"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.googleDocsTool",
      "typeVersion": 2,
      "position": [
        400,
        224
      ],
      "id": "b8bafb47-38f6-470b-bd6c-ec0f6faa77f4",
      "name": "Create a document in Google Docs",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "7i0obNHThmVJMNP4",
          "name": "Google Docs account"
        }
      }
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Perplexity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Recent/Growth/Milestones.": {
      "main": [
        [
          {
            "node": "Write Cold Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Write Cold Email",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Perplexity": {
      "main": [
        [
          {
            "node": "Get Recent/Growth/Milestones.",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a document in Google Docs": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "f1f49dc0-28b4-4ce9-ac83-8ab671d6f503",
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-07-18T08:35:46.555Z",
      "createdAt": "2025-07-18T08:35:46.555Z",
      "role": "workflow:owner",
      "workflowId": "iWCMESqrSfdZIpOp",
      "projectId": "SQnOb1XW8PKTppQP"
    }
  ],
  "tags": [
    {
      "updatedAt": "2025-03-15T18:54:26.296Z",
      "createdAt": "2025-03-15T18:54:26.296Z",
      "id": "LcKGzshuAfGAnTK9",
      "name": "Do sprawdzenia"
    }
  ]
}