backups/2025-11-26/analiza_lead_w.json
{
  "updatedAt": "2025-03-15T18:59:07.464Z",
  "createdAt": "2025-03-10T12:24:13.982Z",
  "id": "jMdJslR4AWQwMhIk",
  "name": "Analiza Leadów",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1sIuSSODGur5_2YifUiZCx6LLF-nCp0r6ZSeRLijIREc",
          "mode": "list",
          "cachedResultName": "Analiza Leadów",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1sIuSSODGur5_2YifUiZCx6LLF-nCp0r6ZSeRLijIREc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 266429732,
          "mode": "list",
          "cachedResultName": "LeadyDoAnalizy",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1sIuSSODGur5_2YifUiZCx6LLF-nCp0r6ZSeRLijIREc/edit#gid=266429732"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "processed",
              "lookupValue": "false"
            }
          ]
        },
        "options": {}
      },
      "name": "Pobierz Nieanalizowane Leady",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        -1060,
        -60
      ],
      "id": "06956795-ef84-4330-a91d-559fba7336ba",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "0AifnrCkRyhR2h3u",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://chrome.browserless.io/screenshot",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"url\": \"{{$json.id}}\",\n  \"options\": {\n    \"fullPage\": true,\n    \"type\": \"jpeg\",\n    \"quality\": 80\n  },\n  \"viewport\": {\n    \"width\": 1280,\n    \"height\": 800\n  }\n}",
        "options": {
          "response": {}
        }
      },
      "name": "Generuj Zrzut Ekranu Desktop",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        -160,
        -180
      ],
      "id": "15491af7-7b69-42ee-b09d-fa9ce859f632",
      "credentials": {
        "httpQueryAuth": {
          "id": "76ZuI4InQjTNQ8E5",
          "name": "Query Auth account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://chrome.browserless.io/screenshot",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"url\": \"{{$json.id}}\",\n  \"options\": {\n    \"fullPage\": true,\n    \"type\": \"jpeg\",\n    \"quality\": 80\n  },\n  \"viewport\": {\n    \"width\": 390,\n    \"height\": 844,\n    \"deviceScaleFactor\": 2,\n    \"isMobile\": true,\n    \"hasTouch\": true\n  },\n  \"userAgent\": \"Mozilla/5.0 (iPhone; CPU iPhone OS 13_2_3 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/13.0.3 Mobile/15E148 Safari/604.1\"\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "name": "Generuj Zrzut Ekranu Mobile",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        -160,
        20
      ],
      "id": "943194b8-37e3-4bf6-9a1b-295c2645ed2b",
      "credentials": {
        "httpQueryAuth": {
          "id": "76ZuI4InQjTNQ8E5",
          "name": "Query Auth account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1sIuSSODGur5_2YifUiZCx6LLF-nCp0r6ZSeRLijIREc",
          "mode": "list",
          "cachedResultName": "Analiza Leadów",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1sIuSSODGur5_2YifUiZCx6LLF-nCp0r6ZSeRLijIREc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 266429732,
          "mode": "list",
          "cachedResultName": "LeadyDoAnalizy",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1sIuSSODGur5_2YifUiZCx6LLF-nCp0r6ZSeRLijIREc/edit#gid=266429732"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "processed"
          ],
          "schema": [
            {
              "id": "rowNumber",
              "displayName": "rowNumber",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "companyName",
              "displayName": "companyName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "domain",
              "displayName": "domain",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "industry",
              "displayName": "industry",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "contactName",
              "displayName": "contactName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "contactEmail",
              "displayName": "contactEmail",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "contactTitle",
              "displayName": "contactTitle",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "processed",
              "displayName": "processed",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "output",
              "displayName": "output",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "aiAnalysis",
              "displayName": "aiAnalysis",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "emailSubject",
              "displayName": "emailSubject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "emailReady",
              "displayName": "emailReady",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "screenshotDesktopBase64",
              "displayName": "screenshotDesktopBase64",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "screenshotMobileBase64",
              "displayName": "screenshotMobileBase64",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "name": "Oznacz jako Przetworzony",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        580,
        -60
      ],
      "id": "64883f0c-85b0-4508-ae23-da44ebccc0de",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "0AifnrCkRyhR2h3u",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "name": "Schedule Trigger4",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        -1280,
        -60
      ],
      "id": "bbe798e4-8125-4757-86d6-f7c75f04e674"
    },
    {
      "parameters": {
        "options": {}
      },
      "name": "Rozdziel Firmy1",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 2,
      "position": [
        -840,
        -60
      ],
      "id": "29287b88-e068-41ed-b2d1-0a697302d366"
    },
    {
      "parameters": {
        "url": "=https://www.googleapis.com/pagespeedonline/v5/runPagespeed?url=https://ekgautoserwis.pl&category=performance&strategy=mobile&key=AIzaSyBJtdjmWo1U_B0TxPPos6oItQRdkL8RCX0",
        "options": {
          "timeout": 90000
        }
      },
      "name": "PageSpeed API1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        -400,
        -60
      ],
      "id": "3aca5f0e-7977-4a3d-b2d3-49219edff77d"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1sIuSSODGur5_2YifUiZCx6LLF-nCp0r6ZSeRLijIREc",
          "mode": "list",
          "cachedResultName": "Analiza Leadów",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1sIuSSODGur5_2YifUiZCx6LLF-nCp0r6ZSeRLijIREc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 199274645,
          "mode": "list",
          "cachedResultName": "WynikiAnalizy",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1sIuSSODGur5_2YifUiZCx6LLF-nCp0r6ZSeRLijIREc/edit#gid=199274645"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {
            "domain": "={{ $('Rozdziel Firmy1').item.json.domain }}",
            "industry": "={{ $('Rozdziel Firmy1').item.json.industry }}",
            "contactName": "={{ $('Rozdziel Firmy1').item.json.contactName }}",
            "contactEmail": "={{ $('Rozdziel Firmy1').item.json.contactEmail }}",
            "contactTitle": "={{ $('Rozdziel Firmy1').item.json.contactTitle }}",
            "performanceMobile": "={{$json[\"metrics\"][\"mobile\"][\"performance\"]}}",
            "accessibilityMobile": "={{$json[\"metrics\"][\"mobile\"][\"accessibility\"]}}",
            "seoMobile": "={{$json[\"metrics\"][\"mobile\"][\"seo\"]}}",
            "isResponsive": "={{$json[\"isResponsive\"]}}",
            "issues": "={{$json[\"issues\"].join(\", \")}}",
            "uxIssues": "={{$json[\"uxIssues\"].join(\", \")}}",
            "businessImpacts": "={{$json[\"businessImpacts\"].join(\", \")}}",
            "technicalScore": "={{$json[\"technicalScore\"]}}",
            "aiAnalysis": "={{$json[\"aiAnalysis\"]}}",
            "emailSubject": "={{$json[\"emailSubject\"]}}",
            "dateAnalyzed": "={{$json[\"dateAnalyzed\"]}}",
            "companyName": "={{ $('Rozdziel Firmy1').item.json.companyName }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "companyName",
              "displayName": "companyName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "domain",
              "displayName": "domain",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "industry",
              "displayName": "industry",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "contactName",
              "displayName": "contactName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "contactEmail",
              "displayName": "contactEmail",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "contactTitle",
              "displayName": "contactTitle",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "performanceMobile",
              "displayName": "performanceMobile",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "accessibilityMobile",
              "displayName": "accessibilityMobile",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "seoMobile",
              "displayName": "seoMobile",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "isResponsive",
              "displayName": "isResponsive",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "issues",
              "displayName": "issues",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "uxIssues",
              "displayName": "uxIssues",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "businessImpacts",
              "displayName": "businessImpacts",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "technicalScore",
              "displayName": "technicalScore",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "aiAnalysis",
              "displayName": "aiAnalysis",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "emailSubject",
              "displayName": "emailSubject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "dateAnalyzed",
              "displayName": "dateAnalyzed",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "emailSent",
              "displayName": "emailSent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "output",
              "displayName": "output",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "emailReady",
              "displayName": "emailReady",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "processed",
              "displayName": "processed",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "screenshotDesktopBase64",
              "displayName": "screenshotDesktopBase64",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "screenshotMobileBase64",
              "displayName": "screenshotMobileBase64",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "rowNumber",
              "displayName": "rowNumber",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "bestPracticesMobile",
              "displayName": "bestPracticesMobile",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "metrics",
              "displayName": "metrics",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "readyForAI",
              "displayName": "readyForAI",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "screenshots",
              "displayName": "screenshots",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "pagespeedResult",
              "displayName": "pagespeedResult",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "podsumowanie",
              "displayName": "podsumowanie",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "problemWydajnosc",
              "displayName": "problemWydajnosc",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "problemDostepnosc",
              "displayName": "problemDostepnosc",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "problemSEO",
              "displayName": "problemSEO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "rekomendacjaWydajnosc",
              "displayName": "rekomendacjaWydajnosc",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "rekomendacjaDostepnosc",
              "displayName": "rekomendacjaDostepnosc",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "rekomendacjaSEO",
              "displayName": "rekomendacjaSEO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "cellFormat": "USER_ENTERED"
        }
      },
      "name": "Zapisz Wyniki Analizy1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        420,
        -60
      ],
      "id": "1f27d65b-932a-427b-ada4-73f9351aff5f",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "0AifnrCkRyhR2h3u",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Logowanie wszystkich danych wejściowych\nconsole.log(\"Wszystkie elementy wejściowe:\", $input.all().map(item => Object.keys(item.json)));\n\n// Znajdź dane firmy\nlet companyData = {};\nconst allItems = $input.all();\n\n// Szukaj danych firmy w każdym elemencie\nfor (const item of allItems) {\n  if (item.json.originalData) {\n    companyData = item.json.originalData;\n    console.log(\"Znaleziono dane firmy:\", companyData);\n    break;\n  }\n}\n\n// Analiza danych PageSpeed\nlet performanceMobile = 0;\nlet accessibilityMobile = 0;\nlet seoMobile = 0;\n\n// Pobierz metryki PageSpeed API\ntry {\n  // Sprawdź, czy dane PageSpeed są dostępne\n  const pageSpeedData = $input.item.json.lighthouseResult || {};\n  \n  if (pageSpeedData.categories) {\n    const categories = pageSpeedData.categories;\n    \n    if (categories.performance) {\n      performanceMobile = Math.round(categories.performance.score * 100);\n    }\n    \n    if (categories.accessibility) {\n      accessibilityMobile = Math.round(categories.accessibility.score * 100);\n    }\n    \n    if (categories.seo) {\n      seoMobile = Math.round(categories.seo.score * 100);\n    }\n  }\n} catch (e) {\n  console.log(\"Błąd analizy PageSpeed:\", e.message);\n}\n\n// Obliczanie wyniku technicznego\nconst technicalScore = ((performanceMobile + accessibilityMobile + seoMobile) / 3).toFixed(2);\n\n// Przygotowanie sekcji raportu\nconst podsumowanie = \"Analiza strony wykazała znaczące problemy z wydajnością, dostępnością oraz SEO, co negatywnie wpływa na doświadczenia użytkowników. Obniżone wyniki w tych obszarach mogą skutkować stratami w konwersji i osłabieniem pozycji na rynku.\";\nconst problemWydajnosc = `Niska wydajność (${performanceMobile}/100): Strona osiąga niskie wyniki w metryce wydajności, co skutkuje długim czasem ładowania. Użytkownicy mogą opuszczać stronę przez frustrację.`;\nconst problemDostepnosc = `Problemy z dostępnością (${accessibilityMobile}/100): Strona nie spełnia standardów dostępności, co wyklucza część użytkowników i może naruszać przepisy o dostępności.`;\nconst problemSEO = `Niedostateczna optymalizacja SEO (${seoMobile}/100): Niskie wyniki SEO wskazują na problemy z indeksacją strony przez wyszukiwarki, co ogranicza organiczny ruch.`;\n\n// Rekomendacje\nconst rekomendacjaWydajnosc = \"Optymalizacja obrazów, redukcja plików CSS/JS, użycie CDN. Poziom trudności: Średni.\";\nconst rekomendacjaDostepnosc = \"Implementacja WAI-ARIA, przeprowadzenie audytu dostępności. Poziom trudności: Średni.\";\nconst rekomendacjaSEO = \"Optymalizacja treści, metadanych i struktury linków. Poziom trudności: Wysoki.\";\n\n// Tworzenie finalnego wyniku\nconst result = {\n  // Dane firmy\n  companyName: companyData.companyName || 'Unknown',\n  domain: companyData.domain || 'Unknown',\n  industry: companyData.industry || 'Unknown',\n  contactName: companyData.contactName || 'Unknown',\n  contactEmail: companyData.contactEmail || 'Unknown',\n  contactTitle: companyData.contactTitle || 'Unknown',\n  \n  // Metryki wydajności\n  performanceMobile,\n  accessibilityMobile,\n  seoMobile,\n  technicalScore,\n  isResponsive: true,\n  \n  // Sekcje raportu\n  podsumowanie,\n  problemWydajnosc,\n  problemDostepnosc,\n  problemSEO,\n  rekomendacjaWydajnosc,\n  rekomendacjaDostepnosc,\n  rekomendacjaSEO,\n  \n  // Pozostałe dane\n  issues: \"\",\n  dateAnalyzed: new Date().toISOString(),\n  emailSubject: `Analiza strony ${companyData.domain || 'Unknown'} - potencjalne usprawnienia`,\n  emailReady: true,\n  processed: true\n};\n\n// Logowanie wyniku przed zwróceniem\nconsole.log(\"Dane wynikowe:\", Object.keys(result));\n\nreturn {json: result};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        260,
        -60
      ],
      "id": "5e5d55f7-48d8-4d82-8807-243ff530b95e",
      "name": "Code1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        60,
        -60
      ],
      "id": "fe9fa750-a560-4c3b-bd0a-452e736e4fa9",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "// Zapisz dane firmy\nconst companyData = {\n  companyName: $input.item.json.companyName,\n  domain: $input.item.json.domain,\n  industry: $input.item.json.industry,\n  contactName: $input.item.json.contactName,\n  contactEmail: $input.item.json.contactEmail,\n  contactTitle: $input.item.json.contactTitle\n};\n\n// Tworzymy adres URL dla PageSpeed API\nconst domain = $input.item.json.domain;\nconst pageSpeedUrl = `https://${domain}`;\n\n// Zwróć dane dla PageSpeed API\nreturn {\n  json: {\n    originalData: companyData,\n    domain: domain,\n    pageSpeedUrl: pageSpeedUrl\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -580,
        -60
      ],
      "id": "c67d49c2-76dc-4208-af95-4307db75334b",
      "name": "Code"
    }
  ],
  "connections": {
    "Pobierz Nieanalizowane Leady": {
      "main": [
        [
          {
            "node": "Rozdziel Firmy1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generuj Zrzut Ekranu Desktop": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger4": {
      "main": [
        [
          {
            "node": "Pobierz Nieanalizowane Leady",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rozdziel Firmy1": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PageSpeed API1": {
      "main": [
        [
          {
            "node": "Generuj Zrzut Ekranu Desktop",
            "type": "main",
            "index": 0
          },
          {
            "node": "Generuj Zrzut Ekranu Mobile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Zapisz Wyniki Analizy1": {
      "main": [
        [
          {
            "node": "Oznacz jako Przetworzony",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generuj Zrzut Ekranu Mobile": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Zapisz Wyniki Analizy1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "PageSpeed API1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "2ead39ac-439b-41d2-8d43-9db79bc36310",
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-03-10T12:24:13.982Z",
      "createdAt": "2025-03-10T12:24:13.982Z",
      "role": "workflow:owner",
      "workflowId": "jMdJslR4AWQwMhIk",
      "projectId": "SQnOb1XW8PKTppQP"
    }
  ],
  "tags": [
    {
      "updatedAt": "2025-03-15T18:55:04.496Z",
      "createdAt": "2025-03-15T18:55:04.496Z",
      "id": "hv9Sn3eOxS1IkEIE",
      "name": "Do Edycji"
    }
  ]
}