backups/2025-11-26/artyku__badawczy_z_seo_o9fr0xi11g88aJbn.json
{
  "updatedAt": "2025-07-01T12:14:31.876Z",
  "createdAt": "2025-03-13T07:34:19.172Z",
  "id": "o9fr0xi11g88aJbn",
  "name": "Artykuł badawczy z SEO",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {
          "responseFormat": "json_object"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1900,
        300
      ],
      "id": "72c7487b-57e3-459c-934c-076fe170c4ea",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "EJgMjh9fB0j2lVkm",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "agent": "reActAgent",
        "promptType": "define",
        "text": "=Provide upto MAX_QUERIES queries to collect in depth research data for Topic inferred from users query in JSON format\n\nMAX_QUERIES: 20 + users inferred query\n\nUser's chat message: {{ $json.chatInput }}\n\n- Users original query inferred must be included in your response in addition  - This is in addition to the to the MAX_QUERIES above  \n  - For example if the user says \"write an article about x topic\", x topic MUST also be addred to the MAX_QUERIES ABOVE.\n  - it must not be exactly the users chat message, because user can ask about \"write about x\" but the query will be just x AND NOT just \"x\" \n - Do not say users inferred query in the inferred query just the specific query that will when searched on google will retreive the results to fulfill what the user wants.\n\n\nexample output:\n{\n  queries: \n}\n\nLets think step by step\n\n",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -1760,
        80
      ],
      "id": "8a22c80b-9fbb-4bad-b51b-537eae66b23b",
      "name": "Query Creation Agent"
    },
    {
      "parameters": {
        "toolDescription": "Searches google for the given query.\n\nqdr:w for searching within the week - to get pages in last week.\n",
        "method": "POST",
        "url": "https://google.serper.dev/search",
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "X-API-KEY",
              "valueProvider": "fieldValue",
              "value": "36b7a81fd0cd60b5c83e28d683acbb2a33e66446"
            },
            {
              "name": "Content-Type",
              "valueProvider": "fieldValue",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "parametersBody": {
          "values": [
            {
              "name": "q"
            },
            {
              "name": "num",
              "valueProvider": "fieldValue",
              "value": "3"
            },
            {
              "name": "tbs",
              "valueProvider": "modelOptional"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        -1200,
        460
      ],
      "id": "e6217269-8e83-4a25-9d10-d3545e25deb3",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -2020,
        80
      ],
      "id": "74a202ca-3025-40e2-b45f-6b22ef0853b1",
      "name": "When chat message received",
      "webhookId": "608e872a-5040-4a80-98fc-4657674ae1dd"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Objective: Generate a research report in Markdown format based ONLY on the content extracted from the provided webpages, to answer the research query and users original query.\n\n\nOutput:\nResearch Query: {{ $json.query }}\n{Answer for the query} - These must directly answer the research query - no fluff\nRelated information that can be used to answer users original query or fulfill users task: \nUsers Original Query: {{ $('When chat message received').item.json.chatInput }}\n{Related content you originally have not asked but tighly related to the query}\n\n\nMandatory Rules:\n\t1.\tSource URLS must be cited inline in context similar to perplexity as inline markdown links\n\t\t•\tYou MUST ALSO generate a list of source URLs at the end of the report.\n\t2.\tCitations Handling:\n\t\t•\tIf the extracted content mentions citations or external links (e.g., a study, report, or other references), those MUST be preserved as Markdown links.\n\t\t•\tCite the original webpage as source itself in addition to the citations in the webpage content.\n\t3.\tReport Formatting:\n\t\t•\tNo preamble or postamble (e.g., do not include introductions, disclaimers, or conclusions outside the extracted content).\n\t\t•\tThe research report MUST strictly adhere to the structure and information from the extracted webpage.\n\t\t•\tDo NOT add analysis, opinions, or information beyond what is directly found in the content.\n\nDo not say according to or anything similar citing to the source webpage, simply state the information based on the webpage content extracted and add a citation link.\n\n\nLinks to visit and extract information for query:\n{{$json.toJsonString()}}\n\n",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are a website content extraction agent to collect the data from researched url, that converts the web page content into structured reports, for the research query and user query given.",
          "maxIterations": 20
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -540,
        80
      ],
      "id": "f00e9968-7592-43c9-ae6e-eadcc8990248",
      "name": "Scrape Agent"
    },
    {
      "parameters": {
        "toolDescription": "Call this tool to get the content of the url link",
        "method": "POST",
        "url": "https://scrape.serper.dev/",
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "X-API-KEY",
              "valueProvider": "fieldValue",
              "value": "36b7a81fd0cd60b5c83e28d683acbb2a33e66446"
            },
            {
              "name": "Content-Type",
              "valueProvider": "fieldValue",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "parametersBody": {
          "values": [
            {
              "name": "url"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        -360,
        420
      ],
      "id": "4bd033bc-8cb3-4322-94bf-4eb558d76227",
      "name": "Visit Website Tool"
    },
    {
      "parameters": {
        "fieldToSplitOut": "queries",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -740,
        80
      ],
      "id": "16c0265a-e870-4d10-9ac1-4f9d8d28db45",
      "name": "Split Out"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bc69cdca-0070-49c3-9588-75d51101b41f",
              "name": "queries",
              "value": "={{ $json.output }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -960,
        80
      ],
      "id": "1fe50642-598b-4b44-b8da-076d3b8db161",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"$schema\": \"http://json-schema.org/draft-07/schema#\",\n  \"type\": \"array\",\n  \"items\": {\n    \"type\": \"object\",\n    \"properties\": {\n      \"query\": {\n        \"type\": \"string\",\n        \"description\": \"The search query or question asked.\"\n      },\n      \"links\": {\n        \"type\": \"array\",\n        \"items\": {\n          \"type\": \"string\",\n          \"description\": \"A link from the search results.\"\n        },\n        \"description\": \"An array of links retrieved from search results.\"\n      }\n    },\n    \"required\": [\"query\", \"links\"]\n  }\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        -1080,
        360
      ],
      "id": "97e6b30d-039c-43b6-b6af-da7c32e0c5ea",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=For each of these queries run a search and return the result urls\n{{ $json.output }}\n\nperform one search per query.\n\nToday {{new Date()}} \n\nOutput in JSON:\n{\n  \"type\": \"array\",\n  \"items\": {\n    \"type\": \"object\",\n    \"properties\": {\n      \"query\": {\n        \"type\": \"string\",\n        \"description\": \"The search query or question asked.\"\n      },\n      \"links\": {\n        \"type\": \"array\",\n        \"items\": {\n          \"type\": \"string\",\n          \"description\": \"A link from the search results.\"\n        },\n        \"description\": \"An array of links retrieved from search results.\"\n      }\n    },\n  }\n}\n\n",
        "hasOutputParser": true,
        "options": {
          "maxIterations": 100
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -1340,
        80
      ],
      "id": "248e2b4d-d0b6-4554-ad99-2555760ca8c4",
      "name": "Search Agent",
      "retryOnFail": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Create a comprehensive outline for the research report that will be merged to a bigger outline for the whole article \n\n\nWe have collected data for a research query for user task/query.\nResearch query: {{ $('Split Out').item.json.query }}\n\n\n- The outline MUST comprehensively cover all the points in the research data. Do not miss anything.\n- The outline must represent the research report given\n- Content should not mention other than current year where necessary to avoid mentioning past years Todays date is {{ new Date()}} \n\nTodays date is {{ new Date()}} \n\n\nOutput in JSON in this format:\n\nFirst section should be an engaging hook and concise intro. \n\nh1->h2s->h3s\n\n{\n  \"type\": \"object\",\n  \"properties\": {\n    \"h1\": {\n      \"type\": \"string\",\n      \"description\": \"The catchy title of the article.\"\n    },\n    \"h2\": {\n      \"type\": \"array\",\n      \"description\": \"An array of main sections in the article.\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"heading\": {\n            \"type\": \"string\",\n            \"description\": \"Title of the main section.\"\n          },\n          \"h3\": {\n            \"type\": \"array\",\n            \"description\": \"An array of subsections within the main section.\",\n            \"items\": {\n              \"type\": \"object\",\n              \"properties\": {\n                \"subheading\": {\n                  \"type\": \"string\",\n                  \"description\": \"Title of the subsection.\"\n                },\n                \"points_to_cover\": {\n                  \"type\": \"array\",\n                  \"description\": \"Key points that need to be covered within the subsection.\",\n                  \"items\": {\n                    \"type\": \"string\"\n                  }\n                }\n              },\n              \"required\": [\"subheading\", \"points_to_cover\"]\n            }\n          }\n        },\n        \"required\": [\"heading\", \"h3\"]\n      }\n    }\n  },\n  \"required\": [\"h1\", \"h2\"]\n}\n\n<research_report_to_outline>\n{{ $json.output }}\n</research_report_to_outline>",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You're an expert outline enricher. \nYour goal is to enrich existing outline with blocks of research data that will be provided to you.\nYou must only enrich and not replace the outline.\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -100,
        460
      ],
      "id": "3b8c909e-641e-428c-9cf3-43c98b87e68f",
      "name": "Outlining Agent"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"h1\": {\n      \"type\": \"string\",\n      \"description\": \"The catchy title of the article.\"\n    },\n    \"h2\": {\n      \"type\": \"array\",\n      \"description\": \"An array of main sections in the article.\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"heading\": {\n            \"type\": \"string\",\n            \"description\": \"Title of the main section.\"\n          },\n          \"h3\": {\n            \"type\": \"array\",\n            \"description\": \"An array of subsections within the main section.\",\n            \"items\": {\n              \"type\": \"object\",\n              \"properties\": {\n                \"subheading\": {\n                  \"type\": \"string\",\n                  \"description\": \"Title of the subsection.\"\n                },\n                \"points_to_cover\": {\n                  \"type\": \"array\",\n                  \"description\": \"Key points that need to be covered within the subsection.\",\n                  \"items\": {\n                    \"type\": \"string\"\n                  }\n                }\n              },\n              \"required\": [\"subheading\", \"points_to_cover\"]\n            }\n          }\n        },\n        \"required\": [\"heading\", \"h3\"]\n      }\n    }\n  },\n  \"required\": [\"h1\", \"h2\"]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        100,
        740
      ],
      "id": "0cdfc9f8-f555-48ea-9d0e-64cd0390b2b4",
      "name": "Structured Output Parser3"
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "concatenate",
              "field": "output",
              "separateBy": "\n"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1.1,
      "position": [
        200,
        540
      ],
      "id": "59c84838-fbfc-420b-a8a1-c0fbe0a224cf",
      "name": "Concat outlines"
    },
    {
      "parameters": {
        "mode": "markdownToHtml",
        "markdown": "={{ $json.concatenated_output }}",
        "destinationKey": "html",
        "options": {}
      },
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1,
      "position": [
        1980,
        960
      ],
      "id": "810a5e43-e223-4344-94aa-2a8604a34c79",
      "name": "Markdown1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {
          "responseFormat": "json_object"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -100,
        720
      ],
      "id": "0ff804d2-2192-422d-a50c-60d63fa65aa1",
      "name": "OpenAI Chat Model4",
      "credentials": {
        "openAiApi": {
          "id": "EJgMjh9fB0j2lVkm",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"h1\": {\n      \"type\": \"string\",\n      \"description\": \"The catchy title of the article.\"\n    },\n    \"h2\": {\n      \"type\": \"array\",\n      \"description\": \"An array of main sections in the article.\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"heading\": {\n            \"type\": \"string\",\n            \"description\": \"Title of the main section.\"\n          },\n          \"h3\": {\n            \"type\": \"array\",\n            \"description\": \"An array of subsections within the main section.\",\n            \"items\": {\n              \"type\": \"object\",\n              \"properties\": {\n                \"subheading\": {\n                  \"type\": \"string\",\n                  \"description\": \"Title of the subsection.\"\n                },\n                \"points_to_cover\": {\n                  \"type\": \"array\",\n                  \"description\": \"Key points that need to be covered within the subsection.\",\n                  \"items\": {\n                    \"type\": \"string\"\n                  }\n                }\n              },\n              \"required\": [\"subheading\", \"points_to_cover\"]\n            }\n          }\n        },\n        \"required\": [\"heading\", \"h3\"]\n      }\n    }\n  },\n  \"required\": [\"h1\", \"h2\"]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        540,
        960
      ],
      "id": "4ad5664d-938c-4114-9be1-5e03d3527192",
      "name": "Structured Output Parser5"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an excellent seo section writer for an article preserving links from the research data titled:\n{{ $json.article_outline.h1 }} \n\nYOU MUST FOLLOW THE OUTLINE GIVEN FOR THE SECTION AND FOLLOWING THE WHOLE ARTICLE OUTLINE.\n\nYOU MUST INCLUDE PERPLEXITY LIKE INLINE MARKDOWN CITATIONS, TO THE CONTENT BEING WRITTEN.\n\nYOU MUST NOT ADD example links or fake links as citations, these must be from the research data given.\n\nWhere it says Engaging hook, REPLACE this with actual engaging hook and YOU MUST NOT ADD \"Engaging Hook\" as the heading.\n\nYour task is to write the given section for the larger article following the provided outline.\n \nOutput: OUTPUT must be in markdown.\n\nYOU MUST FOLLOW THE OUTLINE GIVEN FOR THE SECTION AND FOLLOWING THE WHOLE ARTICLE OUTLINE.\n\nYOU MUST INCLUDE INLINE MARKDOWN CITATIONS.\n\n\n\nSteps:\n1. Look at the section outline and understand the outline to adhere to\n2. Look at the research data to see what can be pulled in to write this section\n3. Write the section adhering to the research data.\n4. Look a the research content which you are using to write content, to see if it has a markdown link source citation, if so use that same link to cite the generated section content, using a perplexity like citation format.\n\n\n\n🚨 Mandatory Constraints (STRICT RULES)\n\n1️. Only Write the Section\n\t•\tDo NOT add introductions, conclusions, or summaries beyond the section itself, unless the section being written is introduction. These sections are part of a larger article.\n\n2.  Write Content Based on Research Data following the outline to the tee. Include the h2s and h3s and points to cover, and any sub bullet points.\n\t•\tExpand on the provided section, and points to cover  using the research data and using the outline.\n\t•\tYou MAY add your own knowledge ONLY IF it does NOT conflict with the research data.\n\n3️. Markdown Formatting\n\t•\tThe output MUST be in Markdown format.\n\t•\tDO NOT add preambles, postambles, or unnecessary Markdown wrappers.\n4. You MUST add include any citations from the research report to be included in the article as markdown links.\nFor example:\n\nYOU MUST INCLUDE INLINE MARKDOWN CITATIONS FROM THE RESEARCH DATA.\n\nFor example (Perplexity like) 1, 2 etc must be in markdown superscript: \nSome text [1](sourcelink in research data)\n\n\nYOU MUST NOT ADD example links or fake links as citations, these must be from the research data given.\n\n\t•\tYou MUST carry it over exactly as-is into the section without modification.\n\t•\tDO NOT create new citations if they do not exist in the provided research.\n\n<section_to_write>\n{{ $json.heading }}\n{{ $json.h3.toJsonString() }}\n</section_to_write>\n\n<whole_article_outline>\n{{ $json.article_outline_string }}\n</whole_article_outline>\n\nYOU MUST INCLUDE INLINE MARKDOWN CITATIONS FROM BELOW.\n<research_data>\n{{ $json.concatenated_output }}\n</research_data>\n\n\nCONTENT WRITTEN MUST INCLUDE THE LINKS FROM THE RESEARCH DATA as MARKDOWN CITATIONS IN THE FOLLOWING FORMAT:\n\n🚨 ABSOLUTE RULE: UNDER NO CIRCUMSTANCES ADD ANY EXAMPLE OR FAKE LINKS. 🚨  \nYOU MUST ONLY USE LINKS FROM THE PROVIDED RESEARCH DATA. IF NO LINKS EXIST, DO NOT ADD ANY.  \n\n🚫🚫 FAILURE RULE 🚫🚫  \n- If there is no link in the research data, DO NOT GUESS OR ADD ANY LINK.  \n- If you cannot find a citation, OMIT THE CITATION. DO NOT CREATE A PLACEHOLDER.  \n- Fake links (example.com, research_data_link, placeholder.com) will result in AUTOMATIC FAILURE.  \n\n✅ Research Data Contains This:\n\nSome information [citation link](source http link in research data)[citation link 2](source http link in research data)\n\n✅ Correct Output in the Section:\n\nSome information [1](source http link in research data), [2](source http link in research data) - source link must b replaced by actual link from research data.\n\nsource http link in research data needs to be replaced with the actual link cited in the research data.\n\n🚫 Incorrect (Adding Fake Citations):\n\nMany businesses are rapidly integrating AI into their operations. AI adoption has increased significantly [1](https://fake-study.com) <-- no such link in research data.\n\n✅ STRICT CHECK:  \n- If a citation is needed, extract the exact source link from the research data.  \n- DO NOT generate citations if none exist.  \n- If a citation exists, the structure should be:  \n  Some information [1](actual-link-from-research-data), [2](actual-link-from-research-data)  \n- The \"actual-link-from-research-data\" must be taken 100% as it appears in the research data.  \n\n\nWriting rules:\n- Use hemingwayapp readability rules to make the section readable\n- Content must be easily scannable. And provide the best user experience\n\nSUPER IMPORTANT!\nYOU MUST NOT ADD LINKS THAT ARE NOT PRESENT IN THE RESEARCH DATA.\nAGAIN YOU MUST NOT ADD LINKS LIKE example.com, or fake links in the content. OR SAY research_data_link etc.\nhttps://example.com/research-data2.\nor anything link this.\n\nThis should be the actual links from research data.\n\nIMPORTANT!\n1. You MUST strictly adhere to the full article outline provided and the section outline provided.\n2. You MUST fact check referring to the research data provided.\n3. You MUST only write with the content in the research data. You MUST not add any external knowledge or assumptions. If you were to form your own opinions rely solely on the research data provided.\n4. Do not make up case studies or be creative. Write only what is in the research data.\n5. Use simple language and avoid Jargons and Cliches.\n6. Do not say things like \"in the digital landscape\", \"elevate\" etc.\n7. Use transition words and phrases between paragraphs to improve flow.\n8. You MUST include external links and references in the content from the research data when you're writing content around that research data.\n9. You MUST NOT include any preamble or postamble in your response such as \"Here is the content for the section\" or anything like that. Or a postamble such as \"In conclusion\" or \"Would you like to know more\" or anything like that.\n10. You MUST NOT include these blacklisted words in section \ncontent:\n    - \"crucial\"\n    - \"marketing landscape\"\n    - \"digital landscape\"\n    - \"anything with landscape\" unless the keyword is about landscaping or related to geography\n11. Use markdown tables whenever appropriate to make information clear.\n12. source http link in research data needs to be replaced with the actual link cited in the research data.\n13. All the citations from the research for the section data must be present in section content.\n\nNOW WRITE THE CONTENT WITH PERPLEXITY LIKE CITATIONS, REFERRING TO THE RESEARCH DATA.\n\n🚨 BLACKLISTED LINK PATTERNS (DO NOT USE UNDER ANY CIRCUMSTANCE)  \n- example.com  \n- placeholder.com  \n- research_data_link  \n- anything with \"example\" or \"fake\" in the URL  \n- made-up sources like \"https://random-study.com\"  \n\nAGAIN YOU MUST NOT ADD LINKS LIKE example.com, or fake links in the content.\n\nSUPER IMPORTANT!\nYOU MUST NOT ADD LINKS THAT ARE NOT PRESENT IN THE RESEARCH DATA.\nAGAIN YOU MUST NOT ADD LINKS LIKE example.com, or fake links in the content. OR SAY research_data_link etc.\nhttps://example.com/research-data2.\nor anything with example or dummy data.\n\nThese links are taken from the research data and MUST not be generated. These are actual valid  links from research data.\n\n\nSteps:\n1. Look at the section outline and undedrtand the outline to adhere to\n2. Look at the research data to see what can be pulled in to write this section\n3. Write the section adhering to the research data.\n4. Look a the research content which you are using to write content, to see if it has a markdown link source citation, if so use that same link to cite the generated section content, using a perplexity like citation format.\n\n❌ IF NO CITATION EXISTS IN RESEARCH DATA:  \n- Do not guess.  \n- Do not add a citation.  \n- Do not create a placeholder like [source](research_data_link).  \n",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are an expert article section writer and editor, that write section content adhering to the provided section outline and the full article outline.\nYou will see the links in the research report and add the same links to the resulting content as citations, when you write the content."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        1460,
        880
      ],
      "id": "a3cae472-a491-4c08-b9f9-7b7cacfafbef",
      "name": "Combined Section Writer"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5353e917-5718-4011-a0cd-d478805fbfc0",
              "name": "article_outline",
              "value": "={{ $json.output}}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        860,
        740
      ],
      "id": "384c34d5-51eb-4165-aba9-192417d5dfeb",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "fieldToSplitOut": "article_outline.h2",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1000,
        420
      ],
      "id": "2f420562-975a-430b-98c9-1a0846605de0",
      "name": "Split combined outline"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "numberInputs": 4,
        "options": {
          "includeUnpaired": true
        }
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1360,
        380
      ],
      "id": "a5802d19-7419-4300-a94d-8254da351bc0",
      "name": "Merge3"
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "concatenate",
              "field": "output",
              "separateBy": "\n"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1.1,
      "position": [
        1760,
        1100
      ],
      "id": "883ec119-326d-4ec9-99dd-ae2e28087b0c",
      "name": "Combine Sections"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        2180,
        720
      ],
      "id": "639e414b-85cf-4278-af0c-4ea5e77abf93",
      "name": "Wordpress Data"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('When chat message received').item.json.sessionId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -1300,
        360
      ],
      "id": "fb52fe5d-0e63-41c2-b724-a9c9abb9f905",
      "name": "Window Buffer Memory"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "output",
              "renameField": true,
              "outputFieldName": "research"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        0,
        220
      ],
      "id": "14646eed-112c-4aff-9531-02d171590941",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {
          "includeUnpaired": true
        }
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        320,
        280
      ],
      "id": "d1f0b4d9-c587-4225-806d-030955693374",
      "name": "Merge"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1edf8bb8-ef65-4813-85df-6b72a47d34b0",
              "name": "article_outline_string",
              "value": "={{ $json.article_outline.toJsonString() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1160,
        1000
      ],
      "id": "0d9b66f1-18f5-4640-8f0f-aef9f180a6d2",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Task: Combine and Organize Multiple Outlines into One Structured Mega Outline\n\nYOU MUST PRESERVE ALL THE SECTIONS SUBSECTIONS FROM THE ORIGINAL SOURCE OUTLINES AND MERGE THEM. YOU MUST NOT DELETE ANY POINTS AND SECTIONS AND SUBSECTIONS, DUPLICATE SUBSECTIONS AND SECTIONS, HEADINGS, SUBHEADINGS MUST BE MERGED AND MUST FLOW. YOU MUST MAINTAIN THE SAME LEVEL OF DETAIL IN THE MERGED OUTLINE.\n\nObjective: Create a single, well-structured outline by combining multiple provided outlines, tailored to the user’s requested format (e.g., social media posts, article, etc.), while including every section, subsection, and key point from the original outlines.\nInstructions:\nIdentify the Desired Output Format:\nReview the user’s request (provided in {{ $('When chat message received').item.json.chatInput }}) to determine the type of content they want (e.g., social media posts, article, etc.).\n\nIf the request specifies a format, use it to guide the outline’s structure.\n\nIf the request is unclear or doesn’t specify a format, default to a general, logical outline structure.\n\nParse the Input:\nThe input contains multiple outlines concatenated into a single text.\n\nIdentify each individual outline by recognizing patterns such as headers (e.g., \"I.\", \"II.\"), section titles, or any natural breaks in the text.\n\nExtract all sections, subsections, and key points from each outline.\n\nMerge and Structure the Outline:\nCombine all content from the original outlines into a single outline.\n\nPreserve every section, subsection, and key point exactly as they appear in the source outlines, ensuring no information is omitted.\n\nOrganize the combined content into a logical sequence that suits the requested format:\nFor social media posts: Create an outline with short, standalone sections or post ideas, each covering a portion of the original content (e.g., one post per key point or section).\n\nFor an article: Use a traditional article structure (e.g., introduction, main points, conclusion), integrating all original content into appropriate sections.\n\nFor other formats: Adapt the structure to fit the purpose while maintaining logical flow.\n\nIf sections overlap (e.g., multiple \"Introduction\" sections), either merge them into a single section or list them separately under a unifying heading, depending on what flows best for the format.\n\nLanguage Restrictions:\nDo not use terms like \"research report,\" \"research objective,\" \"comprehensive report,\" or similar phrases in the outline unless the user explicitly requests a \"research report.\"\n\nUse neutral, format-appropriate language instead (e.g., \"Key Points\" instead of \"Research Findings\").\n\nUser’s Request: {{ $('When chat message received').item.json.chatInput }}\n\n\n\nYOU MUST PRESERVE ALL THE SECTIONS SUBSECTIONS FROM THE ORIGINAL SOURCE OUTLINES AND MERGE THEM. YOU MUST NOT DELETE ANY POINTS AND SECTIONS AND SUBSECTIONS, DUPLICATE SUBSECTIONS AND SECTIONS, HEADINGS, SUBHEADINGS MUST BE MERGED AND MUST FLOW. YOU MUST MAINTAIN THE SAME LEVEL OF DETAIL IN THE MERGED OUTLINE.\n\nGuidelines:\n\t1.\tEnsure Flow & Coherence:\n\t•\tThe final outline must be organized in a logical order for readability.\n\t•\tDo not delete or omit any outline points. Every point provided in the source outlines must appear in the final structure.\n\t•\tYou may rearrange sections or merge duplicate sections, but when merging, combine all unique points so that no content is lost.\n\t2.\tUser Intent:\n\t•\tThe final outline must align with the user’s request:\n\t•\tUser’s request:{{ $('When chat message received').item.json.chatInput }}\n\t•\tThe outline must be set to include answering these research queries as well:\n{{ $('Edit Fields1').item.json.queries.map(item => item.query) }}\n\t3.\tPreserve All Source Content:\n\t•\tMandatory Inclusion: Every section, subsection, and bullet point from all source outlines must be included.\n\t•\tWhen duplicate sections exist, merge them by including all distinct points from each instance.\n\t•\tEnsure that every detail from the source outlines is present in the final structure.\n\t4.\tPreserve Research Insights:\n\t•\tMake sure that all relevant information from the research is covered in the final outline.\n\t5.\tValidation Step:\n\t•\tAfter merging, perform a final check to ensure that the total number of sections and key points from the source data is preserved in the output.\n\nYOU MUST PRESERVE ALL THE SECTIONS SUBSECTIONS FROM THE ORIGINAL SOURCE OUTLINES AND MERGE THEM. YOU MUST NOT DELETE ANY POINTS AND SECTIONS AND SUBSECTIONS, DUPLICATE SUBSECTIONS AND SECTIONS, HEADINGS, SUBHEADINGS MUST BE MERGED AND MUST FLOW. YOU MUST MAINTAIN THE SAME LEVEL OF DETAIL IN THE MERGED OUTLINE.\n\nOutput Format:\n\nYOU MUST PRESERVE ALL THE SECTIONS SUBSECTIONS FROM THE ORIGINAL SOURCE OUTLINES AND MERGE THEM. YOU MUST NOT DELETE ANY POINTS AND SECTIONS AND SUBSECTIONS, DUPLICATE SUBSECTIONS AND SECTIONS, HEADINGS, SUBHEADINGS MUST BE MERGED AND MUST FLOW. YOU MUST MAINTAIN THE SAME LEVEL OF DETAIL IN THE MERGED OUTLINE.\n\nGenerate the final structured outline as JSON using the schema below:\n\n{\n  \"h1\": \"The catchy title of the article.\",\n  \"h2\": [\n    {\n      \"heading\": \"Title of the main section\",\n      \"h3\": [\n        {\n          \"subheading\": \"Title of the subsection\",\n          \"points_to_cover\": [\n            \"Key point 1\",\n            \"Key point 2\",\n            \"Key point 3\"\n          ]\n        }\n      ]\n    }\n  ]\n}\n\n\nInput: Multiple concatenated outlines provided as a single text:\n<concatenated_outlines>\n{{ $json.concatenated_output }}\n</concatenated_outlines>\n\nMAKE SURE ALL THE RELEVANT CONTENT IS ADDED FROM THE RESEARCH REPORT TO THE OUTLINE:\n\n<research_content>\n{{ $json.research }}\n</research_content>\n\nImportant Notes:\n\t•\tEvery section and point from all outlines must be included in the final structure.\n\t•\tThe order should be logical and user-friendly while ensuring the user’s request is fully addressed.\n\t•\tDo not add redundant or unnecessary content—only organize what’s provided.\n\nUsing these modifications, the prompt now explicitly requires the preservation of all content, along with a final validation step to verify completeness. This should help prevent the loss of any sections or key points during the merging process.\n\nYOU MUST PRESERVE ALL THE SECTIONS SUBSECTIONS FROM THE ORIGINAL SOURCE OUTLINES AND MERGE THEM. YOU MUST NOT DELETE ANY POINTS AND SECTIONS AND SUBSECTIONS, DUPLICATE SUBSECTIONS AND SECTIONS, HEADINGS, SUBHEADINGS MUST BE MERGED AND MUST FLOW. YOU MUST MAINTAIN THE SAME LEVEL OF DETAIL IN THE MERGED OUTLINE.",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are an expert in combining data points from multiple outlines into one cohesive, logically flowing outline. Your task is to merge all sections, subsections, and bullet points without losing any information"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        480,
        560
      ],
      "id": "60e764bf-efec-4dee-9c15-c1ee2e29df60",
      "name": "Combine outlines"
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "concatenate",
              "field": "output",
              "separateBy": "\n"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "137051c5-4def-4438-95de-d3164087369f",
      "name": "Combine Research Reports"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -620,
        340
      ],
      "id": "beb4f27d-06e5-47e3-9554-9d0ba417fe2a",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "EJgMjh9fB0j2lVkm",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1440,
        300
      ],
      "id": "d44ae371-25cd-4788-8c19-7dfcce914e45",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "EJgMjh9fB0j2lVkm",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        380,
        820
      ],
      "id": "cdc7b3ce-9c9d-4b82-8a72-9640193edc12",
      "name": "OpenAI Chat Model3",
      "credentials": {
        "openAiApi": {
          "id": "EJgMjh9fB0j2lVkm",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1380,
        1100
      ],
      "id": "5ff500de-d815-45a0-832b-21683e4b6e1f",
      "name": "OpenAI Chat Model5",
      "credentials": {
        "openAiApi": {
          "id": "EJgMjh9fB0j2lVkm",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "folderId": "14Cp9JAoE-M9Lahr_EO1coXYbaH6Pau34",
        "title": "={{ $json.article_outline.h1 }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        2640,
        720
      ],
      "id": "eaf930a7-bfc3-4e6e-8bef-3ea816d5337d",
      "name": "Google Docs",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "7i0obNHThmVJMNP4",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $json.id }}",
        "simple": false,
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "={{ $('Code').item.json.formattedContent }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        2800,
        720
      ],
      "id": "484eda1c-d20f-4215-a5fd-f88aaea13ed8",
      "name": "Google Docs1",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "7i0obNHThmVJMNP4",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Pobierz dane HTML z pola concatenated_output\nconst inputHtml = items[0].json.concatenated_output || '';\n\n// Przetwarzanie HTML do formatu Google Docs\nlet processedContent = inputHtml\n  .replace(/<h2[^>]*>(.*?)<\\/h2>/g, '# $1\\n\\n')\n  .replace(/<h3[^>]*>(.*?)<\\/h3>/g, '## $1\\n\\n')\n  .replace(/<p>(.*?)<\\/p>/g, '$1\\n\\n')\n  .replace(/<strong>(.*?)<\\/strong>/g, '*$1*')\n  .replace(/<ol>|<\\/ol>|<ul>|<\\/ul>/g, '')\n  .replace(/<li>(.*?)<\\/li>/g, '* $1\\n')\n  .replace(/<a href=\"(.*?)\">(.*?)<\\/a>/g, '$2 ($1)')\n  .replace(/<[^>]*>/g, ''); // Usuń pozostałe tagi HTML\n\nreturn {\n  ...items[0].json,\n  formattedContent: processedContent.trim()\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2400,
        720
      ],
      "id": "6c781756-2cff-4245-b3bd-d7c3752266aa",
      "name": "Code"
    }
  ],
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Query Creation Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Query Creation Agent": {
      "main": [
        [
          {
            "node": "Search Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "ai_tool": [
        [
          {
            "node": "Search Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Query Creation Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scrape Agent": {
      "main": [
        [
          {
            "node": "Combine Research Reports",
            "type": "main",
            "index": 0
          },
          {
            "node": "Outlining Agent",
            "type": "main",
            "index": 0
          },
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Visit Website Tool": {
      "ai_tool": [
        [
          {
            "node": "Scrape Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Scrape Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "Search Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Search Agent": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Outlining Agent": {
      "main": [
        [
          {
            "node": "Concat outlines",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser3": {
      "ai_outputParser": [
        [
          {
            "node": "Outlining Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Concat outlines": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Markdown1": {
      "main": [
        [
          {
            "node": "Wordpress Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "Outlining Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser5": {
      "ai_outputParser": [
        [
          {
            "node": "Combine outlines",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Combined Section Writer": {
      "main": [
        [
          {
            "node": "Combine Sections",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Split combined outline",
            "type": "main",
            "index": 0
          },
          {
            "node": "Wordpress Data",
            "type": "main",
            "index": 1
          },
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge3",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Split combined outline": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge3": {
      "main": [
        [
          {
            "node": "Combined Section Writer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine Sections": {
      "main": [
        [
          {
            "node": "Markdown1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wordpress Data": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "Search Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Combine outlines",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Combine outlines": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine Research Reports": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Scrape Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Search Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Combine outlines",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model5": {
      "ai_languageModel": [
        [
          {
            "node": "Combined Section Writer",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Docs": {
      "main": [
        [
          {
            "node": "Google Docs1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Docs1": {
      "main": [
        []
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Google Docs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "22d581f4-48a0-4786-88d0-305bd693a73e",
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-03-13T07:34:19.172Z",
      "createdAt": "2025-03-13T07:34:19.172Z",
      "role": "workflow:owner",
      "workflowId": "o9fr0xi11g88aJbn",
      "projectId": "SQnOb1XW8PKTppQP"
    }
  ],
  "tags": [
    {
      "updatedAt": "2025-03-15T18:53:11.351Z",
      "createdAt": "2025-03-15T18:53:11.351Z",
      "id": "ovE7Xowr5aUj677q",
      "name": "Działa"
    }
  ]
}