backups/2025-11-26/asystent_g_osowy_n8n___retelle_Zt1iFQp5V60p49LU.json
{
  "updatedAt": "2025-08-24T12:56:29.820Z",
  "createdAt": "2025-06-30T20:08:01.222Z",
  "id": "Zt1iFQp5V60p49LU",
  "name": "Asystent głosowy n8n + retelle",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "inbound",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "e8dc29fd-d2b1-445e-8d5a-6ea1fd74a0ec",
      "name": "Webhook",
      "webhookId": "1be0c360-83c3-4a29-bb81-c110e388a593"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Podsumuj poniższą transkrypcję interakcji między klientem a agentem głosowym AI \no imieniu Kady z Crescent Family Dental. Podaj podsumowanie rozmowy w 500 znakach, \na także wyodrębnij imię, nazwisko, adres e-mail, numer telefonu i ubezpieczyciela \njako oddzielne pozycje JSON.\n\nTranskrypcja: {{ $json.body.call.transcript }}",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        224,
        0
      ],
      "id": "5f9fb053-7200-4368-b2a6-c0375d944be6",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        112,
        240
      ],
      "id": "04ff15a8-c065-4e50-a4e4-755d5d9e1179",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "EJgMjh9fB0j2lVkm",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\"can_summary\": \"California\" ,\n\"first_name\": \"California\",\n\"last_name\": \"California\",\n\"phone\": \"California\",\n\"emial\": \"California\" ,\n\"insurance\": \"California\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        400,
        256
      ],
      "id": "ac7018bc-cbe7-4770-99b0-702ece2e2403",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1a4UDseWd3cWzZh73KvSSy5OMAGWNFFyURtMVMXzd3E0",
          "mode": "list",
          "cachedResultName": "Agent n8n retell",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1a4UDseWd3cWzZh73KvSSy5OMAGWNFFyURtMVMXzd3E0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Arkusz1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1a4UDseWd3cWzZh73KvSSy5OMAGWNFFyURtMVMXzd3E0/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "First Name",
              "displayName": "First Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Last Name",
              "displayName": "Last Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Insurance",
              "displayName": "Insurance",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Call Summary",
              "displayName": "Call Summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        592,
        0
      ],
      "id": "183c25ed-0cd3-473b-9300-50f03de6140e",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "0AifnrCkRyhR2h3u",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "content": "## uzupełnić",
        "height": 260
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        528,
        -64
      ],
      "typeVersion": 1,
      "id": "fa69156f-2014-4ef3-8b55-af8d62ded911",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        880,
        0
      ],
      "id": "3a94a0ff-168f-455f-97d1-45fdefe255c7",
      "name": "Send a message",
      "webhookId": "54c196e9-fab6-4098-bc26-60288c81a401",
      "credentials": {
        "gmailOAuth2": {
          "id": "3PpyCmnQd4Zy3KVn",
          "name": "Gmail account 2"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        880,
        192
      ],
      "id": "9d7d501f-c0e5-4b41-a35c-fc9806431f62",
      "name": "Send a text message",
      "webhookId": "ea755c70-471e-4161-ae0a-0eaa0ec11720",
      "credentials": {
        "telegramApi": {
          "id": "ZcBiyPgWSHCrT0pX",
          "name": "Telegram account 2"
        }
      },
      "disabled": true
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "bfa9dcc4-ddf6-494d-afb5-3764145409c4",
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-06-30T20:08:01.222Z",
      "createdAt": "2025-06-30T20:08:01.222Z",
      "role": "workflow:owner",
      "workflowId": "Zt1iFQp5V60p49LU",
      "projectId": "SQnOb1XW8PKTppQP"
    }
  ],
  "tags": [
    {
      "updatedAt": "2025-03-15T18:55:04.496Z",
      "createdAt": "2025-03-15T18:55:04.496Z",
      "id": "hv9Sn3eOxS1IkEIE",
      "name": "Do Edycji"
    }
  ]
}