backups/2025-11-26/consulting_automation_T3gzC7NsRtDsjWz1.json
{
  "updatedAt": "2025-03-16T20:32:00.094Z",
  "createdAt": "2025-03-16T20:31:35.470Z",
  "id": "T3gzC7NsRtDsjWz1",
  "name": "Consulting Automation",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://api-f1db6c.stack.tryrelevance.com/latest/studios/f9a70da4-2d80-4e17-ad1b-a37716c423c8/trigger_limited",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"params\":{\n    \"linkedin_url\":\"{{ $json.payload.questions_and_answers[3].answer }}\",\n    \"last_x_days\":30\n  },\n  \"project\":\"[PROJECT ID]\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        360,
        140
      ],
      "id": "66706442-22ad-4c96-9951-fe16787431ec",
      "name": "Scrape Profiles + Posts - Relevance AI"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.perplexity.ai/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"sonar-pro\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a researcher in a business development team. Your job is to find as much research as you can about the prospect company. You must ensure your research is for the correct company and is highly accurate. Your research must always include what the prospect company does.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Find as much info as you can about {{ $('Scrape Profiles + Posts - Relevance AI').last().json.output.linkedin_profile_details_data.company }}. }} This is their website URL: {{ $('Scrape Profiles + Posts - Relevance AI').last().json.output.linkedin_profile_details_data.company_website }}\"\n    }\n  ]\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1080,
        140
      ],
      "id": "0b40ad4f-dcff-42ae-b352-e802572eb153",
      "name": "Research Company - Perplexity"
    },
    {
      "parameters": {
        "content": "# Research Prospect\n- LinkedIn \n- Online \n- TrustPilot Reviews\n",
        "height": 360,
        "width": 1520
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        280,
        0
      ],
      "typeVersion": 1,
      "id": "d9b7786c-5b52-4f8c-be87-05e9b9a66cfc",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "url": "https://api.apify.com/v2/acts/nikita-sviridenko~trustpilot-reviews-scraper/run-sync-get-dataset-items",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"companyDomain\": \"{{ $('Scrape Profiles + Posts - Relevance AI').last().json.output.linkedin_profile_details_data.company_domain }}\",\n    \"count\": 5,\n    \"replies\": false,\n    \"sort\": \"recency\",\n    \"stars\": [\n        \"1\",\n        \"2\",\n        \"3\"\n    ],\n    \"startPage\": 1,\n    \"verified\": false\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1480,
        140
      ],
      "id": "513f1cbe-b870-4c40-9433-ba662657afb1",
      "name": "TrustPilot Reviews (1-3 Stars)",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "scope": "organization",
        "events": [
          "invitee.created"
        ]
      },
      "type": "n8n-nodes-base.calendlyTrigger",
      "typeVersion": 1,
      "position": [
        80,
        140
      ],
      "id": "d6f1376c-fbce-4475-9ffb-cd4f1e79c5f6",
      "name": "Calendly Trigger",
      "webhookId": "12fa5085-fcbc-4897-96c1-dd57400b6013"
    },
    {
      "parameters": {
        "jsCode": "// Get the input data from the first item\nconst input = $node[\"Scrape Profiles + Posts - Relevance AI\"].json;\n\n// Navigate to the experiences array within the \"output\" object\nconst experiences = input.output.linkedin_profile_details_data.experiences || [];\n\n// Build the HTML table rows string\nlet htmlRows = '';\nexperiences.forEach(exp => {\n  htmlRows += `<tr>\n      <td>${exp.company}</td>\n      <td>${exp.title}</td>\n      <td>${exp.date_range}</td>\n      <td>${exp.location}</td>\n    </tr>`;\n});\n\n// Return a new object that only contains the experiencesTable field\nreturn [{ json: { experiencesTable: htmlRows } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        140
      ],
      "id": "a74a618d-fb7e-4f2f-81d2-cf1a26c5819b",
      "name": "Experiences"
    },
    {
      "parameters": {
        "jsCode": "// Get the input data from the first item\nconst input = $node[\"Scrape Profiles + Posts - Relevance AI\"].json;\n\n// Navigate to the educations array in the output object\nconst educations = input.output.linkedin_profile_details_data.educations || [];\n\n// Build the HTML table rows for education\nlet educationRows = '';\neducations.forEach(edu => {\n  educationRows += `<tr>\n      <td>${edu.school}</td>\n      <td>${edu.degree}</td>\n      <td>${edu.field_of_study}</td>\n    </tr>`;\n});\n\n// Return a new object that only contains the educationTable key\nreturn [{ json: { educationTable: educationRows } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        140
      ],
      "id": "68bee844-3d3c-44c4-a53c-4ea58c103e73",
      "name": "Education"
    },
    {
      "parameters": {
        "jsCode": "// Initialize an empty string for reviews HTML\nlet reviewsHTML = '';\n\n// Loop over each item (each review)\nitems.forEach(item => {\n  const review = item.json; // each item is a review object\n  reviewsHTML += `<div class=\"review-card\" style=\"border:1px solid #ddd; padding:10px; margin-bottom:10px;\">`;\n  reviewsHTML += `<h3>${review.reviewHeadline}</h3>`;\n  reviewsHTML += `<p><strong>Rating:</strong> ${review.ratingValue}</p>`;\n  // Format the date nicely; adjust locale as needed\n  const date = new Date(review.datePublished);\n  reviewsHTML += `<p><strong>Date:</strong> ${date.toLocaleDateString()}</p>`;\n  reviewsHTML += `<p>${review.reviewBody}</p>`;\n  if (review.replyMessage) {\n    reviewsHTML += `<p><strong>Reply:</strong> ${review.replyMessage}</p>`;\n  }\n  reviewsHTML += `</div>`;\n});\n\n// Return a new JSON object with the combined reviews HTML\nreturn [{ json: { reviewsHTML } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1680,
        140
      ],
      "id": "28aaaa92-18fc-4129-a137-2f345a5b3a26",
      "name": "Reviews"
    },
    {
      "parameters": {
        "jsCode": "const input = $node[\"Scrape Profiles + Posts - Relevance AI\"].json;\n\n// Getting posts from output, then fallback to top-level.\nconst posts = (input.output && input.output.last_30_days_posts_transformed) \n  || input.last_30_days_posts_transformed \n  || [];\n\n// Build HTML for each LinkedIn post\nlet postsHTML = '';\nif (Array.isArray(posts)) {\n  posts.forEach(post => {\n    postsHTML += `<div class=\"linkedin-post\" style=\"border:1px solid #ddd; padding:10px; margin-bottom:10px;\">\n      <p>${post.user_post}</p>\n      <p><em>Posted on: ${post.posted}</em></p>\n    </div>`;\n  });\n}\n\n// Return only the generated HTML\nreturn [{ json: { postsHTML } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        540,
        140
      ],
      "id": "ffb6ae00-32cb-48aa-a302-39d54592677f",
      "name": "Posts"
    },
    {
      "parameters": {
        "jsCode": "// Retrieve the JSON from the previous node\nconst input = items[0].json;\n\n// Extract the citations array; default to an empty array if not present\nconst citations = input.citations || [];\n\n// Build an HTML unordered list for the citations\nlet citationsHTML = '<ul>';\nif (Array.isArray(citations)) {\n  citations.forEach(citation => {\n    citationsHTML += `<li><a href=\"${citation}\" target=\"_blank\">${citation}</a></li>`;\n  });\n}\ncitationsHTML += '</ul>';\n\n// Return a new JSON object containing the generated HTML snippet\nreturn [{ json: { citationsHTML } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1300,
        140
      ],
      "id": "5cf77fc2-1e40-4f69-8726-88eadaf88f0b",
      "name": "Citations"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "o1-mini",
          "mode": "list",
          "cachedResultName": "O1-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=You are part of the business development team at [Your Business Name] which is an [Your Business Details]. \n\nWhen a new leads book a consultation with [Your Business Name], your team researches the leads and provides the research + extracted insights to the consultants so they can read it prior to the consult. \n\nYour job is to create the following sections from the research:\n\n- Personal Profile: The personal profile is a one paragraph summary of the person (lead) extracted from researching their LinkedIn profile.\n- Interests: In this section you must identify a few of the leads interests from their most recent LinkedIn posts + their LinkedIn profile. \n- Unique Facts: In this section you must extract at least 2 unique facts about the lead that tells them you've really put time to research who they are. These facts should be things that are unique to the lead and out of the ordinary.\n- Company Profile: The company profile is a one paragraph summary of the company the person represents, extracted from researching their company LinkedIn profile and available information on the web. \n\nYour output must be in HTML, following this format: \n\nPerson Profile (Heading 2)\n[Details]\n\nCompany Profile (Heading 2)\n[Details]\n\nInterests (Heading 2)\n[List of interests in dot point format]\n\nUnique Facts (Heading 2)\n[List of unique facts in dot point format]\n\n\n- Don't wrap the output in ```html``` since the output will go into the middle of another HTML document. Just make sure its in HTML language.\n\nCreate this output for the following research: \n\nLinkedIn Profile Research (in JSON format): \n{{ $('Scrape Profiles + Posts - Relevance AI').last().json.output.linkedin_profile_details_data.toJsonString() }}\n\nMost Recent LinkedIn Posts: \n{{ $('Scrape Profiles + Posts - Relevance AI').last().json.output.last_30_days_posts_transformed }}\n\nWeb Research: \n{{ $('Research Company - Perplexity').last().json.choices[0].message.content }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1920,
        140
      ],
      "id": "b4409a9c-de71-48ee-b9c2-8a658c253c2c",
      "name": "Person + Company Profile",
      "credentials": {
        "openAiApi": {
          "id": "EJgMjh9fB0j2lVkm",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "o1-mini",
          "mode": "list",
          "cachedResultName": "O1-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=You are part of the business development team at [YOUR BUSINESS NAME] which is a [BUSINESS SUMMARY] that provides the following services: \n\n[\n- SERVICE 1: DETAILS\n- SERVICE 2: DETAILS\n- SERVICE 3: DETAILS\n- SERVICE 4: DETAILS\n...\n]\n\n[YOUR BUSINESS NAME]'s consultants are the first point of contact for a new lead. So when a new lead is interested in their solutions, they book a free call with their consultants. The consultants are then responsible for exploring the highest ROI opportunities for [YOUR SOLUTION].\n\nOnce a call is booked, your team does in depth research on the lead so that the consultants can read through it in preparation for the consultation. \n\nAs part of the business development team you are provided with the following research: \n\n- LinkedIn Profile: This is the result of scraping the leads LinkedIn profile. This will give you the leads bio, experiences, education and company description.\n- LinkedIn Posts: This gives you the leads LinkedIn posts over the past 30 days. \n- Company Google Search: This gives you the research found from searching the leads company on Google and their website. \n- Reviews: This gives you the most recent bad reviews the leads company received on TrustPilot. \n\nYour job is to analyse the research and extract following information: \n\n- Pain Points: By looking through the companies negative reviews and also considering their line of business and the leads position in the company, you must identify the biggest pain points the leads company could be facing. \n- Solutions to Pain Points: In this section you must come up with solutions [YOUR BUSINESS NAME] can offer to solve each of the pain points completely. \n- Highest ROI Opportunities: Considering the info you have about the lead and his company, you must come up with the 5 highest ROI opportunities that [YOUR BUSINESS NAME] can offer them. These automations have to be realisitic, yet extremely high ROI. Sort them in order of best opportunity at the top of the list.  \n\nThe insights you extract must be in HTML format as they will be going in the middle of a HTML document. \n\nPlease use the following output format: \n\nOpportunities (Heading 1)\n\nPain Points and Solutions: (Heading 2)\n[Table with 3 columns: \n1. Pain Point: Explains the pain point theyre facing. \n2. Evidence: Explains why we think this is the case. \n3. Solution: Explains the solution to the pain point by Kamexa.\nEach row is a new pain point.]\n\nOpportunities: (Heading 2)\n[5 Highest ROI automation opportunities for the leads company sorted with the best solution at the top. This must be in dotpoint format:\n- Opportunity#1 Name: Details\n- Opportunity#2 Name: Details\n...\n\n- Don't wrap the output in ```html``` since the output will go into the middle of another HTML document.\n\nSomeone just booked a call. Here's the research your team found. Create the output as per the above requirements: \n\n\nLinkedIn Profile Scraped Summary in HTML format: \n{{ $('Person + Company Profile').last().json.message.content }}\n\nWeb Research Results for Leads Company: \n{{ $('Research Company - Perplexity').last().json.choices[0].message.content }} \n\nRecent Bad Reviews on TrustPilot for Leads Company in HTML format: \n{{ $('Reviews').last().json.reviewsHTML }}\n(if there is no reviews then just create the pain points by considering the leads company and job title)\n"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        2300,
        140
      ],
      "id": "26972554-3c69-496e-9f24-b5b96d0b4cf8",
      "name": "Pain Points + Solutions",
      "credentials": {
        "openAiApi": {
          "id": "EJgMjh9fB0j2lVkm",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "content": "# Analysis\n- Summary \n- Pain Points + Solutions\n",
        "height": 360,
        "width": 780
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1840,
        0
      ],
      "typeVersion": 1,
      "id": "68ff2113-4b28-403e-a11c-5ad68752477d",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "# Create Report\n",
        "height": 360,
        "width": 300
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2660,
        0
      ],
      "typeVersion": 1,
      "id": "96752cad-6558-49b5-8ac2-d74579215716",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "# Email Report\n",
        "height": 360,
        "width": 300,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2980,
        0
      ],
      "typeVersion": 1,
      "id": "89c63b45-1beb-4e13-83d3-72bf91b5e44f",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "# New Call Booked \n",
        "height": 360,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1,
      "id": "21407e0d-2086-4ebc-8433-ff50c7b3d7ce",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "html": "<!DOCTYPE html>\n<html lang=\"en\">\n  <head>\n    <meta charset=\"UTF-8\">\n    <title>Consultant Research Report</title>\n    <style>\n      body {\n        font-family: Arial, sans-serif;\n        margin: 20px;\n        line-height: 1.6;\n        color: #333;\n      }\n      h1, h2, h3 {\n        color: #222;\n      }\n      .section {\n        margin-bottom: 40px;\n      }\n      .profile-details p {\n        margin: 5px 0;\n      }\n      table {\n        width: 100%;\n        border-collapse: collapse;\n        margin-top: 10px;\n      }\n      th, td {\n        border: 1px solid #ddd;\n        padding: 8px;\n        vertical-align: top;\n      }\n      th {\n        background-color: #f2f2f2;\n      }\n      .card {\n        border: 1px solid #ddd;\n        padding: 10px;\n        margin-bottom: 10px;\n        border-radius: 4px;\n      }\n      a {\n        color: #1a0dab;\n        text-decoration: none;\n      }\n      a:hover {\n        text-decoration: underline;\n      }\n      /* New styles for the header images container */\n      .header-images {\n        display: flex;\n        margin-bottom: 20px;\n      }\n      .header-images img {\n        width: 50%;\n        height: auto;\n        max-width: 300px;\n\n      }\n    </style>\n  </head>\n  <body>\n        <!-- Header Images -->\n    <div class=\"header-images\">\n      <img src=\"{{ $('Scrape Profiles + Posts - Relevance AI').last().json.output.linkedin_profile_details_data.profile_image_url }}\" alt=\"Profile Picture\">\n      <img src=\"{{ $('Scrape Profiles + Posts - Relevance AI').last().json.output.linkedin_profile_details_data.company_logo_url }}\" alt=\"Company Logo\">\n    </div>\n\n    <!-- Analysis & Key Facts -->\n    <div class=\"section\" id=\"analysis\">\n      <h1>Analysis & Key Facts</h1>\n      {{ $('Person + Company Profile').last().json.message.content }}\n      {{ $('Pain Points + Solutions').last().json.message.content }}\n    </div>\n\n      <!-- New Section: Booking Page Info -->\n    <div class=\"section\" id=\"booking-page-info\">\n      <h1>Booking Page Info</h1>\n      <h3>How they found us:</h3>\n      <p>{{ $('Calendly Trigger').last().json.payload.questions_and_answers[1].answer }}</p>\n      <h3>Info for the meeting:</h3>\n      <p>{{ $('Calendly Trigger').last().json.payload.questions_and_answers[2].answer }}</p>\n    </div>\n\n    <!-- Detailed Research Report -->\n    <div class=\"section\" id=\"research-report\">\n      <h1>Research Report</h1>\n      \n      <!-- LinkedIn Profile Details -->\n      <div id=\"linkedin-profile\" class=\"profile-details\">\n        <h2>LinkedIn Profile Details</h2>\n        <p><strong>Name:</strong> {{ $node[\"Scrape Profiles + Posts - Relevance AI\"].json.output.linkedin_profile_details_data.full_name }}</p>\n        <p><strong>Headline:</strong> {{ $node[\"Scrape Profiles + Posts - Relevance AI\"].json.output.linkedin_profile_details_data.headline }}</p>\n        <p><strong>Location:</strong> {{ $node[\"Scrape Profiles + Posts - Relevance AI\"].json.output.linkedin_profile_details_data.location }}</p>\n        <p><strong>About:</strong> {{ $node[\"Scrape Profiles + Posts - Relevance AI\"].json.output.linkedin_profile_details_data.about }}</p>\n        <p><strong>City:</strong> {{ $node[\"Scrape Profiles + Posts - Relevance AI\"].json.output.linkedin_profile_details_data.city }}</p>\n        <p><strong>Country:</strong> {{ $node[\"Scrape Profiles + Posts - Relevance AI\"].json.output.linkedin_profile_details_data.country }}</p>\n        <p><strong>Job Title:</strong> {{ $node[\"Scrape Profiles + Posts - Relevance AI\"].json.output.linkedin_profile_details_data.job_title }}</p>\n        <p><strong>Company:</strong> {{ $node[\"Scrape Profiles + Posts - Relevance AI\"].json.output.linkedin_profile_details_data.company }}</p>\n        <p><strong>Company Description:</strong> {{ $node[\"Scrape Profiles + Posts - Relevance AI\"].json.output.linkedin_profile_details_data.company_description }}</p>\n        <p>\n          <strong>Company Website:</strong>\n          <a href=\"{{ $node[\"Scrape Profiles + Posts - Relevance AI\"].json.output.linkedin_profile_details_data.company_website }}\" target=\"_blank\">\n            {{ $node[\"Scrape Profiles + Posts - Relevance AI\"].json.output.linkedin_profile_details_data.company_website }}\n          </a>\n        </p>\n        <p><strong>Industry:</strong> {{ $node[\"Scrape Profiles + Posts - Relevance AI\"].json.output.linkedin_profile_details_data.company_industry }}</p>\n        <p>\n          <strong>LinkedIn URL:</strong>\n          <a href=\"{{ $node[\"Scrape Profiles + Posts - Relevance AI\"].json.output.linkedin_profile_details_data.linkedin_url }}\" target=\"_blank\">\n            {{ $node[\"Scrape Profiles + Posts - Relevance AI\"].json.output.linkedin_profile_details_data.linkedin_url }}\n          </a>\n        </p>\n      </div>\n      \n      <!-- Education -->\n      <div id=\"education\">\n        <h2>Education</h2>\n        <table>\n          <thead>\n            <tr>\n              <th>School</th>\n              <th>Degree</th>\n              <th>Field of Study</th>\n            </tr>\n          </thead>\n          <tbody>\n            {{ $node[\"Education\"].json.educationTable }}\n          </tbody>\n        </table>\n      </div>\n      \n      <!-- Experience -->\n      <div id=\"experience\">\n        <h2>Experience</h2>\n        <table>\n          <thead>\n            <tr>\n              <th>Company</th>\n              <th>Title</th>\n              <th>Date Range</th>\n              <th>Location</th>\n            </tr>\n          </thead>\n          <tbody>\n            {{ $node[\"Experiences\"].json.experiencesTable }}\n          </tbody>\n        </table>\n      </div>\n      \n      <!-- Recent LinkedIn Posts -->\n      <div id=\"linkedin-posts\">\n        <h2>Recent LinkedIn Posts</h2>\n        {{ $node[\"Posts\"].json.postsHTML }}\n      </div>\n      \n      <!-- Google Research Analysis -->\n      <div id=\"google-research\">\n        <h2>Google Research Analysis</h2>\n        <p>{{ $node[\"Research Company - Perplexity\"].json.choices[0].message.content }}</p>\n      </div>\n      \n      <!-- Trustpilot Reviews -->\n      <div id=\"trustpilot-reviews\">\n        <h2>Trustpilot Reviews</h2>\n        {{ $node[\"Reviews\"].json.reviewsHTML }}\n      </div>\n      \n      <!-- Citations -->\n      <div id=\"citations\">\n        <h2>Citations</h2>\n        {{ $node[\"Citations\"].json.citationsHTML }}\n      </div>\n      \n    </div>\n  </body>\n</html>\n"
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        2740,
        140
      ],
      "id": "e853cc84-3929-4051-966c-de5bc4cada4e",
      "name": "Create HTML Report"
    },
    {
      "parameters": {
        "sendTo": "[YOUR EMAIL ADDRESS]",
        "subject": "={{ $('Scrape Profiles + Posts - Relevance AI').last().json.output.linkedin_profile_details_data.full_name }} Research Report",
        "message": "={{ $json.html }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        3060,
        140
      ],
      "id": "33ee3cd4-aed3-46d4-bade-1f84c3b4d829",
      "name": "Email Report",
      "webhookId": "37af4a4f-6dcb-4791-918b-134679e0baaf"
    }
  ],
  "connections": {
    "Scrape Profiles + Posts - Relevance AI": {
      "main": [
        [
          {
            "node": "Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Research Company - Perplexity": {
      "main": [
        [
          {
            "node": "Citations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calendly Trigger": {
      "main": [
        [
          {
            "node": "Scrape Profiles + Posts - Relevance AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TrustPilot Reviews (1-3 Stars)": {
      "main": [
        [
          {
            "node": "Reviews",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Experiences": {
      "main": [
        [
          {
            "node": "Education",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Education": {
      "main": [
        [
          {
            "node": "Research Company - Perplexity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reviews": {
      "main": [
        [
          {
            "node": "Person + Company Profile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Posts": {
      "main": [
        [
          {
            "node": "Experiences",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Citations": {
      "main": [
        [
          {
            "node": "TrustPilot Reviews (1-3 Stars)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Person + Company Profile": {
      "main": [
        [
          {
            "node": "Pain Points + Solutions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pain Points + Solutions": {
      "main": [
        [
          {
            "node": "Create HTML Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create HTML Report": {
      "main": [
        [
          {
            "node": "Email Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "081fd0bd-1f9d-4e43-b2cc-ea88c0c66df2",
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-03-16T20:31:35.470Z",
      "createdAt": "2025-03-16T20:31:35.470Z",
      "role": "workflow:owner",
      "workflowId": "T3gzC7NsRtDsjWz1",
      "projectId": "SQnOb1XW8PKTppQP"
    }
  ],
  "tags": [
    {
      "updatedAt": "2025-03-15T18:54:26.296Z",
      "createdAt": "2025-03-15T18:54:26.296Z",
      "id": "LcKGzshuAfGAnTK9",
      "name": "Do sprawdzenia"
    }
  ]
}