backups/2025-11-26/deep_reasearch_u3XgoKjnNAhhjzQ5.json
{
  "updatedAt": "2025-07-01T12:20:57.287Z",
  "createdAt": "2025-03-12T13:44:05.883Z",
  "id": "u3XgoKjnNAhhjzQ5",
  "name": "Deep Reasearch",
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "Generate search queries on the provided topic.",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are an expert technical writer crafting targeted web search queries that will gather comprehensive information for writing a technical report section.\n\n<Section topic>\n{{ $json.body.description }}\n</Section topic>\n\n<Task>\nYour goal is to generate {{ $json.body.configuration.number_of_queries }} search queries that will help gather comprehensive information above the section topic. \n\nThe queries should:\n\n1. Be related to the topic \n2. Examine different aspects of the topic\n\nMake the queries specific enough to find high-quality, relevant sources.\n</Task>"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        360,
        -100
      ],
      "id": "95be8700-141a-4767-8718-3113726d3c52",
      "name": "Section Query Generator"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.tavily.com/search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={{ $json.query }}"
            },
            {
              "name": "max_results",
              "value": "5"
            },
            {
              "name": "include_raw_content",
              "value": "={{ true }}"
            },
            {
              "name": "topic",
              "value": "general"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        940,
        -100
      ],
      "id": "3746f3d0-35a8-4dd7-8f84-e3cb66c079a7",
      "name": "Tavily API 1"
    },
    {
      "parameters": {
        "fieldToSplitOut": "output.queries",
        "options": {
          "destinationFieldName": "query"
        }
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        740,
        -100
      ],
      "id": "3a920591-5892-447b-be37-1543903aa082",
      "name": "Section Query Splitter"
    },
    {
      "parameters": {
        "jsCode": "const sourcesList = $input.all().flatMap((response) => response.json.results);\n\nconst uniqueSources = {};\nfor (const source of sourcesList) {\n  uniqueSources[source.url] = source;\n}\n\n// Format output\nlet formattedText = \"Sources:\\n\\n\";\nconst sourcesArray = Object.values(uniqueSources);\n\nsourcesArray.forEach((source, index) => {\n  formattedText += `Source ${source.title}:\\n===\\n`;\n  formattedText += `URL: ${source.url}\\n===\\n`;\n  formattedText += `Most relevant content from source: ${source.content}\\n===\\n`;\n\n  //include raw content\n  if (true) {\n    // Rough estimate: 4 characters per token\n    const charLimit = 5000 * 4;\n    let rawContent = source.raw_content;\n    if (!rawContent) {\n      rawContent = \"\";\n    }\n    if (rawContent.length > charLimit) {\n      rawContent = rawContent.substring(0, charLimit) + \"... [truncated]\";\n    }\n    formattedText += `Full source content limited to ${5000} tokens: ${rawContent}\\n\\n`;\n  }\n});\n\nreturn {\n  json: {\n    formattedText: formattedText.trim(),\n  },\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        -100
      ],
      "id": "6d36ffab-96e3-4ea0-b206-17834ad29247",
      "name": "Formatted Section Result"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Generate a report section based on the provided sources.",
        "options": {
          "systemMessage": "= You are an expert technical writer crafting one section of a technical report.\n\n<Section topic>\n{{ $('Entrypoint').first().json.body.description}}\n</Section topic>\n\n<Existing section content (if populated)>\n{{ $('Feedback Field').isExecuted ?  $('Feedback Field').last().json.content : ''}}\n</Existing section content>\n\n<Source material>\n{{ $json.formattedText }}\n</Source material>\n\n<Guidelines for writing>\n1. If the existing section content is not populated, write a new section from scratch.\n2. If the existing section content is populated, write a new section that synthesizes the existing section content with the new information.\n</Guidelines for writing>\n\n<Length and style>\n- Strict 150-200 word limit\n- No marketing language\n- Technical focus\n- Write in simple, clear language\n- Start with your most important insight in **bold**\n- Use short paragraphs (2-3 sentences max)\n- Use ## for section title (Markdown format)\n- Only use ONE structural element IF it helps clarify your point:\n  * Either a focused table comparing 2-3 key items (using Markdown table syntax)\n  * Or a short list (3-5 items) using proper Markdown list syntax:\n    - Use \\`*\\` or \\`-\\` for unordered lists\n    - Use \\`1.\\` for ordered lists\n    - Ensure proper indentation and spacing\n- End with ### Sources that references the below source material formatted as:\n  * List each source with title, date, and URL\n  * Format: \\`- Title : URL\\`\n</Length and style>\n\n<Quality checks>\n- Exactly 200-300 words (excluding title and sources)\n- Careful use of only ONE structural element (table or list) and only if it helps clarify your point\n- One specific example / case study\n- Starts with bold insight\n- No preamble prior to creating the section content\n- Sources cited at end\n</Quality checks>"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        1300,
        -100
      ],
      "id": "1683aafd-084e-41ed-af21-e3e2fda69792",
      "name": "Section Writer"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Grade the report and consider follow-up questions for missing information:",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=Review a report section relative to the specified topic:\n\n<Report topic>\n{{ $('Entrypoint').first().json.body.topic }}\n</Report topic>\n\n<section topic>\n{{ $('Entrypoint').first().json.body.description }}\n</section topic>\n\n<section content>\n{{ $json.output}}\n</section content>\n\n<task>\nEvaluate whether the section adequately covers the topic by checking technical accuracy and depth.\n\nIf the section fails any criteria, generate specific follow-up search queries to gather missing information.\n</task>\n\n<format>\n   {\n    grade: \"pass or fail\",\n    followUpQueries: [\"Array of follow-up search queries.\"]\n   }\n</format>"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        1600,
        -100
      ],
      "id": "b87dfd66-6809-4cff-afda-55660f1eda24",
      "name": "Section Grader"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "1ea6859f-1d8c-4cdd-9589-0ffe4f349b5e",
              "leftValue": "={{ $json.grade }}",
              "rightValue": "fail",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "b1a79de8-edd7-4712-9cc2-814bb6453510",
              "leftValue": "={{ $json.iteration >= $('Entrypoint').first().json.body.configuration.max_search_depth }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2180,
        100
      ],
      "id": "2a7890ae-f59f-4edf-b96f-96ac342b02ca",
      "name": "If"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"queries\": [\"Search Query One\", \"Search Query Two\"]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        520,
        140
      ],
      "id": "60cac560-f8e9-48ba-a1fa-9eed88a64464",
      "name": "Section Queries Parser"
    },
    {
      "parameters": {
        "jsonSchemaExample": "   {\n    \"grade\": \"pass or fail\",\n    \"followUpQueries\": [\"Array of follow-up search queries.\"]\n   }"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        1760,
        120
      ],
      "id": "a6b35a22-d1f1-424b-8692-866dbe8241d2",
      "name": "Section Grade Parser"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"output\": {\n    \"queries\": {{ $json.followUpQueries }}\n  },\n  \"content\": {{JSON.stringify($('Section Writer').item.json.output)}},\n  \"iteration\": {{ $json.iteration +1 }}\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1380,
        320
      ],
      "id": "b27a2bb1-3b36-466d-94c8-2e1580a2f8f2",
      "name": "Feedback Field"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"iteration\": {{ $('Feedback Field').isExecuted ? $('Feedback Field').last().json.iteration : 1 }},\n  \"grade\": \"{{ $json.output.grade }}\",\n  \"followUpQueries\": {{ $json.output.followUpQueries }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1960,
        -100
      ],
      "id": "4b5d144d-8906-43ef-a4ba-6e42a4e5b7cf",
      "name": "Iteration"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"name\": \"{{ $('Entrypoint').first().json.body.name }}\",\n  \"description\":\"{{ $('Entrypoint').first().json.body.description }}\",\n  \"research\": {{true}},\n  \"content\": {{ JSON.stringify($('Section Writer').last().json.output) }}\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2380,
        80
      ],
      "id": "d97991a8-5118-49ce-88b1-3692a5cc4b6a",
      "name": "Section Output"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2540,
        80
      ],
      "id": "5921b2df-b492-4ae3-a75d-1222a81369d1",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "92e4e79c-b678-40c9-ad16-2cf01848a1a5",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        180,
        -100
      ],
      "id": "d68eafd1-f53f-41c3-bc4a-4a3fc2daeb8f",
      "name": "Entrypoint",
      "webhookId": "92e4e79c-b678-40c9-ad16-2cf01848a1a5"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "o3-mini",
          "mode": "list",
          "cachedResultName": "o3-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        980,
        200
      ],
      "id": "cc39ba24-28d4-41aa-9394-f0e4866d0eae",
      "name": "Section O3-MINI"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Generate the sections of the report. Your response must include a 'sections' field containing a list of sections. Each section must have: name, description, plan, research, and content fields.",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=I want a plan for a report. \n\n<Task>\nGenerate a list of sections for the report.\n\nEach section should have the fields:\n\n- Name - Name for this section of the report.\n- Description - Brief overview of the main topics covered in this section.\n- Research - Whether to perform web research for this section of the report.\n- Content - The content of the section, which you will leave blank for now.\n\nSections: [{\n  \"name\": \"Introduction\",\n  \"description\": \"An overview of the report's purpose, scope, and key findings.\",\n  \"research\": true,\n  \"content\": \"\"\n}]\n\nFor example, introduction and conclusion will not require research because they will distill information from other parts of the report.\n</Task>\n\n<Topic>\nThe topic of the report is:\n{{ $('Telegram Entrypoint').first().json.message.text }}\n</Topic>\n\n<Report organization>\n{{ $('Configuration').first().json.report_structure }}\n</Report organization>\n\n<Context>\nHere is context to use to plan the sections of the report: \n{{ $json.formattedText }}\n</Context>\n\n<Feedback>\nHere is feedback on the report structure from review (if any):\n{{ $json?.feedback ?? '' }}\n</Feedback>\n\n<Current Sections>\n~ The feedback above will be regarding these sections, If there is no feedback, then there are no current sections\n{{ $json.currentSections ?? '' }}\n</Current Sections>\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        1440,
        -1120
      ],
      "id": "f880e7b8-1919-4354-9042-ba91017cf212",
      "name": "Report Planner",
      "retryOnFail": true
    },
    {
      "parameters": {
        "fieldToSplitOut": "output.queries",
        "options": {
          "destinationFieldName": "query"
        }
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        940,
        -1120
      ],
      "id": "3b7c42e1-3dae-4a9c-8d1d-6e16bacdee02",
      "name": "Query Splitter"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.tavily.com/search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={{ $json.query }}"
            },
            {
              "name": "max_results",
              "value": "5"
            },
            {
              "name": "include_raw_content",
              "value": "={{ true }}"
            },
            {
              "name": "topic",
              "value": "general"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1100,
        -1120
      ],
      "id": "82782243-0f34-49dc-95f5-afc05f31d0b6",
      "name": "Tavily API "
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"content\": {{ JSON.stringify(\n    [\n      \"Please provide feedback on the following report plan.\",\n      \"\",\n      ...($json.output.sections.map(section => \n        `\\nSection: ${section.name}\\nDescription: ${section.description}\\nResearch needed: ${section.research ? 'Yes' : 'No'}`\n      )),\n      \"\",\n      \"Does the report plan meet your needs? Pass 'true' to approve the report plan or provide feedback to regenerate the report plan:\"\n    ].join(\"\\n\")\n  ) }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1760,
        -1120
      ],
      "id": "3789eedf-1f5d-4ff5-8646-c35b0011add3",
      "name": "Sections Field"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        340,
        -1120
      ],
      "id": "f1bc9b20-f5fd-452f-a53d-daad4570243f",
      "name": "Telegram Entrypoint",
      "webhookId": "d162fc45-cdc3-4c6f-b5a1-bf335f6e6b79"
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "chatId": "={{$('Telegram Entrypoint').first().json.message.chat.id}}",
        "message": "={{ $json.content }}",
        "responseType": "freeText",
        "options": {
          "messageButtonLabel": "Provide Your Feedback"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1900,
        -1120
      ],
      "id": "457f8aeb-a23a-49df-b489-a2b158752137",
      "name": "Human Feedback",
      "webhookId": "c6ee508d-0026-4074-b5fe-ebc006e6cb57"
    },
    {
      "parameters": {
        "jsCode": "const sourcesList = $input.all().flatMap((response) => response.json.results);\n\nconst uniqueSources = {};\nfor (const source of sourcesList) {\n  uniqueSources[source.url] = source;\n}\n\n// Format output\nlet formattedText = \"Sources:\\n\\n\";\nconst sourcesArray = Object.values(uniqueSources);\n\nsourcesArray.forEach((source, index) => {\n  formattedText += `Source ${source.title}:\\n===\\n`;\n  formattedText += `URL: ${source.url}\\n===\\n`;\n  formattedText += `Most relevant content from source: ${source.content}\\n===\\n`;\n\n  //include raw content\n  if (true) {\n    // Rough estimate: 4 characters per token\n    const charLimit = 5000 * 4;\n    let rawContent = source.raw_content;\n    if (!rawContent) {\n      rawContent = \"\";\n    }\n    if (rawContent.length > charLimit) {\n      rawContent = rawContent.substring(0, charLimit) + \"... [truncated]\";\n    }\n    formattedText += `Full source content limited to ${5000} tokens: ${rawContent}\\n\\n`;\n  }\n});\n\nreturn {\n  json: {\n    formattedText: formattedText.trim(),\n  },\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1260,
        -1120
      ],
      "id": "db137d8d-0333-4b45-a754-c9fbb54613c8",
      "name": "Formatted Result"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"sections\": [\n    {\n      \"name\": \"Name for this section of the report\",\n      \"description\": \"Brief overview of the main topics covered in this section\",\n      \"research\": true,\n      \"content\": \"The content of the section, which you will leave blank for now\"\n    }\n  ]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        1600,
        -860
      ],
      "id": "bc28f4c6-4663-4723-ad74-f32cd4e30ece",
      "name": "Sections Parser"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"queries\": [\"Search Query One\", \"Search Query Two\"]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        800,
        -840
      ],
      "id": "c6064734-76f4-4a3b-8307-944a45a42ee4",
      "name": "Queries Parser"
    },
    {
      "parameters": {
        "inputText": "={{ $json.data.text }}",
        "categories": {
          "categories": [
            {
              "category": "Approved",
              "description": "If the text indicates approval and does not request for a any kind of changes. 'True' is considered approved too."
            },
            {
              "category": "Refine",
              "description": "If the text suggests modifications or improvements are needed"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1,
      "position": [
        2060,
        -1120
      ],
      "id": "1ab1f9d6-0862-469e-bca9-ab21db37843b",
      "name": "Text Classifier"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Telegram Entrypoint').item.json.message.text }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are an expert technical writer, helping to plan a report. \n\n<Report topic>\n{{ $('Telegram Entrypoint').item.json.message.text }}\n</Report topic>\n\n<Report organization>\n{{ $json.report_structure }}\n</Report organization>\n\n<Task>\nYour goal is to generate {{ $json.number_of_queries }} search queries that will help gather comprehensive information for planning the report sections. \n\nThe queries should:\n\n1. Be related to the topic of the report\n2. Help satisfy the requirements specified in the report organization\n\nMake the queries specific enough to find high-quality, relevant sources while covering the breadth needed for the report structure.\n</Task>"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        640,
        -1120
      ],
      "id": "12c9a43f-6673-4266-afc8-aaf1c15765d3",
      "name": "Query Generator"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "researchedSections",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        2800,
        -1140
      ],
      "id": "f36da4e2-cbd4-4b16-ab93-b718eaff2ae6",
      "name": "Completed Research"
    },
    {
      "parameters": {
        "jsCode": "return $('Report Planner').first().json.output.sections\n  .map(section => ({...section, topic: $('Telegram Entrypoint').first().json.message.text }))\n  .filter(section => section.research)"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2460,
        -1140
      ],
      "id": "1ba93230-07e9-430d-a2c3-4a36d101f053",
      "name": "Split Research Sections"
    },
    {
      "parameters": {
        "jsCode": "const researchData = $input.first().json.researchedSections.map(\n  (dataSection) => `\\nSection: ${dataSection.name}\nDescription: ${dataSection.description}\nResearch needed: ${dataSection.research ? \"Yes\" : \"No\"}\nContent: ${dataSection.content}`\n).join('/n');\n\nreturn $(\"Report Planner\")\n  .first()\n  .json.output.sections.map((section) => ({\n    section,\n    topic: $(\"Telegram Entrypoint\").first().json.message.text,\n    researchData\n  }))\n  .filter((finalSection) => !finalSection.section.research);\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2960,
        -1140
      ],
      "id": "80313ffd-ede4-49fc-a00a-e5e382a5e696",
      "name": "Split Final Sections"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n      \"name\": \"Name for this section of the report\",\n      \"description\": \"Brief overview of the main topics covered in this section\",\n      \"research\": true,\n      \"content\": \"The content of the section, which you will leave blank for now\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        3300,
        -840
      ],
      "id": "486e5738-5e81-4745-97d9-fb3ee05d9954",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "jsCode": "const sections = $(\"Report Planner\").last().json.output.sections;\n\nconst completedSections = [\n  ...$(\"Completed Research\").first().json.researchedSections,\n  ...$input.all().map((item) => item.json.output),\n];\n\nfor (const section of sections) {\n  section.content = completedSections.find(\n    (cs) => cs.name === section.name,\n  ).content;\n}\n\nconst rawText = sections\n    .map((s) => s.content)\n    .join(\"\\n\\n\")\n\nreturn [\n  {\n    json: {},\n    binary: {\n      data: {\n        data: Buffer.from(rawText, 'utf-8'),\n        mimeType: 'text/markdown',\n        fileName: 'research-report.md'\n      }\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3460,
        -1140
      ],
      "id": "62fe0a20-907b-45b8-9b9e-6d22423a25af",
      "name": "Compile Final Report"
    },
    {
      "parameters": {
        "operation": "sendDocument",
        "chatId": "={{ $('Telegram Entrypoint').first().json.message.chat.id }}",
        "binaryData": true,
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3640,
        -1140
      ],
      "id": "039cf156-56ec-4070-b365-e4b532df6106",
      "name": "Telegram",
      "webhookId": "4fd48b41-1d35-427a-b049-d1cbab073d6f"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Generate a report section based on the provided sources.",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are an expert technical writer crafting a section that synthesizes information from the rest of the report.\n<Report topic>\n{{ $json.topic }}\n</Report topic>\n\n\n<Section title> \n{{ $json.section.name }}\n</Section title>\n\n\n<Section topic> \n{{ $json.section.description }}\n</Section topic>\n\n<Available report content>\n{{ $json.researchData }}\n</Available report content>\n\n<Task>\n1. Section-Specific Approach:\n\nFor Introduction:\n- Use # for report title (Markdown format)\n- 50-100 word limit\n- Write in simple and clear language\n- Focus on the core motivation for the report in 1-2 paragraphs\n- Use a clear narrative arc to introduce the report\n- Include NO structural elements (no lists or tables)\n- No sources section needed\n\nFor Conclusion/Summary:\n- Use ## for section title (Markdown format)\n- 100-150 word limit\n- For comparative reports:\n    * Must include a focused comparison table using Markdown table syntax\n    * Table should distill insights from the report\n    * Keep table entries clear and concise\n- For non-comparative reports: \n    * Only use ONE structural element IF it helps distill the points made in the report:\n    * Either a focused table comparing items present in the report (using Markdown table syntax)\n    * Or a short list using proper Markdown list syntax:\n      - Use \\`*\\` or \\`-\\` for unordered lists\n      - Use \\`1.\\` for ordered lists\n      - Ensure proper indentation and spacing\n- End with specific next steps or implications\n- No sources section needed\n\n2. Writing Approach:\n- Use concrete details over general statements\n- Make every word count\n- Focus on your single most important point\n</Task>\n\n<Quality Checks>\n- For introduction: 50-100 word limit, # for report title, no structural elements, no sources section\n- For conclusion: 100-150 word limit, ## for section title, only ONE structural element at most, no sources section\n- Markdown format\n- Do not include word count or any preamble in your response\n</Quality Checks>\n\nYour output should follow the following structure\n{\n      \"name\": \"{{ $json.section.name }}\", Keep this as is\n      \"description\": \"{{ $json.section.description }}\", Keep this as is\n      \"research\": false, Keep this as is\n      \"content\": \"Your Output\"\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        3120,
        -1140
      ],
      "id": "4383d114-abdc-40e8-a389-98a1af6ca304",
      "name": "Final Section Writer"
    },
    {
      "parameters": {
        "model": "anthropic/claude-3.7-sonnet:thinking",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1100,
        -840
      ],
      "id": "b93c1ced-2beb-4f8b-81b3-0db3b8af6e4d",
      "name": "Planner Sonet 3.7"
    },
    {
      "parameters": {
        "model": "anthropic/claude-3.7-sonnet:thinking",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        3140,
        -840
      ],
      "id": "ea2f40d0-7160-4664-9682-707a4f129cfb",
      "name": "Writer Sonet 3.7"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://mahmut317.app.n8n.cloud/webhook/92e4e79c-b678-40c9-ad16-2cf01848a1a5",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "={{ $json.name }}"
            },
            {
              "name": "description",
              "value": "={{ $json.description }}"
            },
            {
              "name": "research",
              "value": "={{ $json.research}}"
            },
            {
              "name": "content",
              "value": "={{ $json.content }}"
            },
            {
              "name": "configuration",
              "value": "={{ $('Configuration').first().json }}"
            },
            {
              "name": "topic",
              "value": "={{$('Telegram Entrypoint').first().json.message.text}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2640,
        -1140
      ],
      "id": "10ea658a-34bd-4d4e-a91a-a66d54b56ba7",
      "name": "Execute Research"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "o3-mini",
          "mode": "list",
          "cachedResultName": "o3-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        2080,
        -860
      ],
      "id": "dc55a810-379a-48b1-b5de-28bbfe0886a2",
      "name": "OpenAI Chat Model"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "45df763f-3ac0-4ec4-a844-b56c06b7eee9",
              "name": "report_structure",
              "value": "=Use this structure to create a report on the user-provided topic: \n1. Introduction (no research needed)    \n- Brief overview of the topic area \n2. Main Body Sections: \n- Each section should focus on a sub-topic of the user-provided topic \n3. Conclusion   \n- Aim for 1 structural element (either a list or table) that distills the main body sections   - Provide a concise summary of the report.\nsections \n- Provide a concise summary of the report",
              "type": "string"
            },
            {
              "id": "b25bde14-38ab-48b2-93a4-c34328f0147c",
              "name": "number_of_queries",
              "value": 5,
              "type": "number"
            },
            {
              "id": "80a02cd7-47da-4b1b-b122-2dd6d8b5f509",
              "name": "max_search_depth",
              "value": 2,
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        500,
        -1120
      ],
      "id": "b66e2ab7-6744-461f-9875-d765b42e2e5e",
      "name": "Configuration"
    },
    {
      "parameters": {
        "content": "# PLANNER | REPORT STRUCTURE",
        "height": 680,
        "width": 2100,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        240,
        -1240
      ],
      "id": "9e5d1494-c1a3-47f9-8c43-a49d3305b1dc",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "# EXECUTOR | RESEARCH",
        "height": 1280,
        "width": 2580,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2380,
        -1240
      ],
      "id": "429d1c06-5451-429c-8837-6fb5f939d5e6",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Generate search queries on the provided topic.",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are an expert technical writer crafting targeted web search queries that will gather comprehensive information for writing a technical report section.\n\n<Section topic>\n{{ $json.body.description }}\n</Section topic>\n\n<Task>\nYour goal is to generate {{ $json.body.configuration.number_of_queries }} search queries that will help gather comprehensive information above the section topic. \n\nThe queries should:\n\n1. Be related to the topic \n2. Examine different aspects of the topic\n\nMake the queries specific enough to find high-quality, relevant sources.\n</Task>"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        2600,
        -660
      ],
      "id": "9c10f9c8-7e85-4f90-b00d-a19c90eda450",
      "name": "Section Query Generator1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.tavily.com/search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={{ $json.query }}"
            },
            {
              "name": "max_results",
              "value": "5"
            },
            {
              "name": "include_raw_content",
              "value": "={{ true }}"
            },
            {
              "name": "topic",
              "value": "general"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3180,
        -660
      ],
      "id": "b9b2697b-d741-46ca-b467-441e39c5a6ef",
      "name": "Tavily API 2"
    },
    {
      "parameters": {
        "fieldToSplitOut": "output.queries",
        "options": {
          "destinationFieldName": "query"
        }
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        2980,
        -660
      ],
      "id": "64478680-ad78-4b60-919d-bc3aa20bc7d0",
      "name": "Section Query Splitter1"
    },
    {
      "parameters": {
        "jsCode": "const sourcesList = $input.all().flatMap((response) => response.json.results);\n\nconst uniqueSources = {};\nfor (const source of sourcesList) {\n  uniqueSources[source.url] = source;\n}\n\n// Format output\nlet formattedText = \"Sources:\\n\\n\";\nconst sourcesArray = Object.values(uniqueSources);\n\nsourcesArray.forEach((source, index) => {\n  formattedText += `Source ${source.title}:\\n===\\n`;\n  formattedText += `URL: ${source.url}\\n===\\n`;\n  formattedText += `Most relevant content from source: ${source.content}\\n===\\n`;\n\n  //include raw content\n  if (true) {\n    // Rough estimate: 4 characters per token\n    const charLimit = 5000 * 4;\n    let rawContent = source.raw_content;\n    if (!rawContent) {\n      rawContent = \"\";\n    }\n    if (rawContent.length > charLimit) {\n      rawContent = rawContent.substring(0, charLimit) + \"... [truncated]\";\n    }\n    formattedText += `Full source content limited to ${5000} tokens: ${rawContent}\\n\\n`;\n  }\n});\n\nreturn {\n  json: {\n    formattedText: formattedText.trim(),\n  },\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3360,
        -660
      ],
      "id": "f1b13a08-c2ba-4db1-bbdf-62ab7f25c1df",
      "name": "Formatted Section Result1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Generate a report section based on the provided sources.",
        "options": {
          "systemMessage": "= You are an expert technical writer crafting one section of a technical report.\n\n<Section topic>\n{{ $('Entrypoint1').first().json.body.description}}\n</Section topic>\n\n<Existing section content (if populated)>\n{{ $('Feedback Field2').isExecuted ?  $('Feedback Field2').last().json.content : ''}}\n</Existing section content>\n\n<Source material>\n{{ $json.formattedText }}\n</Source material>\n\n<Guidelines for writing>\n1. If the existing section content is not populated, write a new section from scratch.\n2. If the existing section content is populated, write a new section that synthesizes the existing section content with the new information.\n</Guidelines for writing>\n\n<Length and style>\n- Strict 150-200 word limit\n- No marketing language\n- Technical focus\n- Write in simple, clear language\n- Start with your most important insight in **bold**\n- Use short paragraphs (2-3 sentences max)\n- Use ## for section title (Markdown format)\n- Only use ONE structural element IF it helps clarify your point:\n  * Either a focused table comparing 2-3 key items (using Markdown table syntax)\n  * Or a short list (3-5 items) using proper Markdown list syntax:\n    - Use \\`*\\` or \\`-\\` for unordered lists\n    - Use \\`1.\\` for ordered lists\n    - Ensure proper indentation and spacing\n- End with ### Sources that references the below source material formatted as:\n  * List each source with title, date, and URL\n  * Format: \\`- Title : URL\\`\n</Length and style>\n\n<Quality checks>\n- Exactly 200-300 words (excluding title and sources)\n- Careful use of only ONE structural element (table or list) and only if it helps clarify your point\n- One specific example / case study\n- Starts with bold insight\n- No preamble prior to creating the section content\n- Sources cited at end\n</Quality checks>"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        3540,
        -660
      ],
      "id": "ee01fa24-80b1-4108-81c7-c3a7d6c9c89b",
      "name": "Section Writer1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Grade the report and consider follow-up questions for missing information:",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=Review a report section relative to the specified topic:\n\n<Report topic>\n{{ $('Entrypoint1').first().json.body.topic }}\n</Report topic>\n\n<section topic>\n{{ $('Entrypoint1').first().json.body.description }}\n</section topic>\n\n<section content>\n{{ $json.output}}\n</section content>\n\n<task>\nEvaluate whether the section adequately covers the topic by checking technical accuracy and depth.\n\nIf the section fails any criteria, generate specific follow-up search queries to gather missing information.\n</task>\n\n<format>\n   {\n    grade: \"pass or fail\",\n    followUpQueries: [\"Array of follow-up search queries.\"]\n   }\n</format>"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        3840,
        -660
      ],
      "id": "789f1df2-a7e5-48d0-bfa9-89f712d816bf",
      "name": "Section Grader1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "1ea6859f-1d8c-4cdd-9589-0ffe4f349b5e",
              "leftValue": "={{ $json.grade }}",
              "rightValue": "fail",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "b1a79de8-edd7-4712-9cc2-814bb6453510",
              "leftValue": "={{ $json.iteration >= $('Entrypoint1').first().json.body.configuration.max_iteration_depth }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        4420,
        -460
      ],
      "id": "88163f51-82ef-4b0e-bc8a-ea786bbd9ee1",
      "name": "If1"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"queries\": [\"Search Query One\", \"Search Query Two\"]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        2760,
        -420
      ],
      "id": "be6d50b5-f97a-4f65-aaf0-f8647e892d6c",
      "name": "Section Queries Parser1"
    },
    {
      "parameters": {
        "jsonSchemaExample": "   {\n    \"grade\": \"pass or fail\",\n    \"followUpQueries\": [\"Array of follow-up search queries.\"]\n   }"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        4000,
        -440
      ],
      "id": "bdbf1272-a726-45bb-af29-77839eaf8bd2",
      "name": "Section Grade Parser1"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"iteration\": {{ $('Feedback Field2').isExecuted ? $('Feedback Field2').last().json.iteration : 1 }},\n  \"grade\": \"{{ $json.output.grade }}\",\n  \"followUpQueries\": {{ $json.output.followUpQueries }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4200,
        -660
      ],
      "id": "bf2d4fab-772e-4ac3-8a49-ad00287aa648",
      "name": "Iteration1"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"name\": \"{{ $('Entrypoint1').first().json.body.name }}\",\n  \"description\":\"{{ $('Entrypoint1').first().json.body.description }}\",\n  \"research\": {{true}},\n  \"content\": {{ JSON.stringify($('Section Writer1').last().json.output) }}\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4620,
        -480
      ],
      "id": "8626cb69-fc92-4490-ae8f-4be01dd24fc5",
      "name": "Section Output1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        4780,
        -480
      ],
      "id": "6612a00d-e97d-45f5-bfb1-6838160ef414",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "92e4e79c-b678-40c9-ad16-2cf01848a1a5",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        2420,
        -660
      ],
      "id": "b853bece-3d9a-4660-89c5-ba884a351f74",
      "name": "Entrypoint1",
      "webhookId": "92e4e79c-b678-40c9-ad16-2cf01848a1a5"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "o3-mini",
          "mode": "list",
          "cachedResultName": "o3-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        3220,
        -360
      ],
      "id": "2e3161cc-baf0-48e6-b859-be32c75c689e",
      "name": "Section O3-MINI1"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"formattedText\": {{JSON.stringify($('Formatted Result').item.json.formattedText)}},\n  \"feedback\": {{ JSON.stringify($json.data.text) }},\n  \"currentSections\": {{ JSON.stringify($('Sections Field').item.json.content) }}\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1880,
        -880
      ],
      "id": "a5aaad75-9e80-42a4-84bb-61f051e4a9f8",
      "name": "Feedback Field2"
    },
    {
      "parameters": {
        "content": "https://www.youtube.com/watch?v=rNmTd6gt7Xo"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -300,
        -820
      ],
      "id": "3226c8ee-cbd7-4337-ba0e-4f2e4fe7a81e",
      "name": "Sticky Note3"
    }
  ],
  "connections": {
    "Section Query Generator": {
      "main": [
        [
          {
            "node": "Section Query Splitter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tavily API 1": {
      "main": [
        [
          {
            "node": "Formatted Section Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Section Query Splitter": {
      "main": [
        [
          {
            "node": "Tavily API 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatted Section Result": {
      "main": [
        [
          {
            "node": "Section Writer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Section Writer": {
      "main": [
        [
          {
            "node": "Section Grader",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Section Grader": {
      "main": [
        [
          {
            "node": "Iteration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Section Queries Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Section Query Generator",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Section Grade Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Section Grader",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Section Output",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Feedback Field",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Feedback Field": {
      "main": [
        [
          {
            "node": "Section Query Splitter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Iteration": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Section Output": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Entrypoint": {
      "main": [
        [
          {
            "node": "Section Query Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Section O3-MINI": {
      "ai_languageModel": [
        [
          {
            "node": "Section Query Generator",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Section Writer",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Section Grader",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Report Planner": {
      "main": [
        [
          {
            "node": "Sections Field",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Splitter": {
      "main": [
        [
          {
            "node": "Tavily API ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tavily API ": {
      "main": [
        [
          {
            "node": "Formatted Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sections Field": {
      "main": [
        [
          {
            "node": "Human Feedback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Entrypoint": {
      "main": [
        [
          {
            "node": "Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Human Feedback": {
      "main": [
        [
          {
            "node": "Text Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatted Result": {
      "main": [
        [
          {
            "node": "Report Planner",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sections Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Report Planner",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Queries Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Query Generator",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Query Generator": {
      "main": [
        [
          {
            "node": "Query Splitter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text Classifier": {
      "main": [
        [
          {
            "node": "Split Research Sections",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Feedback Field2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Completed Research": {
      "main": [
        [
          {
            "node": "Split Final Sections",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Research Sections": {
      "main": [
        [
          {
            "node": "Execute Research",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Final Sections": {
      "main": [
        [
          {
            "node": "Final Section Writer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Final Section Writer",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Compile Final Report": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Final Section Writer": {
      "main": [
        [
          {
            "node": "Compile Final Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Planner Sonet 3.7": {
      "ai_languageModel": [
        [
          {
            "node": "Query Generator",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Report Planner",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Writer Sonet 3.7": {
      "ai_languageModel": [
        [
          {
            "node": "Final Section Writer",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Execute Research": {
      "main": [
        [
          {
            "node": "Completed Research",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Text Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Configuration": {
      "main": [
        [
          {
            "node": "Query Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Section Query Generator1": {
      "main": [
        [
          {
            "node": "Section Query Splitter1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tavily API 2": {
      "main": [
        [
          {
            "node": "Formatted Section Result1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Section Query Splitter1": {
      "main": [
        [
          {
            "node": "Tavily API 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatted Section Result1": {
      "main": [
        [
          {
            "node": "Section Writer1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Section Writer1": {
      "main": [
        [
          {
            "node": "Section Grader1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Section Grader1": {
      "main": [
        [
          {
            "node": "Iteration1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Section Output1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Feedback Field2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Section Queries Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "Section Query Generator1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Section Grade Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "Section Grader1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Iteration1": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Section Output1": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Entrypoint1": {
      "main": [
        [
          {
            "node": "Section Query Generator1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Section O3-MINI1": {
      "ai_languageModel": [
        [
          {
            "node": "Section Query Generator1",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Section Writer1",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Section Grader1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Feedback Field2": {
      "main": [
        [
          {
            "node": "Report Planner",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "5552747c-3ab8-4360-b2ec-d40d4c3b1a55",
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-03-12T13:44:05.883Z",
      "createdAt": "2025-03-12T13:44:05.883Z",
      "role": "workflow:owner",
      "workflowId": "u3XgoKjnNAhhjzQ5",
      "projectId": "SQnOb1XW8PKTppQP"
    }
  ],
  "tags": [
    {
      "updatedAt": "2025-03-15T18:54:26.296Z",
      "createdAt": "2025-03-15T18:54:26.296Z",
      "id": "LcKGzshuAfGAnTK9",
      "name": "Do sprawdzenia"
    }
  ]
}