backups/2025-11-26/generator_film_w_M2Q3gTvfBVYefRnw.json
{
  "updatedAt": "2025-07-01T12:24:44.630Z",
  "createdAt": "2025-03-13T14:16:00.718Z",
  "id": "M2Q3gTvfBVYefRnw",
  "name": "Generator filmów",
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        2340,
        780
      ],
      "id": "b563013f-0857-4851-b961-99a3c4b4d39d",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": ""
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2340,
        1000
      ],
      "id": "d5e98f69-fca4-4633-b5fd-4ebc64c4c282",
      "name": "Google Sheets"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.idea }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=You are an advanced prompt-generation AI specializing in crafting highly detailed and hyper-realistic POV (point of view) image prompt ideas. Your task is to generate concise, action-driven, immersive prompt ideas that follow a sequential narrative, depicting a “day in the life” experience based on a given video topic.\n\nYour outputs never include double-quotes.  \nYou can skip the part on waking up from bed.  \nDon’t output actions related to wearing clothing.  \nDon’t output actions related to using feet.  \nYou also prioritize more sensational and unique scenes for that given scenario, instead of common things people do generally.  \n\n### Guidelines:\n- Every output represents a first-person perspective, making the viewer feel like they are experiencing the moment.\n- Use action-based verbs like gripping, running, reaching, holding, walking toward, stumbling, climbing, lifting, turning, stepping into.\n- Use keywords such as **POV, GoPro-style, first-person view, point of view** to reinforce immersion.\n- Keep all outputs between **5 to 16 words** long.\n- **Never use double quotes** in any output.\n- All scenes must be hyper-realistic, high quality, and cinematic, evoking strong visual and emotional impact.\n- Each set of prompts must follow a logical sequence, covering a full day in the life from morning to night, ensuring narrative continuity.\n- Avoid introspection or vague descriptions—focus on physical actions and interactions that build a cohesive, immersive story.\n\n### Examples:\n\n#### **Topic: A Peasant’s Day in Medieval Europe**  \n- Pushing open a wooden cottage door  \n- Scooping water from a village well  \n- Kneeling to tie worn leather shoes  \n- Walking through a bustling market square  \n- Handing a silver coin to a merchant  \n- Carrying a sack of wheat up a hill  \n- Hammering nails into a wooden fence  \n- Stirring stew over a crackling fire  \n- Placing a candle by the bedside  \n\n#### **Topic: A Cyberpunk Mercenary’s Routine**  \n- Pushing aside tangled wires on a desk  \n- Scanning a wrist implant for mission updates  \n- Loading a plasma pistol in a dim alley  \n- Stepping onto a hover bike in the rain  \n- Swiping a keycard through a vault scanner  \n- Ducking behind cover as drones patrol ahead  \n- Hacking a neon-lit terminal with gloved fingers  \n- Collapsing onto a metal cot in exhaustion  \n\n#### **Topic: A Soldier’s Day in World War I**  \n- Wiping dirt from a battered helmet  \n- Climbing out of a damp trench at dawn  \n- Holding a rusted rifle with trembling hands  \n- Walking through thick fog past barbed wire  \n- Rushing toward an enemy bunker under fire  \n- Reloading behind sandbags as shells explode  \n- Bandaging a soldier’s wound with torn cloth  \n- Lighting a cigarette under a moonlit sky  \n- Resting against a wooden crate in the trenches  \n\nEach generated sequence tells a visual story, pulling the viewer into a cohesive first-person experience from start to finish."
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        2260,
        1220
      ],
      "id": "37ed2b0a-dc66-4e11-99c1-07366c5b8623",
      "name": "Generate titles"
    },
    {
      "parameters": {
        "options": {
          "numberOfItems": 5
        }
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserItemList",
      "typeVersion": 1,
      "position": [
        2440,
        1380
      ],
      "id": "82aed219-e575-49c9-a99e-768dab4092ba",
      "name": "Item List Output Parser"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        2260,
        1400
      ],
      "id": "de62f40d-b073-411d-bac9-1b9795565f25",
      "name": "OpenAI Chat Model"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "o1-mini",
          "mode": "id"
        },
        "messages": {
          "values": [
            {
              "content": "=You are an advanced prompt-generation AI specializing in expanding short POV (point-of-view) image prompt ideas into detailed, hyper-realistic prompts optimized for image-generation models like Flux and MidJourney.  \nYour task is to take a brief input and transform it into a rich, cinematic, immersive prompt that strictly adheres to a first-person perspective, making the viewer feel as if they are physically present in the scene.\n\nThis is the short prompt idea you need to expand upon: {{ $json.response.text }}\nEvery prompt must use this to describe the enviroment of the image: {{  $('Google Sheets').first().json.enviroment_prompt }}\n\n### Prompt Structure:\n1. Foreground  \n   - Describe the hands, limbs, or feet of the viewer.  \n   - Must start with:  \n     \"First-person view POV GoPro shot of [relevant limb]...\"\n   \n2. Background  \n   - Describe the scenery using the format:  \n     \"In the background, [describe scenery]\"\n\n### Most Important Guidelines\n- Every image must be a first-person perspective shot—the viewer must feel like they are experiencing the moment, not just observing it.\n- A visible limb (hands or feet) must always be present and actively engaged (e.g., gripping, reaching, pushing, lifting, or interacting naturally).\n- The framing must be dynamic and interactive, mimicking real-world human vision, ensuring motion, depth, and immersion, similar to a GoPro or head-mounted camera shot.\n\n### Other Key Guidelines\n- Full-body awareness: The prompt should subtly remind the viewer they have a physical presence (e.g., weight shifting, breath fogging in cold air, or fingers trembling from adrenaline).\n- Sensory depth: Engage multiple senses (sight, touch, temperature, sound, even smell) to heighten realism.\n- World interaction: The hands/feet should not just be visible but should actively interact with the environment (e.g., clutching, adjusting, stepping forward, brushing against surfaces).\n- Keep prompts under 1000 characters in a single cinematic sentence without unnecessary formatting or explanation.\n\n### Examples\n1. Input: Climbing a fire escape over neon streets  \n   Output: POV of gloved hands straining to pull up against the slick, rusted fire escape ladder, neon lights dancing in the puddles below, cold rain sliding down trembling fingers, distant sirens wailing as my breath fogs the damp air, a rooftop edge just within reach.\n\n2. Input: Reaching for a coffee in a bustling café  \n   Output: POV of my outstretched hand wrapping around a steaming mug, heat radiating through the ceramic, the barista’s tattooed arm extending the cup towards me, the chatter of morning rush echoing off tiled walls, sunlight catching floating dust as the rich aroma of espresso fills my breath.\n\n3. Input: Waking up in a medieval tavern  \n   Output: POV of my rough, calloused hands rubbing heavy eyes, the flickering candlelight warping shadows on wooden beams, my fingers tracing the sweat-soaked grooves of a tankard, the thick scent of ale and smoke clinging to the air, muffled laughter and the distant pluck of a lute stirring my senses awake."
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        2880,
        720
      ],
      "id": "f3f088bd-8fdf-4312-bcf0-81d9b3e07d4d",
      "name": "OpenAI"
    },
    {
      "parameters": {
        "content": "## Generate Prompt",
        "height": 220,
        "width": 500,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2760,
        660
      ],
      "id": "21054aa1-66f6-4c55-a8c9-293895d886a5",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Generate Images",
        "height": 220,
        "width": 500,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2760,
        920
      ],
      "id": "d90802d1-2ad3-47f7-8cd8-58c49a51a6a9",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "url": "=https://api.piapi.ai/api/v1/task/{{ $json.data.task_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3140,
        980
      ],
      "id": "5e29266c-afae-4917-b334-5f2c1b6ebcf0",
      "name": "Get Image"
    },
    {
      "parameters": {
        "content": "## Generate Videos",
        "height": 220,
        "width": 500,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2760,
        1180
      ],
      "id": "c1f44ef8-8804-4859-8041-bfdc358816d8",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.piapi.ai/api/v1/task",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={\n  \"model\": \"kling\",\n  \"mode\": \"std\",\n  \"task_type\": \"video_generation\",\n  \"input\": {\n    \"prompt\": \"{{ $json.data.input.prompt }}\",\n    \"negative_prompt\": \"bad quality\",\n    \"cfg_scale\": 0.65,\n    \"duration\": 5,\n    \"image_url\": \"{{ $json.data.output.image_url }}\",\n    \"camera_control\": {\n      \"type\": \"simple\",\n      \"config\": {\n        \"horizontal\": 0,\n        \"vertical\": 0,\n        \"pan\": 0,\n        \"tilt\": 0,\n        \"roll\": 0,\n        \"zoom\": 0\n      }\n    }\n  },\n  \"config\": {}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2780,
        1240
      ],
      "id": "29706d28-e741-442e-b681-7d6e3c2f511b",
      "name": "Image to video"
    },
    {
      "parameters": {
        "url": "=https://api.piapi.ai/api/v1/task/{{ $json.data.task_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3140,
        1240
      ],
      "id": "eb4fb42b-994c-4232-943f-bba06def1ba8",
      "name": "Get Video"
    },
    {
      "parameters": {
        "amount": 2,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2960,
        980
      ],
      "id": "72346a58-8d8e-4afe-8c88-43d77c40c59a",
      "name": "Wait 2 minutes",
      "webhookId": "afb1958a-091e-4bad-aa25-680c5d5cdd17"
    },
    {
      "parameters": {
        "amount": 10,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2960,
        1240
      ],
      "id": "1162689c-9a26-4d70-97d1-7e96d6fcf4fc",
      "name": "Wait 10 minutes",
      "webhookId": "afb1958a-091e-4bad-aa25-680c5d5cdd17"
    },
    {
      "parameters": {
        "content": "## Generate Sounds",
        "height": 220,
        "width": 500,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2760,
        1440
      ],
      "id": "8fdbf1f0-c275-47cb-a116-ccddaa0c014a",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.elevenlabs.io/v1/sound-generation",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "xi-api-key"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={\n  \"text\": \"no voice {{ $('OpenAI').item.json.message.content.substring(0, 440) }}\",\n  \"duration_seconds\": 5,\n  \"prompt_influence\": 0.6\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2780,
        1500
      ],
      "id": "768da47c-f44b-41bc-b352-84d7d0489d6d",
      "name": "Text to sound"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.piapi.ai/api/v1/task",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={\n  \"model\": \"Qubico/flux1-dev\",\n  \"task_type\": \"txt2img\",\n  \"input\": {\n    \"prompt\": \"{{ $json.message.content }}\",\n    \"width\": 540,\n    \"height\": 960\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2780,
        980
      ],
      "id": "6c04c532-a5a4-43f7-b8db-6add23968381",
      "name": "Text to image"
    },
    {
      "parameters": {
        "name": "={{ $json.data.task_id }}.mp3",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "list",
          "value": "root",
          "cachedResultName": "/ (Root folder)"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2960,
        1500
      ],
      "id": "5fd6b6ef-0587-4886-9607-df231fe3ebbf",
      "name": "Upload Mp3"
    },
    {
      "parameters": {
        "operation": "share",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "permissionsUi": {
          "permissionsValues": {
            "role": "writer",
            "type": "anyone",
            "allowFileDiscovery": true
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        3140,
        1500
      ],
      "id": "d9bb3cac-d0c7-44f0-ada9-ee14c797ca1f",
      "name": "Grant Access"
    },
    {
      "parameters": {
        "content": "## OUTPUT: Final Video",
        "height": 1020,
        "width": 420,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3420,
        660
      ],
      "id": "620ae9f3-3536-4f95-8a75-b923c4b0860b",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "numberInputs": 4,
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        3580,
        780
      ],
      "id": "7895bdce-6175-4a88-9754-19a26bf29e2e",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "const getFallbackValue = (arr, index) => {\n  const total = arr.length;\n  \n  for (let i = 0; i < total; i++) {\n    if (arr[i] && i !== index && i !== index - 1 && i !== index + 1) {\n      return arr[i];\n    }\n  }\n  \n  for (let i = 0; i < total; i++) {\n    if (arr[i] && i !== index) return arr[i];\n  }\n\n  return null;\n};\n\nreturn [\n  {\n    scene_titles: items.map((item, index, arr) =>\n      item?.json?.response?.text ?? getFallbackValue(arr.map(it => it?.json?.response?.text), index)\n    ),\n    video_urls: items.map((item, index, arr) =>\n      item?.json?.data?.output?.video_url ?? getFallbackValue(arr.map(it => it?.json?.data?.output?.video_url), index)\n    ),\n    sound_urls: items.map((item, index, arr) =>\n      item?.json?.webContentLink ?? getFallbackValue(arr.map(it => it?.json?.webContentLink), index)\n    )\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3580,
        1020
      ],
      "id": "0e5a7395-7090-453a-94ee-7cdf62e23ae9",
      "name": "Code"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.creatomate.com/v1/renders",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={\n  \"template_id\": \"29f4c8d0-4009-4e8d-bf62-0b645684a1a6\",\n  \"modifications\": {\n    \"Audio-1.source\": \"{{ $json.sound_urls[0] }}\",\n    \"Audio-2.source\": \"{{ $json.sound_urls[1] }}\",\n    \"Audio-3.source\": \"{{ $json.sound_urls[2] }}\",\n    \"Audio-4.source\": \"{{ $json.sound_urls[3] }}\",\n    \"Audio-5.source\": \"{{ $json.sound_urls[4] }}\",\n\n    \"Video-1.source\": \"{{ $json.video_urls[0] }}\",\n    \"Video-2.source\": \"{{ $json.video_urls[1] }}\",\n    \"Video-3.source\": \"{{ $json.video_urls[2] }}\",\n    \"Video-4.source\": \"{{ $json.video_urls[3] }}\",\n    \"Video-5.source\": \"{{ $json.video_urls[4] }}\",\n\n    \"Text-1.text\": \"{{ $json.scene_titles[0] }}\",\n    \"Text-2.text\": \"{{ $json.scene_titles[1] }}\",\n    \"Text-3.text\": \"{{ $json.scene_titles[2] }}\",\n    \"Text-4.text\": \"{{ $json.scene_titles[3] }}\",\n    \"Text-5.text\": \"{{ $json.scene_titles[4] }}\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3580,
        1260
      ],
      "id": "aa32833c-cee4-43f6-a2fd-68203798342f",
      "name": "Render Video",
      "executeOnce": true
    },
    {
      "parameters": {
        "content": "## INPUT: Video topic",
        "height": 840,
        "width": 400,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2180,
        720
      ],
      "id": "1ccb62d7-78a6-46d3-9377-8e98ddb5f8c4",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": ""
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        3580,
        1500
      ],
      "id": "34171866-3812-4179-b97f-fa20b1d74596",
      "name": "Update google sheet"
    },
    {
      "parameters": {
        "amount": 10,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        4100,
        740
      ],
      "id": "51a9c7dc-d5e4-4767-95c5-a6bd70b1f532",
      "name": "Wait",
      "webhookId": "b880e7c9-a094-4b60-9a46-091f59073f6a"
    },
    {
      "parameters": {
        "url": "={{ $('Update google sheet').item.json.final_output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4100,
        980
      ],
      "id": "be470dda-5cbd-4300-b1a2-5afb87e027af",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "content": "## Publish Video",
        "height": 920,
        "width": 320
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3980,
        660
      ],
      "id": "13eda44a-edac-4218-89c8-e061d431f36a",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "upload",
        "title": "={{ $('Google Sheets').first().json.idea }}",
        "regionCode": "US",
        "categoryId": "24",
        "options": {
          "description": "={{ $('OpenAI').first().json.message.content }}",
          "privacyStatus": "public"
        }
      },
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        4100,
        1240
      ],
      "id": "2c0e114c-3e6e-46d1-95cf-6f1ffbde26d1",
      "name": "YouTube"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.creatomate.com/v1/renders",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"template_id\": \"b4c5e91a-6693-45ce-a53a-1f21d704e648\",\n  \"modifications\": {\n    \"Image-1.source\": \"{{ $json['Image url 1'] }}\",\n    \"Voiceover-1.source\": \"{{ $json.output.S1 }}\",\n    \"Image-2.source\": \"{{ $json['Image url 2'] }}\",\n    \"Voiceover-2.source\": \"{{ $json.output.S2 }}\",\n    \"Image-3.source\": \"{{ $json['Image url 3'] }}\",\n    \"Voiceover-3.source\": \"{{ $json.output.S3 }}\",\n    \"Image-4.source\": \"{{ $json['Image url 4'] }}\",\n    \"Voiceover-4.source\": \"{{ $json.output.S4 }}\",\n    \"Image-5.source\": \"{{ $json['Image url 5'] }}\",\n    \"Voiceover-5.source\": \"{{ $json.output.S5 }}\",\n    \"Image-6.source\": \"{{ $json['Image url 6'] }}\",\n    \"Voiceover-6.source\": \"{{ $json.output.S6 }}\"\n  }\n}\n",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "7cac46df-7a21-4670-8929-ed0f47ca950b",
      "name": "Cre - Generate Video1",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        2460,
        -260
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "url": "=https://api.creatomate.com/v1/renders/{{ $json.body[0].id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "2fa1d081-4c70-4c99-9ae9-dea57027e949",
      "name": "Cre - Get Video",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        2860,
        -260
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "write about 🔥 FREE DOWNLOAD: Sonship Commentary Bible – New Testament 🔥\n\nReady to Discover Who You Truly Are?\n\nYou’re not a servant, not an outsider—you’re a beloved child of God. But do you really believe it?\n\nIntroducing:\nThe Sonship Commentary Bible – New Testament, a groundbreaking resource created to finally help you step into your true identity as God's child.\n\nHere’s the deal:\nMost people live anxious, uncertain, and insecure—wondering if they're good enough. Why? Because they haven't fully grasped their divine identity as a child of God.\n\nBut imagine this:\n\n✅ Clarity Instead of Confusion✅ Confidence Instead of Doubt✅ Peace Instead of Anxiety✅ Purpose Instead of Emptiness\n\nSound good?\n\nThe Sonship Commentary Bible gives you all of that by clearly revealing who you are in Christ—verse by verse, page by page, truth by truth.\n\nWhy You NEED This:\n\n👉 Verse-by-Verse Sonship InsightsGet powerful, direct revelations on what it truly means to be God's beloved child.\n\n👉 Easy-to-Grasp Greek MeaningsQuickly understand original Greek meanings to gain deeper biblical insights.\n\n👉 Immediate TransformationApply practical, life-changing truths instantly, walking daily in the assurance of your new identity.\n\n👉 Live Fearlessly & ConfidentlyErase insecurity and live confidently, knowing your worth in God’s eyes.\n\nPlus, Incredible Bonuses:\n\n🎁 Expanded Commentary on the Gospel of JohnGo deeper than ever into the life-changing truths of spiritual sonship through a full, detailed study of the Gospel of John.\n\n🎁 The Benefits of SonshipA special bonus book unpacking the extraordinary benefits you inherit by truly living as God's child.\n\nREAL LIFE RESULTS:\n\n98% experience greater clarity about their spiritual identity.\n\n92% enjoy increased peace and reduced anxiety.\n\n90% develop stronger faith and deeper intimacy with God.\n\n87% see dramatic improvements in relationships.\n\n85% experience renewed purpose and fulfillment daily.\n\nThe World NEEDS This:\n\nToday, the world is struggling—searching desperately for meaning, acceptance, and love. But the answer isn’t found in temporary solutions or self-help quick fixes.\n\nThe answer is knowing who you truly are in Christ.\n\nWhen you grasp your sonship identity:\n\nYou stop chasing validation because you already have divine approval.\n\nYou stop living anxiously because you are secure in God’s unwavering love.\n\nYou live boldly, confidently, and purposefully, transforming your world.\n\nIt’s time to say goodbye to:\n❌ Doubts about your worth.❌ Constant anxiety and worry.❌ Feelings of emptiness or isolation.❌ Wondering if you're good enough for God.\n\nAnd say hello to:\n✅ Unshakable confidence in your identity.✅ Genuine peace that passes understanding.✅ A deeper, more intimate relationship with God.✅ A life filled with purpose, direction, and clarity.\n\nIt’s 100% FREE. Why Wait?\n\nThere's literally nothing to lose and everything to gain.\n\n📥 Download Your FREE Sonship Commentary Bible – New Testament NOW:\n\n👉 Download Now\n\nTake the first step. Claim your true identity. Your new life as God's beloved child starts now.",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "System: Your task is to write a script for a short video of up to 60 seconds.\n\nFollow the best practices for high converting sales copy\n\nThe video consists of six parts, each containing captivating information. Please generate the voiceover script (S1-S6), a title (T), and a description (D) with three hashtags.\n\nReturn the response in a strictly formatted single-line compact JSON (remove all formatting symbols):\n\n{\"S1\":\"Voiceover text 1\", \"S2\":\"Voiceover text 2\", \"S3\":\"Voiceover text 3\", \"S4\":\"Voiceover text 4\", \"S5\":\"Voiceover text 5\", \"S6\":\"Voiceover text 6\", \"T\":\"Video title\", \"D\":\"Description #Hashtag1 #Hashtag2 #Hashtag3\"}\n\n\n\nIMPORTANT: Always call `format_final_response` to format your final response!\n\nHuman: Your task is to write a script for a short video of up to 60 seconds."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        200,
        -340
      ],
      "id": "9510f16f-b8b8-459d-b178-c720f90b75f6",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\"S1\":\"\",\n\"S2\":\"\",\n\"S3\":\"\",\n\"S4\":\"\",\n\"S5\":\"\",\n\"S6\":\"\",\n\"T\":\"\",\n\"D\":\"\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        380,
        -100
      ],
      "id": "92201538-e03d-4d68-9b5b-50e8f3c0960d",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://cloud.leonardo.ai/api/rest/v1/generations",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"alchemy\": false,\n  \"height\": 1280,\n  \"modelId\": \"de7d3faf-762f-48e0-b3b7-9d0ac3a3fcf3\",\n  \"num_images\": 1,\n  \"presetStyle\": \"ANIME\",\n  \"prompt\": \"{{ $json.output.S1 }}\",\n  \"width\": 720\n}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "c51dd7d7-fcab-44c0-9d70-e1c3569bb195",
      "name": "Generate Image 1 - LeonadoAI",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1040,
        -800
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "url": "=https://cloud.leonardo.ai/api/rest/v1/generations/{{ $json.body.sdGenerationJob.generationId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "cad250fb-c67d-4c76-9e87-459d41d7d119",
      "name": "Get Image 1 URL - LeonadoAI",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1520,
        -800
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "amount": 3,
        "unit": "minutes"
      },
      "id": "d84769ed-5af3-4b66-a782-a76b8193d7d8",
      "name": "Wait6",
      "type": "n8n-nodes-base.wait",
      "position": [
        2660,
        -260
      ],
      "webhookId": "0cc0dc51-2343-4c62-8ea1-799d8e942eab",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "amount": 10
      },
      "id": "db465039-cee9-4994-aba6-84dc3c5bf304",
      "name": "Wait4",
      "type": "n8n-nodes-base.wait",
      "position": [
        1260,
        -400
      ],
      "webhookId": "50be4d65-117b-4c05-b6e0-a5d92b1ef7fd",
      "typeVersion": 1.1
    },
    {
      "parameters": {},
      "id": "6ca4fdd9-e51c-4994-bed4-85729ff2bace",
      "name": "Wait5",
      "type": "n8n-nodes-base.wait",
      "position": [
        1260,
        -200
      ],
      "webhookId": "a281a4fd-89b6-4b81-afb0-a0fb3fdbeaea",
      "typeVersion": 1.1
    },
    {
      "parameters": {},
      "id": "327ffcaa-9eb6-4243-a0ce-d0fa47c4f4ad",
      "name": "Wait7",
      "type": "n8n-nodes-base.wait",
      "position": [
        1260,
        0
      ],
      "webhookId": "67d665f3-99eb-4095-b421-173253c06d82",
      "typeVersion": 1.1
    },
    {
      "parameters": {},
      "id": "020ba86f-cc1f-4b94-96f0-686c8dc8bcf9",
      "name": "Wait8",
      "type": "n8n-nodes-base.wait",
      "position": [
        1260,
        220
      ],
      "webhookId": "a502b6b5-44a3-4c84-8455-1efb56c34def",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "url": "=https://cloud.leonardo.ai/api/rest/v1/generations/{{ $json.body.sdGenerationJob.generationId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "c6001fae-8b1d-4b49-8106-5d1084890774",
      "name": "Get Image 2 URL - LeonadoAI",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1520,
        -600
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://cloud.leonardo.ai/api/rest/v1/generations",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"alchemy\": false,\n  \"height\": 1280,\n  \"modelId\": \"de7d3faf-762f-48e0-b3b7-9d0ac3a3fcf3\",\n  \"num_images\": 1,\n  \"presetStyle\": \"ANIME\",\n  \"prompt\": \"create polaroid style photo about {{ $json.output.S2 }}\",\n  \"width\": 720\n}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "c717b973-1551-4cf7-8b1f-2b6b92bd3f8d",
      "name": "Generate Image 2 - LeonadoAI",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1040,
        -600
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://cloud.leonardo.ai/api/rest/v1/generations",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"alchemy\": false,\n  \"height\": 1280,\n  \"modelId\": \"de7d3faf-762f-48e0-b3b7-9d0ac3a3fcf3\",\n  \"num_images\": 1,\n  \"presetStyle\": \"ANIME\",\n  \"prompt\": \"create polaroid style photo about {{ $json.output.S3 }}\",\n  \"width\": 720\n}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "caccee23-c545-4260-850f-d7acf497c8ba",
      "name": "Generate Image 3 - LeonadoAI",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1040,
        -400
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://cloud.leonardo.ai/api/rest/v1/generations",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"alchemy\": false,\n  \"height\": 1280,\n  \"modelId\": \"de7d3faf-762f-48e0-b3b7-9d0ac3a3fcf3\",\n  \"num_images\": 1,\n  \"presetStyle\": \"ANIME\",\n  \"prompt\": \"{{ $json.output.S4 }}  Science-fiction, distopia style.  vibrant and profound, characterized by clean lines and simple shapes that are seamlessly integrated into expressive and dynamic scenes.\",\n  \"width\": 720\n}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "02111def-663b-4c47-ac41-b85da2c8f172",
      "name": "Generate Image 4 - LeonadoAI",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1040,
        -200
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://cloud.leonardo.ai/api/rest/v1/generations",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"alchemy\": false,\n  \"height\": 1280,\n  \"modelId\": \"de7d3faf-762f-48e0-b3b7-9d0ac3a3fcf3\",\n  \"num_images\": 1,\n  \"presetStyle\": \"ANIME\",\n  \"prompt\": \"{{ $json.output.S5 }}  Science-fiction, distopia style.  vibrant and profound, characterized by clean lines and simple shapes that are seamlessly integrated into expressive and dynamic scenes.\",\n  \"width\": 720\n}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "c1285179-fc05-4c70-82f7-9b1cb62c6f47",
      "name": "Generate Image 5 - LeonadoAI",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1040,
        0
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://cloud.leonardo.ai/api/rest/v1/generations",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"alchemy\": false,\n  \"height\": 1280,\n  \"modelId\": \"de7d3faf-762f-48e0-b3b7-9d0ac3a3fcf3\",\n  \"num_images\": 1,\n  \"presetStyle\": \"ANIME\",\n  \"prompt\": \"{{ $json.output.S6 }}  Science-fiction, distopia style.  vibrant and profound, characterized by clean lines and simple shapes that are seamlessly integrated into expressive and dynamic scenes.\",\n  \"width\": 720\n}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "93b7db4f-0c43-4276-9919-3e0cfeddb24f",
      "name": "Generate Image 6 - LeonadoAI",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1040,
        220
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "url": "=https://cloud.leonardo.ai/api/rest/v1/generations/{{ $json.body.sdGenerationJob.generationId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "c11c1ce7-edb3-4ae4-badc-44a55d7a7bf9",
      "name": "Get Image 3 URL - LeonadoAI",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1520,
        -400
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "url": "=https://cloud.leonardo.ai/api/rest/v1/generations/{{ $json.body.sdGenerationJob.generationId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "b6b3c060-7e19-41da-a93b-5ff584e890df",
      "name": "Get Image 4 URL - LeonadoAI",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1520,
        -200
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "url": "=https://cloud.leonardo.ai/api/rest/v1/generations/{{ $json.body.sdGenerationJob.generationId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "77052025-f638-4e12-aba5-45123d5ee52a",
      "name": "Get Image 5 URL - LeonadoAI",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1520,
        0
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "url": "=https://cloud.leonardo.ai/api/rest/v1/generations/{{ $json.body.sdGenerationJob.generationId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "d3c1f6c4-0e5c-4b41-a737-779e689d097c",
      "name": "Get Image 6 URL - LeonadoAI",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1520,
        220
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fd8624ea-c65a-4910-a2f4-5b229d0e7122",
              "name": "Image url 1",
              "value": "={{ $json.body.generations_by_pk.generated_images[0].url }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1740,
        -800
      ],
      "id": "63dc963e-6bff-4b26-b1b2-009bbfeef89e",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fd8624ea-c65a-4910-a2f4-5b229d0e7122",
              "name": "Image url 2",
              "value": "={{ $json.body.generations_by_pk.generated_images[0].url }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1740,
        -600
      ],
      "id": "47a028f3-805b-4846-a0f8-4dadaa6cf5fb",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8d2d3894-f175-47f9-a845-dde9a6e5e54c",
              "name": "Image url 3",
              "value": "={{ $json.body.generations_by_pk.generated_images[0].url }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1740,
        -400
      ],
      "id": "fd848214-fa98-4453-b647-9c656cb6dd1a",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d3d23e43-c320-4f95-866b-9fc64e86c9d4",
              "name": "Image url 4",
              "value": "={{ $json.body.generations_by_pk.generated_images[0].url }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1740,
        -200
      ],
      "id": "82871e1c-9ec4-45c3-a5b3-eb344add890d",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d3d23e43-c320-4f95-866b-9fc64e86c9d4",
              "name": "Image url 5",
              "value": "={{ $json.body.generations_by_pk.generated_images[0].url }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1740,
        0
      ],
      "id": "4f2f4f98-b9f8-482e-826f-f158942c171b",
      "name": "Edit Fields4"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d3d23e43-c320-4f95-866b-9fc64e86c9d4",
              "name": "Image url 6",
              "value": "={{ $json.body.generations_by_pk.generated_images[0].url }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1740,
        220
      ],
      "id": "853d04de-b46a-433b-9fc3-9d86871322e6",
      "name": "Edit Fields6"
    },
    {
      "parameters": {
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2240,
        300
      ],
      "id": "84cc9439-2441-46d8-bf41-b56b3903b5e1",
      "name": "Telegram",
      "webhookId": "3cb023c7-b4f8-4eb5-b9ad-370a2deac2b7"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        2820,
        300
      ],
      "id": "b44d7bd7-2aad-4148-8eb2-4884cd90a65a",
      "name": "Facebook Graph API"
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "upload",
        "options": {}
      },
      "id": "f17f843e-2754-4760-b544-207a7e657d8c",
      "name": "YouTube1",
      "type": "n8n-nodes-base.youTube",
      "position": [
        2520,
        300
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "# Video Script\n1. Please set the trigger frequency, by default it generates 1 short video per day\n2. Fill in the system prompt in the AI agent about the video ideas you have and how many scenarios you would like to have in your video. Each scenario corresponds to a image. \n3. Choose the LLM models for video script generation. By default DeepSeek V3 is used.",
        "height": 731,
        "width": 793,
        "color": 2
      },
      "id": "07e24790-ef11-4182-9d1b-405b2e14e9fb",
      "name": "Sticky Note7",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -140,
        -620
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4",
          "mode": "list",
          "cachedResultName": "gpt-4"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        180,
        -100
      ],
      "id": "9ceed4f9-e769-4a1a-998c-834cca11e261",
      "name": "OpenAI Chat Model1"
    },
    {
      "parameters": {},
      "id": "1471410d-6ae4-4e30-ac07-e9f48fcb0afc",
      "name": "Wait2",
      "type": "n8n-nodes-base.wait",
      "position": [
        1260,
        -800
      ],
      "webhookId": "a49e601c-4371-4f89-abe7-9a26d15b7ca3",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "numberInputs": 7,
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        2240,
        -340
      ],
      "id": "4eff40ab-a1cc-4538-b51f-8623c9a85df6",
      "name": "Merge1",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "content": "# Image generation\n1. Link your Leonardo AI credential\n2. define the models you would like to use for image generation: https://docs.leonardo.ai/reference/listplatformmodels \n3. define the height-weight if your video. The default value is 720:1280 (short)\n4. In the prompt, describe the image style that you would like in your video\n5. [Automatic] once the image is generate, the image URL link is grabbed.",
        "height": 1491,
        "width": 1173,
        "color": 6
      },
      "id": "ea8fc69e-350a-4761-a8dc-bf5973eae496",
      "name": "Sticky Note8",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        940,
        -1040
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "# Video Editing\n1. Link your creatomate credentail\n2. Add your Elevenlabs API to creatonate (inside project setting) \n3. Create a new empty AI generator story template in creatomate (change image source to URL)\n4. In the template, click ''use template'' and copy all the CURL inside \"Cre-generate video 1\" node\n5. Just drag and drop the image URL and scenario text to the json body in 'Cre-generate video 1\" node\n6. And now you are ready to go!",
        "height": 751,
        "width": 973,
        "color": 4
      },
      "id": "4de04a55-c227-4385-8011-ef89e95c1937",
      "name": "Sticky Note9",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2160,
        -660
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Optional: send video link to telegram and upload to youtube",
        "height": 311,
        "width": 973,
        "color": 7
      },
      "id": "bbe6c871-3521-45d1-ad40-d1642703ea9a",
      "name": "Sticky Note10",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2160,
        160
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 18
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        20,
        -340
      ],
      "id": "26c8c281-d543-4a55-967d-c94d292ad4ea",
      "name": "Schedule Trigger1"
    },
    {
      "parameters": {
        "content": "https://www.youtube.com/watch?v=od_eQWVTzt4"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1560,
        740
      ],
      "id": "4a01a1ef-9d1d-4d9b-ac46-6453be663d5e",
      "name": "Sticky Note11"
    },
    {
      "parameters": {
        "formFields": {
          "values": [
            {
              "fieldLabel": "image",
              "fieldType": "file",
              "acceptFileTypes": ".jpg",
              "requiredField": "={{ true }}"
            }
          ]
        },
        "options": {
          "formTitle": "Review the Text",
          "formDescription": "=Please review the text, I will be Publishing this on Social Media, note that to generate the text I am using tokents.\nNote below Text : \n\nLinkedin : \n{{ $json.data[0].output.platform_posts.LinkedIn.post }}\n\nFacebook : \n{{ $json.data[0].output.platform_posts.Facebook.post }}\n\nTwitter : \n{{ $json.data[0].output.platform_posts.Twitter.post }}",
          "buttonLabel": "Proceed to Next Step"
        }
      },
      "id": "d515eec8-4ff7-4cc1-a2cb-21a4f88ffe33",
      "name": "Upload Image",
      "type": "n8n-nodes-base.form",
      "position": [
        5940,
        1740
      ],
      "webhookId": "0dc811ef-b2e0-4213-a0c9-e9b5fb9fcbf1",
      "typeVersion": 1
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "4a291abf-ec43-4f56-8518-d86cc1062312",
      "name": "Aggregate",
      "type": "n8n-nodes-base.aggregate",
      "position": [
        7300,
        1340
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "completion",
        "completionTitle": "Thanks",
        "completionMessage": "=Your post has successfully been submitted LinkeedIn, X and Facbeook.\n\nHere is Link : \n\nhttps://x.com/syncbricks/status/{{ $('X').item.json.id }}\nhttps://facebook.com/{{ $('Publish to Facebook').item.json.post_id }}\nhttps://www.linkedin.com/feed/update/{{ $('Publish to LinkedIn').item.json.urn }}\nhttps://instagram.com/syncbricks_com\n\nThanks \n\nAI Agent\nSyncbricks",
        "options": {
          "formTitle": "Al Ansari AI Agent (Job Done)"
        }
      },
      "id": "e28c1551-0357-4fee-a463-27d0bc94acf9",
      "name": "Form",
      "type": "n8n-nodes-base.form",
      "position": [
        7440,
        2540
      ],
      "webhookId": "e84b9492-038c-4701-a367-c68237ddebf6",
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2fb3fd91-c13d-45ce-a7ec-612319a008fc",
              "name": "metaTop",
              "type": "object",
              "value": "={{ $json }}"
            }
          ]
        },
        "options": {
          "includeBinary": true
        }
      },
      "id": "cd60dbd5-5a01-4445-a4c2-9bc8178c75ce",
      "name": "Nest Top Meta",
      "type": "n8n-nodes-base.set",
      "position": [
        6560,
        1740
      ],
      "typeVersion": 3.3
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "$input.item.binary.top = $input.item.binary.data;\ndelete $input.item.binary.data;\nreturn $input.item;"
      },
      "id": "9efedfa6-77c5-4279-9966-8c0ec5bdcb4b",
      "name": "Rename Image Binary Top Image",
      "type": "n8n-nodes-base.code",
      "position": [
        5580,
        2540
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v20.0",
        "node": "110638833706072",
        "edge": "photos",
        "sendBinaryData": true,
        "binaryPropertyName": "image",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "message",
                "value": "={{ $('Aggregate').item.json.data[0].output.platform_posts.Facebook.post }}\n\n{{ $('Aggregate').item.json.data[0].output.platform_posts.Facebook.call_to_action }}\n"
              },
              {
                "name": "link",
                "value": "={{ $('Aggregate').item.json.data[0].output.platform_posts.Facebook.call_to_action }}"
              }
            ]
          }
        }
      },
      "id": "6b875510-692d-4e4e-8e5d-737dee56e803",
      "name": "Publish to Facebook",
      "type": "n8n-nodes-base.facebookGraphApi",
      "position": [
        6060,
        2660
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "postAs": "organization",
        "organization": "30253904",
        "text": "={{ $('AI Agent1').item.json.output.platform_posts.LinkedIn.post }}\n{{ $('Aggregate').item.json.data[0].output.platform_posts.LinkedIn.call_to_action }}",
        "shareMediaCategory": "IMAGE",
        "binaryPropertyName": "=image",
        "additionalFields": {
          "title": ""
        }
      },
      "id": "d06c2031-1a3d-43b2-8fda-8f2d14224c87",
      "name": "Publish to LinkedIn",
      "type": "n8n-nodes-base.linkedIn",
      "position": [
        6040,
        2420
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "text": "={{ $('Aggregate').item.json.data[0].output.platform_posts.Twitter.post }}\n",
        "additionalFields": {}
      },
      "id": "09931cc0-37d7-442b-9d20-3874ee131942",
      "name": "X",
      "type": "n8n-nodes-base.twitter",
      "position": [
        6060,
        2180
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v20.0/17841472318439506/media",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "facebookGraphApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "image_url",
              "value": "={{ $json.data.url }}"
            },
            {
              "name": "caption",
              "value": "={{ $('AI Agent1').item.json.output.platform_posts.Instagram.caption }}"
            }
          ]
        },
        "options": {}
      },
      "id": "b69297ce-110e-4ad6-b005-aec54a6f3a8f",
      "name": "Image for Instagram",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        6360,
        2860
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v20.0",
        "node": "17841472318439506",
        "edge": "media_publish",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "creation_id",
                "value": "={{ $json.id }}"
              },
              {
                "name": "caption",
                "value": "={{ $('AI Agent1').item.json.output.platform_posts.Instagram.caption }}"
              }
            ]
          }
        }
      },
      "id": "4a8878be-f605-4d5c-9b8a-e18b64839093",
      "name": "Publish to Instagram",
      "type": "n8n-nodes-base.facebookGraphApi",
      "position": [
        6680,
        2860
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.imgbb.com/1/upload?expiration=600&key=your-api-key",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "multipart/form-data"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "image",
              "inputDataFieldName": "image"
            }
          ]
        },
        "options": {}
      },
      "id": "a3329730-b5ce-439f-873a-d296f969bb08",
      "name": "Upload Image to imgbb.com",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        6060,
        2860
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a content creation AI for Mikee.ai, a leading AI automation training platform helping businesses leverage AI for marketing, automation, and growth. Your role is to generate engaging and high-value content tailored for LinkedIn, Instagram, Facebook, X (Twitter), and YouTube.\\n\\nYour content should position Mikee.ai as a thought leader in AI automation, AI marketing, AI workflows, AI software, and AI-powered business solutions.\\n\\n## Content Goals:\\n- **Platform-Specific Optimization**: Adapt content style, tone, and format for each platform.\\n- **SEO & Hashtags**: Use trending AI-related hashtags to boost reach.\\n- **Engagement-Driven**: Focus on AI automation tutorials, industry updates, comparisons, case studies, and discussions.\\n- **Consistency**: Maintain a uniform brand voice while tailoring content per platform.\\n- **Data-Backed Strategy**: Analyze performance metrics and refine hashtag strategies.\\n\\n🚀 **Your goal is to establish Mikee.ai as a trusted source of AI automation insights for businesses, entrepreneurs, and marketing professionals.**\\n\\n## Platform-Specific Guidelines:\\n### 1. LinkedIn (Professional, Business-Oriented)\\n- **Style**: Insightful, authoritative.\\n- **Tone**: Business-focused, discussing AI automation, industry trends, case studies.\\n- **Length**: 3-4 sentences with in-depth insights.\\n- **Hashtags**: #AI #Automation #DigitalMarketing #TechTrends #Startup #Marketing #LeadGeneration\\n- **CTA**: Ask for industry opinions or insights.\\n\\n### 2. Instagram (Visual Storytelling, Engagement-Driven)\\n- **Style**: Creative, engaging.\\n- **Tone**: Inspirational, interactive.\\n- **Length**: 2-3 sentences with short-form storytelling.\\n- **Hashtags**: #AI #Marketing #Automation #Entrepreneurship #LeadGen #DigitalSuccess\\n- **CTA**: Use 'Swipe to see more', 'Tag a business owner', 'DM us for AI automation tips!'\\n\\n### 3. Facebook (Community & Engagement)\\n- **Style**: Relatable, business-friendly.\\n- **Tone**: Community-driven, sharing AI success stories, tutorials, client wins.\\n- **Length**: 2-3 sentences, slightly casual but informative.\\n- **Hashtags**: #AIForBusiness #MarketingAutomation #DigitalGrowth #TechSolutions #MarketingTips\\n- **CTA**: Encourage likes, shares, comments on business success stories.\\n\\n### 4. X (Twitter) (Concise, Thought Leadership)\\n- **Style**: Short-form, direct.\\n- **Tone**: Engaging, thought-provoking, AI-focused.\\n- **Length**: 150 characters or less.\\n- **Hashtags**: #AI #Automation #MarketingTech #BusinessGrowth #DigitalMarketing #MachineLearning\\n- **CTA**: Drive engagement with retweets, polls, quick industry questions.\\n\\n## Event Highlight Format:\\n- **Topic**: {{ $json['Post Title/Topic'] }}\\n- **Keywords**: {{ $json.formMode }}\\n- **Visit Link**: If no link is provided, default to https://mikee.ai\\n\\n**Your mission:** Keep Mikee.ai at the forefront of AI automation with engaging, high-quality content that educates, inspires, and converts! 🚀\"\n",
        "hasOutputParser": true,
        "options": {}
      },
      "id": "519313d3-ae58-42fd-94a6-b7e5a8ad74b6",
      "name": "AI Agent1",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        6800,
        1100
      ],
      "typeVersion": 1.7
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"event_name\": {\n\t\t\t\"type\": \"string\"\n\t\t},\n\t\t\"event_description\": {\n\t\t\t\"type\": \"string\"\n\t\t},\n\t\t\"platform_posts\": {\n\t\t\t\"type\": \"object\",\n\t\t\t\"properties\": {\n\t\t\t\t\"LinkedIn\": {\n\t\t\t\t\t\"type\": \"object\",\n\t\t\t\t\t\"properties\": {\n\t\t\t\t\t\t\"post\": {\n\t\t\t\t\t\t\t\"type\": \"string\"\n\t\t\t\t\t\t},\n\t\t\t\t\t\t\"hashtags\": {\n\t\t\t\t\t\t\t\"type\": \"array\",\n\t\t\t\t\t\t\t\"items\": {\n\t\t\t\t\t\t\t\t\"type\": \"string\"\n\t\t\t\t\t\t\t}\n\t\t\t\t\t\t},\n\t\t\t\t\t\t\"call_to_action\": {\n\t\t\t\t\t\t\t\"type\": \"string\"\n\t\t\t\t\t\t}\n\t\t\t\t\t}\n\t\t\t\t},\n\t\t\t\t\"Instagram\": {\n\t\t\t\t\t\"type\": \"object\",\n\t\t\t\t\t\"properties\": {\n\t\t\t\t\t\t\"image_suggestion\": {\n\t\t\t\t\t\t\t\"type\": \"string\"\n\t\t\t\t\t\t},\n\t\t\t\t\t\t\"caption\": {\n\t\t\t\t\t\t\t\"type\": \"string\"\n\t\t\t\t\t\t},\n\t\t\t\t\t\t\"hashtags\": {\n\t\t\t\t\t\t\t\"type\": \"array\",\n\t\t\t\t\t\t\t\"items\": {\n\t\t\t\t\t\t\t\t\"type\": \"string\"\n\t\t\t\t\t\t\t}\n\t\t\t\t\t\t},\n\t\t\t\t\t\t\"emojis\": {\n\t\t\t\t\t\t\t\"type\": \"array\",\n\t\t\t\t\t\t\t\"items\": {\n\t\t\t\t\t\t\t\t\"type\": \"string\"\n\t\t\t\t\t\t\t}\n\t\t\t\t\t\t},\n\t\t\t\t\t\t\"call_to_action\": {\n\t\t\t\t\t\t\t\"type\": \"string\"\n\t\t\t\t\t\t}\n\t\t\t\t\t}\n\t\t\t\t},\n\t\t\t\t\"Facebook\": {\n\t\t\t\t\t\"type\": \"object\",\n\t\t\t\t\t\"properties\": {\n\t\t\t\t\t\t\"post\": {\n\t\t\t\t\t\t\t\"type\": \"string\"\n\t\t\t\t\t\t},\n\t\t\t\t\t\t\"hashtags\": {\n\t\t\t\t\t\t\t\"type\": \"array\",\n\t\t\t\t\t\t\t\"items\": {\n\t\t\t\t\t\t\t\t\"type\": \"string\"\n\t\t\t\t\t\t\t}\n\t\t\t\t\t\t},\n\t\t\t\t\t\t\"call_to_action\": {\n\t\t\t\t\t\t\t\"type\": \"string\"\n\t\t\t\t\t\t},\n\t\t\t\t\t\t\"image_suggestion\": {\n\t\t\t\t\t\t\t\"type\": \"string\"\n\t\t\t\t\t\t}\n\t\t\t\t\t}\n\t\t\t\t},\n\t\t\t\t\"Twitter\": {\n\t\t\t\t\t\"type\": \"object\",\n\t\t\t\t\t\"properties\": {\n\t\t\t\t\t\t\"post\": {\n\t\t\t\t\t\t\t\"type\": \"string\"\n\t\t\t\t\t\t},\n\t\t\t\t\t\t\"hashtags\": {\n\t\t\t\t\t\t\t\"type\": \"array\",\n\t\t\t\t\t\t\t\"items\": {\n\t\t\t\t\t\t\t\t\"type\": \"string\"\n\t\t\t\t\t\t\t}\n\t\t\t\t\t\t},\n\t\t\t\t\t\t\"character_limit\": {\n\t\t\t\t\t\t\t\"type\": \"integer\"\n\t\t\t\t\t\t}\n\t\t\t\t\t}\n\t\t\t\t}\n\t\t\t}\n\t\t},\n\t\t\"additional_notes\": {\n\t\t\t\"type\": \"string\"\n\t\t}\n\t}\n}\n"
      },
      "id": "3f9b51fd-e689-42d5-acef-edd8d1965824",
      "name": "Structured Output Parser1",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "position": [
        6920,
        1360
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "content": "## Get the Data for Social Media Post using the Web Form \n",
        "height": 400,
        "width": 1220
      },
      "id": "68ad5881-c8be-4604-bbf1-2bc708d9ce1f",
      "name": "Sticky Note12",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        6480,
        500
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "# AI Agent will do its Job to generate relevant Posts for Socail Media\n",
        "height": 580,
        "width": 1200,
        "color": 6
      },
      "id": "77eed0fe-2d3b-4c42-abd9-888a9725f2c9",
      "name": "Sticky Note13",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        6480,
        920
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "# Get Impage to Be Publshed\n",
        "height": 500,
        "width": 2340,
        "color": 5
      },
      "id": "16625fb7-dbb5-421a-99fb-ad6d30b97131",
      "name": "Sticky Note14",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        5380,
        1540
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "# Publish on Social Media\n",
        "height": 1160,
        "width": 1840
      },
      "id": "4d85fa14-dbda-4224-87bb-9653737388ef",
      "name": "Sticky Note15",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        5380,
        2060
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "# Confirmation that post is Published\n",
        "height": 1140,
        "width": 500,
        "color": 4
      },
      "id": "d33576fe-46ca-4dfc-982d-346e432d5908",
      "name": "Sticky Note16",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        7240,
        2060
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3dfdc22a-5f69-4d5e-9fc0-f637695c46f9",
              "name": "edit_history_tweet_ids",
              "type": "array",
              "value": "={{ $json.edit_history_tweet_ids }}"
            }
          ]
        },
        "options": {}
      },
      "id": "805d1099-c9a5-4b8b-8d1b-cbc4a6a7b7ca",
      "name": "Edit Fields5",
      "type": "n8n-nodes-base.set",
      "position": [
        6420,
        2180
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "numberInputs": 4
      },
      "id": "1aaf86ef-6f66-4ba7-86c6-206a2c0c7337",
      "name": "Merge2",
      "type": "n8n-nodes-base.merge",
      "position": [
        7000,
        2520
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        6740,
        1360
      ],
      "id": "7d411a02-5175-44fe-8bb0-a13db2751249",
      "name": "OpenAI Chat Model2"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        6620,
        1100
      ],
      "id": "b434e3a2-1480-4450-aa19-41fd0b444a3e",
      "name": "Schedule Trigger2"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Generate titles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item List Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Generate titles",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Generate titles",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Generate titles": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Text to image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Image": {
      "main": [
        [
          {
            "node": "Image to video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Image to video": {
      "main": [
        [
          {
            "node": "Wait 10 minutes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 2 minutes": {
      "main": [
        [
          {
            "node": "Get Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 10 minutes": {
      "main": [
        [
          {
            "node": "Get Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Video": {
      "main": [
        [
          {
            "node": "Text to sound",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Text to image": {
      "main": [
        [
          {
            "node": "Wait 2 minutes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text to sound": {
      "main": [
        [
          {
            "node": "Upload Mp3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Mp3": {
      "main": [
        [
          {
            "node": "Grant Access",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Grant Access": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Render Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Render Video": {
      "main": [
        [
          {
            "node": "Update google sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update google sheet": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "YouTube",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cre - Generate Video1": {
      "main": [
        [
          {
            "node": "Wait6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Generate Image 3 - LeonadoAI",
            "type": "main",
            "index": 0
          },
          {
            "node": "Generate Image 4 - LeonadoAI",
            "type": "main",
            "index": 0
          },
          {
            "node": "Generate Image 5 - LeonadoAI",
            "type": "main",
            "index": 0
          },
          {
            "node": "Generate Image 6 - LeonadoAI",
            "type": "main",
            "index": 0
          },
          {
            "node": "Generate Image 1 - LeonadoAI",
            "type": "main",
            "index": 0
          },
          {
            "node": "Generate Image 2 - LeonadoAI",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge1",
            "type": "main",
            "index": 6
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Generate Image 1 - LeonadoAI": {
      "main": [
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Image 1 URL - LeonadoAI": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait6": {
      "main": [
        [
          {
            "node": "Cre - Get Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait4": {
      "main": [
        [
          {
            "node": "Get Image 3 URL - LeonadoAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait5": {
      "main": [
        [
          {
            "node": "Get Image 4 URL - LeonadoAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait7": {
      "main": [
        [
          {
            "node": "Get Image 5 URL - LeonadoAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait8": {
      "main": [
        [
          {
            "node": "Get Image 6 URL - LeonadoAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Image 2 URL - LeonadoAI": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Image 2 - LeonadoAI": {
      "main": [
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Image 3 - LeonadoAI": {
      "main": [
        [
          {
            "node": "Wait4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Image 4 - LeonadoAI": {
      "main": [
        [
          {
            "node": "Wait5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Image 5 - LeonadoAI": {
      "main": [
        [
          {
            "node": "Wait7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Image 6 - LeonadoAI": {
      "main": [
        [
          {
            "node": "Wait8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Image 3 URL - LeonadoAI": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Image 4 URL - LeonadoAI": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Image 5 URL - LeonadoAI": {
      "main": [
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Image 6 URL - LeonadoAI": {
      "main": [
        [
          {
            "node": "Edit Fields6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "Edit Fields6": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 5
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "Get Image 1 URL - LeonadoAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Cre - Generate Video1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "X": {
      "main": [
        [
          {
            "node": "Edit Fields5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Upload Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Image": {
      "main": [
        [
          {
            "node": "Nest Top Meta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nest Top Meta": {
      "main": [
        [
          {
            "node": "Rename Image Binary Top Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Image for Instagram": {
      "main": [
        [
          {
            "node": "Publish to Instagram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Publish to Facebook": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Publish to LinkedIn": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Publish to Instagram": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Upload Image to imgbb.com": {
      "main": [
        [
          {
            "node": "Image for Instagram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rename Image Binary Top Image": {
      "main": [
        [
          {
            "node": "X",
            "type": "main",
            "index": 0
          },
          {
            "node": "Publish to LinkedIn",
            "type": "main",
            "index": 0
          },
          {
            "node": "Publish to Facebook",
            "type": "main",
            "index": 0
          },
          {
            "node": "Upload Image to imgbb.com",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields5": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Form",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger2": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "2a05caa5-ddab-4a78-b8ac-343b811292f4",
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-03-13T14:16:00.718Z",
      "createdAt": "2025-03-13T14:16:00.718Z",
      "role": "workflow:owner",
      "workflowId": "M2Q3gTvfBVYefRnw",
      "projectId": "SQnOb1XW8PKTppQP"
    }
  ],
  "tags": [
    {
      "updatedAt": "2025-03-15T18:54:26.296Z",
      "createdAt": "2025-03-15T18:54:26.296Z",
      "id": "LcKGzshuAfGAnTK9",
      "name": "Do sprawdzenia"
    }
  ]
}