backups/2025-11-26/gmail_support_agent_688mKZgYMxvsBvPg.json
{
  "updatedAt": "2025-03-15T18:58:16.223Z",
  "createdAt": "2025-03-11T13:09:58.760Z",
  "id": "688mKZgYMxvsBvPg",
  "name": "Gmail Support Agent",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "html": "={{ $json.data }}",
        "options": {
          "ignore": "a,img"
        }
      },
      "id": "1a7f85f1-cf25-4c65-87e0-d9cdd51f2afa",
      "name": "Convert HTML to Markdown",
      "type": "n8n-nodes-base.markdown",
      "position": [
        2040,
        1480
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Extract information from support articles\n\n",
        "height": 329,
        "width": 1278,
        "color": 4
      },
      "id": "84808948-e42e-456b-8f84-930ad04d7c56",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1220,
        1360
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "output",
              "cssSelector": "a",
              "returnValue": "attribute",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "id": "0029d63f-c355-4519-98a1-bc23ec5080e6",
      "name": "Retrieve URLs",
      "type": "n8n-nodes-base.html",
      "position": [
        1820,
        880
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "fieldToSplitOut": "output",
        "options": {}
      },
      "id": "b68ecfb6-448c-42f0-82e8-93ff38687178",
      "name": "Split out URLs",
      "type": "n8n-nodes-base.splitOut",
      "position": [
        2040,
        880
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "compare": "selectedFields",
        "fieldsToCompare": "href",
        "options": {}
      },
      "id": "4567b8e9-37ac-45ae-8a7c-5e11870144c5",
      "name": "Remove duplicated",
      "type": "n8n-nodes-base.removeDuplicates",
      "position": [
        1380,
        1120
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "04ced063-09f0-496c-9b28-b8095f9e2297",
              "name": "href",
              "type": "string",
              "value": "={{ $json.href.startsWith(\"/\") ? $('Add protocool to domain (URL)').item.json[\"domain\"] + $json.href : $json.href }}"
            }
          ]
        },
        "includeOtherFields": true,
        "include": "selected",
        "includeFields": "title",
        "options": {}
      },
      "id": "c3c601aa-6b72-414d-a21b-e446e178d6e1",
      "name": "Set domain to path",
      "type": "n8n-nodes-base.set",
      "position": [
        1580,
        1120
      ],
      "typeVersion": 3.3
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "d01ea6a8-7e75-40d4-98f2-25d42b245f36",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              },
              "leftValue": "={{ $json.href.isUrl() }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "e1102591-1ea0-4dfa-aa20-0802d58bc286",
      "name": "Filter out invalid URLs",
      "type": "n8n-nodes-base.filter",
      "position": [
        1820,
        1120
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "include": "specifiedFields",
        "fieldsToInclude": "title,href",
        "options": {}
      },
      "id": "7214c998-0f28-40e0-ab5a-7590bc69b400",
      "name": "Aggregate URLs",
      "type": "n8n-nodes-base.aggregate",
      "position": [
        2040,
        1120
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "5b9b7353-bd04-4af2-9480-8de135ff4223",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              },
              "leftValue": "={{ $json.href }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "563379fd-83db-4a63-932f-eb240dc7c64e",
      "name": "Filter out empty hrefs",
      "type": "n8n-nodes-base.filter",
      "position": [
        2260,
        880
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "253c2b17-c749-4f0a-93e8-5ff74f1ce49b",
              "name": "domain",
              "type": "string",
              "value": "={{ $json.query }}"
            }
          ]
        },
        "options": {}
      },
      "id": "c3aeb104-8303-404a-946e-c5caebd8c8a9",
      "name": "Set domain (text)",
      "type": "n8n-nodes-base.set",
      "position": [
        1380,
        1480
      ],
      "typeVersion": 3.3
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ed0f1505-82b6-4393-a0d8-088055137ec9",
              "name": "domain",
              "type": "string",
              "value": "={{ $json.domain.startsWith(\"http\") ? $json.domain : \"http://\" + $json.domain }}"
            }
          ]
        },
        "options": {}
      },
      "id": "32f1b7a1-0538-46b1-9215-3514fe54d617",
      "name": "Add protocool to domain (text)",
      "type": "n8n-nodes-base.set",
      "position": [
        1580,
        1480
      ],
      "typeVersion": 3.3
    },
    {
      "parameters": {
        "url": "={{ $json.domain }}",
        "options": {}
      },
      "id": "8dac07e9-525c-4bda-b0b2-b0da07d3a10a",
      "name": "Get website (text)",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1820,
        1480
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2b1c7ff8-06a7-448b-99b7-5ede4b2e0bf0",
              "name": "response",
              "type": "string",
              "value": "={{ $json.data }}"
            }
          ]
        },
        "options": {}
      },
      "id": "31ea0018-a917-4c0f-ae29-039eae4feed3",
      "name": "Set response (text)",
      "type": "n8n-nodes-base.set",
      "position": [
        2260,
        1480
      ],
      "typeVersion": 3.3
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "253c2b17-c749-4f0a-93e8-5ff74f1ce49b",
              "name": "domain",
              "type": "string",
              "value": "={{ $json.query }}"
            }
          ]
        },
        "options": {}
      },
      "id": "8c02a5fd-8dec-4258-b817-9bf49a9c996d",
      "name": "Set domain (URL)",
      "type": "n8n-nodes-base.set",
      "position": [
        1380,
        880
      ],
      "typeVersion": 3.3
    },
    {
      "parameters": {
        "url": "={{ $json.domain }}",
        "options": {}
      },
      "id": "aef69a6c-e472-4218-a92d-143b441e98ad",
      "name": "Get website (URL)",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1580,
        880
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "53c1c016-7983-4eba-a91d-da2a0523d805",
              "name": "response",
              "type": "string",
              "value": "={{ JSON.stringify($json.data) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "63b27dd7-48fc-4f55-8566-3ff200f67686",
      "name": "Set response (URL)",
      "type": "n8n-nodes-base.set",
      "position": [
        2260,
        1120
      ],
      "typeVersion": 3.3
    },
    {
      "parameters": {
        "content": "## Find relevant support articles",
        "height": 589,
        "width": 1267,
        "color": 4
      },
      "id": "bcbc3809-3a9b-40fe-9bb2-c55a1e727ff3",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1220,
        740
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "_Special thanks to @workfloows (YouTube)_",
        "height": 80,
        "width": 370,
        "color": 4
      },
      "id": "e6533288-7452-44c3-872d-bb737d332d4d",
      "name": "Sticky Note8",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1220,
        1720
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "options": {
          "responseFormat": "text",
          "temperature": 0
        }
      },
      "id": "a78822fc-8d8c-419f-be44-59be48ecda9c",
      "name": "OpenAI",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        700,
        560
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "get",
        "messageId": "={{ $json.id }}",
        "simple": false,
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        280,
        280
      ],
      "id": "0d387dc7-a24a-4b87-84ef-40bf00898575",
      "name": "Read Email",
      "webhookId": "7e902a16-aa7a-4cf4-9762-cb158107f336"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyX",
              "value": 10,
              "unit": "minutes"
            }
          ]
        },
        "filters": {
          "labelIds": [
            "Label_9011356392862525253"
          ]
        }
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.2,
      "position": [
        100,
        280
      ],
      "id": "59d5cf4c-22f2-4b6a-b52f-82c4ef64244d",
      "name": "Check for new support email"
    },
    {
      "parameters": {
        "name": "url_retrieval_tool",
        "description": "Call this tool to return all URLs from the given website. Query should be full website URL.",
        "source": "parameter",
        "workflowJson": "{\n  \"nodes\": [\n    {\n      \"parameters\": {},\n      \"id\": \"05107436-c9cb-419b-ae8a-b74d309a130d\",\n      \"name\": \"Execute workflow\",\n      \"type\": \"n8n-nodes-base.manualTrigger\",\n      \"typeVersion\": 1,\n      \"position\": [\n        2200,\n        740\n      ]\n    },\n    {\n      \"parameters\": {\n        \"operation\": \"extractHtmlContent\",\n        \"extractionValues\": {\n          \"values\": [\n            {\n              \"key\": \"output\",\n              \"cssSelector\": \"a\",\n              \"returnValue\": \"attribute\",\n              \"returnArray\": true\n            }\n          ]\n        },\n        \"options\": {}\n      },\n      \"id\": \"1972e13e-d923-45e8-9752-e4bf45faaccf\",\n      \"name\": \"Retrieve URLs\",\n      \"type\": \"n8n-nodes-base.html\",\n      \"typeVersion\": 1.2,\n      \"position\": [\n        3060,\n        740\n      ]\n    },\n    {\n      \"parameters\": {\n        \"fieldToSplitOut\": \"output\",\n        \"options\": {}\n      },\n      \"id\": \"19703fbc-05ff-4d80-ab53-85ba6d39fc3f\",\n      \"name\": \"Split out URLs\",\n      \"type\": \"n8n-nodes-base.splitOut\",\n      \"typeVersion\": 1,\n      \"position\": [\n        3280,\n        740\n      ]\n    },\n    {\n      \"parameters\": {\n        \"compare\": \"selectedFields\",\n        \"fieldsToCompare\": \"href\",\n        \"options\": {}\n      },\n      \"id\": \"5cc988e7-de9b-4177-b5e7-edb3842202c8\",\n      \"name\": \"Remove duplicated\",\n      \"type\": \"n8n-nodes-base.removeDuplicates\",\n      \"typeVersion\": 1,\n      \"position\": [\n        3720,\n        740\n      ]\n    },\n    {\n      \"parameters\": {\n        \"assignments\": {\n          \"assignments\": [\n            {\n              \"id\": \"04ced063-09f0-496c-9b28-b8095f9e2297\",\n              \"name\": \"href\",\n              \"value\": \"={{ $json.href.startsWith(\\\"/\\\") ? $('Add protocool to domain (URL)').item.json[\\\"domain\\\"] + $json.href : $json.href }}\",\n              \"type\": \"string\"\n            }\n          ]\n        },\n        \"includeOtherFields\": true,\n        \"include\": \"selected\",\n        \"includeFields\": \"title\",\n        \"options\": {}\n      },\n      \"id\": \"4715a25d-93a7-4056-8768-e3f886a1a0c9\",\n      \"name\": \"Set domain to path\",\n      \"type\": \"n8n-nodes-base.set\",\n      \"typeVersion\": 3.3,\n      \"position\": [\n        3940,\n        740\n      ]\n    },\n    {\n      \"parameters\": {\n        \"conditions\": {\n          \"options\": {\n            \"caseSensitive\": true,\n            \"leftValue\": \"\",\n            \"typeValidation\": \"strict\"\n          },\n          \"conditions\": [\n            {\n              \"id\": \"d01ea6a8-7e75-40d4-98f2-25d42b245f36\",\n              \"leftValue\": \"={{ $json.href.isUrl() }}\",\n              \"rightValue\": \"\",\n              \"operator\": {\n                \"type\": \"boolean\",\n                \"operation\": \"true\",\n                \"singleValue\": true\n              }\n            }\n          ],\n          \"combinator\": \"and\"\n        },\n        \"options\": {}\n      },\n      \"id\": \"353deefb-ae69-440c-95b6-fdadacf4bf91\",\n      \"name\": \"Filter out invalid URLs\",\n      \"type\": \"n8n-nodes-base.filter\",\n      \"typeVersion\": 2,\n      \"position\": [\n        4160,\n        740\n      ]\n    },\n    {\n      \"parameters\": {\n        \"aggregate\": \"aggregateAllItemData\",\n        \"include\": \"specifiedFields\",\n        \"fieldsToInclude\": \"title,href\",\n        \"options\": {}\n      },\n      \"id\": \"9f87be8c-72d7-4ab1-b297-dc7069b2dd11\",\n      \"name\": \"Aggregate URLs\",\n      \"type\": \"n8n-nodes-base.aggregate\",\n      \"typeVersion\": 1,\n      \"position\": [\n        4380,\n        740\n      ]\n    },\n    {\n      \"parameters\": {\n        \"conditions\": {\n          \"options\": {\n            \"caseSensitive\": true,\n            \"leftValue\": \"\",\n            \"typeValidation\": \"strict\"\n          },\n          \"conditions\": [\n            {\n              \"id\": \"5b9b7353-bd04-4af2-9480-8de135ff4223\",\n              \"leftValue\": \"={{ $json.href }}\",\n              \"rightValue\": \"\",\n              \"operator\": {\n                \"type\": \"string\",\n                \"operation\": \"exists\",\n                \"singleValue\": true\n              }\n            }\n          ],\n          \"combinator\": \"and\"\n        },\n        \"options\": {}\n      },\n      \"id\": \"35c8323a-5350-403a-9c2d-114b0527e395\",\n      \"name\": \"Filter out empty hrefs\",\n      \"type\": \"n8n-nodes-base.filter\",\n      \"typeVersion\": 2,\n      \"position\": [\n        3500,\n        740\n      ]\n    },\n    {\n      \"parameters\": {\n        \"assignments\": {\n          \"assignments\": [\n            {\n              \"id\": \"253c2b17-c749-4f0a-93e8-5ff74f1ce49b\",\n              \"name\": \"domain\",\n              \"value\": \"={{ $json.query }}\",\n              \"type\": \"string\"\n            }\n          ]\n        },\n        \"options\": {}\n      },\n      \"id\": \"d9f6a148-6c8c-4a58-89f5-4e9cfcd8d910\",\n      \"name\": \"Set domain (URL)\",\n      \"type\": \"n8n-nodes-base.set\",\n      \"typeVersion\": 3.3,\n      \"position\": [\n        2400,\n        740\n      ]\n    },\n    {\n      \"parameters\": {\n        \"assignments\": {\n          \"assignments\": [\n            {\n              \"id\": \"ed0f1505-82b6-4393-a0d8-088055137ec9\",\n              \"name\": \"domain\",\n              \"value\": \"={{ $json.domain.startsWith(\\\"http\\\") ? $json.domain : \\\"http://\\\" + $json.domain }}\",\n              \"type\": \"string\"\n            }\n          ]\n        },\n        \"options\": {}\n      },\n      \"id\": \"1f974444-da58-4a47-a9c3-ba3091fc1e96\",\n      \"name\": \"Add protocool to domain (URL)\",\n      \"type\": \"n8n-nodes-base.set\",\n      \"typeVersion\": 3.3,\n      \"position\": [\n        2620,\n        740\n      ]\n    },\n    {\n      \"parameters\": {\n        \"url\": \"={{ $json.domain }}\",\n        \"options\": {}\n      },\n      \"id\": \"31d7c7d4-8f61-402b-858d-63dd68ac69ee\",\n      \"name\": \"Get website (URL)\",\n      \"type\": \"n8n-nodes-base.httpRequest\",\n      \"typeVersion\": 4.2,\n      \"position\": [\n        2840,\n        740\n      ]\n    },\n    {\n      \"parameters\": {\n        \"assignments\": {\n          \"assignments\": [\n            {\n              \"id\": \"53c1c016-7983-4eba-a91d-da2a0523d805\",\n              \"name\": \"response\",\n              \"value\": \"={{ JSON.stringify($json.data) }}\",\n              \"type\": \"string\"\n            }\n          ]\n        },\n        \"options\": {}\n      },\n      \"id\": \"f4b6df77-96be-4b12-9a8b-ae9b7009f13d\",\n      \"name\": \"Set response (URL)\",\n      \"type\": \"n8n-nodes-base.set\",\n      \"typeVersion\": 3.3,\n      \"position\": [\n        4600,\n        740\n      ]\n    }\n  ],\n  \"connections\": {\n    \"Execute workflow\": {\n      \"main\": [\n        [\n          {\n            \"node\": \"Set domain (URL)\",\n            \"type\": \"main\",\n            \"index\": 0\n          }\n        ]\n      ]\n    },\n    \"Retrieve URLs\": {\n      \"main\": [\n        [\n          {\n            \"node\": \"Split out URLs\",\n            \"type\": \"main\",\n            \"index\": 0\n          }\n        ]\n      ]\n    },\n    \"Split out URLs\": {\n      \"main\": [\n        [\n          {\n            \"node\": \"Filter out empty hrefs\",\n            \"type\": \"main\",\n            \"index\": 0\n          }\n        ]\n      ]\n    },\n    \"Remove duplicated\": {\n      \"main\": [\n        [\n          {\n            \"node\": \"Set domain to path\",\n            \"type\": \"main\",\n            \"index\": 0\n          }\n        ]\n      ]\n    },\n    \"Set domain to path\": {\n      \"main\": [\n        [\n          {\n            \"node\": \"Filter out invalid URLs\",\n            \"type\": \"main\",\n            \"index\": 0\n          }\n        ]\n      ]\n    },\n    \"Filter out invalid URLs\": {\n      \"main\": [\n        [\n          {\n            \"node\": \"Aggregate URLs\",\n            \"type\": \"main\",\n            \"index\": 0\n          }\n        ]\n      ]\n    },\n    \"Aggregate URLs\": {\n      \"main\": [\n        [\n          {\n            \"node\": \"Set response (URL)\",\n            \"type\": \"main\",\n            \"index\": 0\n          }\n        ]\n      ]\n    },\n    \"Filter out empty hrefs\": {\n      \"main\": [\n        [\n          {\n            \"node\": \"Remove duplicated\",\n            \"type\": \"main\",\n            \"index\": 0\n          }\n        ]\n      ]\n    },\n    \"Set domain (URL)\": {\n      \"main\": [\n        [\n          {\n            \"node\": \"Add protocool to domain (URL)\",\n            \"type\": \"main\",\n            \"index\": 0\n          }\n        ]\n      ]\n    },\n    \"Add protocool to domain (URL)\": {\n      \"main\": [\n        [\n          {\n            \"node\": \"Get website (URL)\",\n            \"type\": \"main\",\n            \"index\": 0\n          }\n        ]\n      ]\n    },\n    \"Get website (URL)\": {\n      \"main\": [\n        [\n          {\n            \"node\": \"Retrieve URLs\",\n            \"type\": \"main\",\n            \"index\": 0\n          }\n        ]\n      ]\n    }\n  },\n  \"pinData\": {}\n}"
      },
      "id": "30d016d4-8016-49c8-a097-ab6d25211db2",
      "name": "Retrieve support articles",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "position": [
        1180,
        880
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "name": "text_retrieval_tool",
        "description": "Call this tool to return all text from the given website. Query should be full website URL.",
        "source": "parameter",
        "workflowJson": "{\n  \"nodes\": [\n    {\n      \"parameters\": {},\n      \"id\": \"05107436-c9cb-419b-ae8a-b74d309a130d\",\n      \"name\": \"Execute workflow\",\n      \"type\": \"n8n-nodes-base.manualTrigger\",\n      \"typeVersion\": 1,\n      \"position\": [\n        2220,\n        620\n      ]\n    },\n    {\n      \"parameters\": {\n        \"assignments\": {\n          \"assignments\": [\n            {\n              \"id\": \"253c2b17-c749-4f0a-93e8-5ff74f1ce49b\",\n              \"name\": \"domain\",\n              \"value\": \"={{ $json.query }}\",\n              \"type\": \"string\"\n            }\n          ]\n        },\n        \"options\": {}\n      },\n      \"id\": \"bb8be616-3227-4705-8520-1827069faacd\",\n      \"name\": \"Set domain\",\n      \"type\": \"n8n-nodes-base.set\",\n      \"typeVersion\": 3.3,\n      \"position\": [\n        2440,\n        620\n      ]\n    },\n    {\n      \"parameters\": {\n        \"assignments\": {\n          \"assignments\": [\n            {\n              \"id\": \"ed0f1505-82b6-4393-a0d8-088055137ec9\",\n              \"name\": \"domain\",\n              \"value\": \"={{ $json.domain.startsWith(\\\"http\\\") ? $json.domain : \\\"http://\\\" + $json.domain }}\",\n              \"type\": \"string\"\n            }\n          ]\n        },\n        \"options\": {}\n      },\n      \"id\": \"bdf29340-f135-489f-848e-1c7fa43a01df\",\n      \"name\": \"Add protocool to domain\",\n      \"type\": \"n8n-nodes-base.set\",\n      \"typeVersion\": 3.3,\n      \"position\": [\n        2640,\n        620\n      ]\n    },\n    {\n      \"parameters\": {\n        \"assignments\": {\n          \"assignments\": [\n            {\n              \"id\": \"2b1c7ff8-06a7-448b-99b7-5ede4b2e0bf0\",\n              \"name\": \"response\",\n              \"value\": \"={{ $json.data }}\",\n              \"type\": \"string\"\n            }\n          ]\n        },\n        \"options\": {}\n      },\n      \"id\": \"9f0aa264-08c1-459a-bb99-e28599fe8f76\",\n      \"name\": \"Set response\",\n      \"type\": \"n8n-nodes-base.set\",\n      \"typeVersion\": 3.3,\n      \"position\": [\n        3300,\n        620\n      ]\n    },\n    {\n      \"parameters\": {\n        \"url\": \"={{ $json.domain }}\",\n        \"options\": {}\n      },\n      \"id\": \"cec7c8e8-bf5e-43d5-aa41-876293dbec78\",\n      \"name\": \"Get website\",\n      \"type\": \"n8n-nodes-base.httpRequest\",\n      \"typeVersion\": 4.2,\n      \"position\": [\n        2860,\n        620\n      ]\n    },\n    {\n      \"parameters\": {\n        \"html\": \"={{ $json.data }}\",\n        \"options\": {\n          \"ignore\": \"a,img\"\n        }\n      },\n      \"id\": \"1af94fcb-bca3-45c4-9277-18878c75d417\",\n      \"name\": \"Convert HTML to Markdown\",\n      \"type\": \"n8n-nodes-base.markdown\",\n      \"typeVersion\": 1,\n      \"position\": [\n        3080,\n        620\n      ]\n    }\n  ],\n  \"connections\": {\n    \"Execute workflow\": {\n      \"main\": [\n        [\n          {\n            \"node\": \"Set domain\",\n            \"type\": \"main\",\n            \"index\": 0\n          }\n        ]\n      ]\n    },\n    \"Set domain\": {\n      \"main\": [\n        [\n          {\n            \"node\": \"Add protocool to domain\",\n            \"type\": \"main\",\n            \"index\": 0\n          }\n        ]\n      ]\n    },\n    \"Add protocool to domain\": {\n      \"main\": [\n        [\n          {\n            \"node\": \"Get website\",\n            \"type\": \"main\",\n            \"index\": 0\n          }\n        ]\n      ]\n    },\n    \"Get website\": {\n      \"main\": [\n        [\n          {\n            \"node\": \"Convert HTML to Markdown\",\n            \"type\": \"main\",\n            \"index\": 0\n          }\n        ]\n      ]\n    },\n    \"Convert HTML to Markdown\": {\n      \"main\": [\n        [\n          {\n            \"node\": \"Set response\",\n            \"type\": \"main\",\n            \"index\": 0\n          }\n        ]\n      ]\n    }\n  },\n  \"pinData\": {}\n}"
      },
      "id": "c696fab5-8c5c-47ad-aa46-c58ec33e97d6",
      "name": "Extract knowledge from support articles",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "position": [
        1200,
        1480
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4-turbo",
          "mode": "list",
          "cachedResultName": "GPT-4-TURBO"
        },
        "messages": {
          "values": [
            {
              "content": "Act as a laguage professor. Detect the language of an email and return it. For example \"English\" if the email was writte in English.\n\nImportant\n– Base your decision *not* on the name of the sender\n– Only look at the body of the email to make a decision.\n– Return in the following format: \"language\": \"English\"",
              "role": "system"
            },
            {
              "content": "=<Email>\n{{ $json.text }}\n</Email>"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        140,
        500
      ],
      "id": "7c1c6f35-034f-4d25-8319-3568470b38f0",
      "name": "Detect email language",
      "credentials": {
        "openAiApi": {
          "id": "EJgMjh9fB0j2lVkm",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Support agent').item.json.output.confidence[0] }}",
                    "rightValue": 7,
                    "operator": {
                      "type": "number",
                      "operation": "lte"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Not Confident"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "bca9a553-f5aa-431a-ab97-d369471bdf74",
                    "leftValue": "={{ $('Support agent').item.json.output.confidence[0] }}",
                    "rightValue": 7,
                    "operator": {
                      "type": "number",
                      "operation": "gt"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Confident"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1300,
        400
      ],
      "id": "127496a5-7cd5-47e0-8cdb-c541f63ac1fd",
      "name": "Confidence check"
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "chatId": "6134296",
        "message": "=++ Original Message ++\n{{ $('Check for new support email').item.json.snippet }}\n\n++ Response ++\n{{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1880,
        320
      ],
      "id": "4d347190-ba86-4d85-95cd-fa9eda4434b2",
      "name": "Wait for approval",
      "webhookId": "279e95ef-c6e2-47a4-8621-19ca38c42305"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"response\": \"<html>\\n<body>\\n<p>Hi Sven,</p>\\n\\n<p>Thank you for reaching out with your questions about migrating from Firebase Dynamic Links to Pxl.to. Here's the information I found that might help you:</p>\\n\\n<p>1. <b>Universal Links and App Links</b>: Pxl.to supports Universal Links for iOS and App Links for Android, which can redirect users to an app without needing a platform-specific URL scheme. This can potentially replace Firebase Dynamic Links for opening in-app content when the app is installed. However, Pxl.to does not support deep links in the traditional sense, so you might need to evaluate if this meets all your requirements or if additional services like Branch.io are necessary.</p>\\n\\n<p>2. <b>SDK Requirement</b>: The documentation does not explicitly mention the need for an SDK within your app. It seems to focus on setting up the correct Universal Link/App Link structure.</p>\\n\\n<p>3. <b>Fallback Behavior</b>: The documentation does not provide specific details on how Pxl.to handles fallback behavior when the app is not installed. This might require further inquiry with their support team for clarification.</p>\\n\\n<p>For more detailed information, you can visit their FAQ page: <a href='https://help.pxl.to/docs/faq'>Pxl.to FAQ</a>.</p>\\n\\n<p>I hope this helps! If you have more questions or need further assistance, feel free to ask.</p>\\n\\n<p>Best regards,</p>\\n\\n<p>Your Support Team</p>\\n</body>\\n</html>\",\n  \"references\": [\n    \"https://help.pxl.to/docs/microsites\",\n    \"https://help.pxl.to/docs/short-links\"\n  ],\n  \"confidence\": [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        820,
        560
      ],
      "id": "717ced40-e105-4aa8-9368-773fa42ee337",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Retrieve answers to users support requests from this website: https://help.pxl.to.\n\n<User Email Support Request>\n{{ $('Read Email').first().json.text }}\n</User Email Support Request>",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are an support agent who responds to support requests from users. You are tasked with the ability to crawl support articles and to extract answers from websites to respond to support requests from users.\n\nYou have access to the following tools:\na. A URl retrieval tool to identify and navigate through links on the page.\nb. A text retrieval tool to gather all text content from a URL.\n\nYour objective is to provide a helpful response in {{ $json.message.content.language }} to answer the user's email support request. You must also provide the corresponding URL where you found the information in your response.\n\nFollow the steps below to return your response:\n1. Read and deeply understand the user's email support request.\n2. Use the URL retrieval tool to extract URLs from the provided support website. Utilize the URLs retrieved to crawl additional pages as needed.\n3. Use the text retrieval tool to read the support articles to form an answer to the user's email support request.\n4. For every response you create, you must also respond with the confidence level of each response, from 0 (lowest) to highest (10). If you are 100% sure that all questions can be resolved with your answer to the user, respond woth 10 (highest), if you think half of the question(s) have been answered, respond with 5 (medium), if none of the question(s) have been resolved, respond with 0 (lowest)\n5. Return valid HTML code in your response to draft an email response. Also include the URLs you used to form your resoponse and the confidence level.\n\nImportant:\n- If the user asks you to perform actions only a root user can accomplish, such as deleting a user account or refund payments, return an empty email response and a confidence level of 0 (zero).\n- Do not suggest other competitors or other tools besides Pxl (https://www.pxl.to).\n- Ask follow-up questions if needed.\n- Never mention that you are an AI agent.\n- Return valid HTML, no markdown or whatsoever (for example, **Bold** does not work, but <strong>Bold</strong> does).\n– If the documentation does not provide specific details, lower your confidence level below 5.\n\n<Example response>\n{\n  \"response\": \"<html>\\n<body>\\n<p>Hi Sven,</p>\\n\\n<p>Thank you for reaching out with your questions about migrating from Firebase Dynamic Links to Pxl.to. Here's the information I found that might help you:</p>\\n\\n<p>1. <b>Universal Links and App Links</b>: Pxl.to supports Universal Links for iOS and App Links for Android, which can redirect users to an app without needing a platform-specific URL scheme. This can potentially replace Firebase Dynamic Links for opening in-app content when the app is installed. However, Pxl.to does not support deep links in the traditional sense, so you might need to evaluate if this meets all your requirements or if additional services like Branch.io are necessary.</p>\\n\\n<p>2. <b>SDK Requirement</b>: The documentation does not explicitly mention the need for an SDK within your app. It seems to focus on setting up the correct Universal Link/App Link structure.</p>\\n\\n<p>3. <b>Fallback Behavior</b>: The documentation does not provide specific details on how Pxl.to handles fallback behavior when the app is not installed. This might require further inquiry with their support team for clarification.</p>\\n\\n<p>For more detailed information, you can visit their FAQ page: <a href='https://help.pxl.to/docs/faq'>Pxl.to FAQ</a>.</p>\\n\\n<p>I hope this helps! If you have more questions or need further assistance, feel free to ask.</p>\\n\\n<p>Best regards,</p>\\n\\n<p>Your Support Team</p>\\n</body>\\n</html>\",\n  \"references\": [\n    \"https://help.pxl.to/docs/microsites\",\n    \"https://help.pxl.to/docs/short-links\"\n  ],\n  \"confidence\": [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]\n}\n</Example response>"
        }
      },
      "id": "c3281f02-e9b2-48dd-b207-2d561b638cab",
      "name": "Support agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        760,
        320
      ],
      "retryOnFail": true,
      "typeVersion": 1.6
    },
    {
      "parameters": {
        "sendTo": "=b@hauser.io",
        "subject": "=Re: {{ $('Read Email').item.json.headers.subject }}",
        "message": "={{ $('Support agent').first().json.output.response }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1660,
        520
      ],
      "id": "58168573-00f6-41e7-80d4-18698420bf72",
      "name": "Send reponse",
      "webhookId": "516c29b4-16f4-44ea-931c-56d626f2d245"
    },
    {
      "parameters": {
        "content": "## Check for new emails with label \"Support\"",
        "height": 500,
        "width": 520,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        200
      ],
      "id": "750bd0b4-1f9d-4d87-b251-ae1b7b5691d0",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Understand question, read support articles and create answer",
        "height": 500,
        "width": 520,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        600,
        200
      ],
      "id": "78ccdbab-8421-4253-87c2-da3ee36edd32",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## How confident is the agent with its answer?\n### Confident = Send email\n### Not confident = Save as draft and wait for approval",
        "height": 500,
        "width": 1260,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1220,
        200
      ],
      "id": "a6cf4b9e-6f04-4500-8377-9b7ccaedee1f",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "# Gmail Support Agent\n## This agent checks new support email and drafts a response based on suport articles.\n## If the agent is confident about its answer, it sends it right away. If not, it waits for user approval.\n",
        "width": 1900,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        200,
        0
      ],
      "id": "5c89a231-ec25-4f14-b723-99848beddba7",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "![](https://upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Gmail_icon_%282020%29.svg/1280px-Gmail_icon_%282020%29.svg.png)\n\n",
        "width": 170,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "11a5da17-8354-435f-b87f-93db69fce27c",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "=Re: {{ $('Read Email').item.json.headers.subject }}",
        "emailType": "html",
        "message": "={{ $('Support agent').first().json.output.response }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1660,
        320
      ],
      "id": "3a4bfdca-85e3-4177-83d0-444861823ee4",
      "name": "Save draft",
      "webhookId": "760728c6-82ed-4309-8b07-ccb682603c34"
    },
    {
      "parameters": {
        "sendTo": "=b@hauser.io",
        "subject": "=Re: {{ $('Read Email').item.json.headers.subject }}",
        "message": "={{ $('Support agent').first().json.output.response }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2120,
        320
      ],
      "id": "7ce2b85f-a5a4-49b2-9733-6104ec80bc04",
      "name": "Send reponse after approval",
      "webhookId": "516c29b4-16f4-44ea-931c-56d626f2d245"
    }
  ],
  "connections": {
    "Retrieve URLs": {
      "main": [
        [
          {
            "node": "Split out URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate URLs": {
      "main": [
        [
          {
            "node": "Set response (URL)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split out URLs": {
      "main": [
        [
          {
            "node": "Filter out empty hrefs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set domain (URL)": {
      "main": [
        [
          {
            "node": "Get website (URL)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get website (URL)": {
      "main": [
        [
          {
            "node": "Retrieve URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove duplicated": {
      "main": [
        [
          {
            "node": "Set domain to path",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set domain (text)": {
      "main": [
        [
          {
            "node": "Add protocool to domain (text)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get website (text)": {
      "main": [
        [
          {
            "node": "Convert HTML to Markdown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set domain to path": {
      "main": [
        [
          {
            "node": "Filter out invalid URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter out empty hrefs": {
      "main": [
        [
          {
            "node": "Remove duplicated",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter out invalid URLs": {
      "main": [
        [
          {
            "node": "Aggregate URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert HTML to Markdown": {
      "main": [
        [
          {
            "node": "Set response (text)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add protocool to domain (text)": {
      "main": [
        [
          {
            "node": "Get website (text)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "ai_languageModel": [
        [
          {
            "node": "Support agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Read Email": {
      "main": [
        [
          {
            "node": "Detect email language",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check for new support email": {
      "main": [
        [
          {
            "node": "Read Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve support articles": {
      "ai_tool": [
        [
          {
            "node": "Support agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Extract knowledge from support articles": {
      "ai_tool": [
        [
          {
            "node": "Support agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Detect email language": {
      "main": [
        [
          {
            "node": "Support agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Confidence check": {
      "main": [
        [
          {
            "node": "Save draft",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send reponse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for approval": {
      "main": [
        [
          {
            "node": "Send reponse after approval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Support agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Support agent": {
      "main": [
        [
          {
            "node": "Confidence check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save draft": {
      "main": [
        [
          {
            "node": "Wait for approval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "e8a55bd3-1aad-471b-97d9-f9a8f2668407",
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-03-11T13:09:58.760Z",
      "createdAt": "2025-03-11T13:09:58.760Z",
      "role": "workflow:owner",
      "workflowId": "688mKZgYMxvsBvPg",
      "projectId": "SQnOb1XW8PKTppQP"
    }
  ],
  "tags": [
    {
      "updatedAt": "2025-03-15T18:54:26.296Z",
      "createdAt": "2025-03-15T18:54:26.296Z",
      "id": "LcKGzshuAfGAnTK9",
      "name": "Do sprawdzenia"
    }
  ]
}