backups/2025-11-26/mistral_ocr.json
{
  "updatedAt": "2025-03-15T18:58:42.689Z",
  "createdAt": "2025-03-10T09:13:53.022Z",
  "id": "cempJZjbSHSn4vrr",
  "name": "Mistral OCR",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "id": "e58c5e87-c4fe-4f2f-bb73-a1926061b9c9",
      "name": "Drive Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        -420,
        60
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json[\"type\"]}}",
              "operation": "contains",
              "value2": "document"
            }
          ]
        }
      },
      "id": "eff47b43-1692-46fd-8205-f0238db1bc0f",
      "name": "Dokument/Bild",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -200,
        60
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.mistral.ai/v1/ocr",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_MISTRAL_API_KEY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "url",
              "value": "={{ $json[\"documentUrl\"] }}"
            },
            {
              "name": "type",
              "value": "document"
            }
          ]
        },
        "options": {}
      },
      "id": "6cf9aa91-fb2a-4a09-8e5d-f35f9123c3c3",
      "name": "Mistral Dokument OCR API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        220,
        0
      ]
    },
    {
      "parameters": {
        "functionCode": "// Add URL parameters or transform data as needed\nconst item = JSON.parse(JSON.stringify(items[0].json));\nitem.documentUrl = item.url || item.downloadUrl || item.webViewLink;\nreturn [item];"
      },
      "id": "3bdb4569-1a6c-4460-bfd7-1733ae7b320a",
      "name": "Dokument URL",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.mistral.ai/v1/ocr",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_MISTRAL_API_KEY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "url",
              "value": "={{ $json[\"imageUrl\"] }}"
            },
            {
              "name": "type",
              "value": "image"
            }
          ]
        },
        "options": {}
      },
      "id": "c092b777-2d83-4a98-a2e7-ffa7eb9e3843",
      "name": "Mistral Bild OCR API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        220,
        160
      ]
    },
    {
      "parameters": {
        "functionCode": "// Add URL parameters or transform data as needed\nconst item = JSON.parse(JSON.stringify(items[0].json));\nitem.imageUrl = item.url || item.downloadUrl || item.webViewLink;\nreturn [item];"
      },
      "id": "500f3f37-b24a-426d-b29f-cec6f1e5f3d3",
      "name": "Bild URL",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        0,
        160
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "options": {}
      },
      "id": "5d2f6639-3f83-4495-b413-b589a997f862",
      "name": "Basic LLM Chain",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [
        440,
        60
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.mistral.ai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_MISTRAL_API_KEY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "mistral-large"
            },
            {
              "name": "messages",
              "value": "=[\n  {\n    \"role\": \"system\",\n    \"content\": \"You are an assistant that processes OCR results from documents and images.\"\n  },\n  {\n    \"role\": \"user\",\n    \"content\": `I have processed the following document with OCR: ${$json[\"ocrResult\"]} and the following image: ${$node[\"Mistral Bild OCR API\"].json[\"ocrResult\"]}. Please analyze both and provide insights.`\n  }\n]"
            },
            {
              "name": "temperature",
              "value": 0.7
            }
          ]
        },
        "options": {}
      },
      "id": "19f11c2a-e0ff-4600-bf08-02da2e7bc4a7",
      "name": "Mistral Cloud Chat Model",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        660,
        60
      ]
    }
  ],
  "connections": {
    "Drive Trigger": {
      "main": [
        [
          {
            "node": "Dokument/Bild",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dokument/Bild": {
      "main": [
        [
          {
            "node": "Dokument URL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Bild URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dokument URL": {
      "main": [
        [
          {
            "node": "Mistral Dokument OCR API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mistral Dokument OCR API": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bild URL": {
      "main": [
        [
          {
            "node": "Mistral Bild OCR API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mistral Bild OCR API": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Mistral Cloud Chat Model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "3ab8cd0f-32c8-4437-ac2f-e0220fdb27e5",
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-03-10T09:13:53.022Z",
      "createdAt": "2025-03-10T09:13:53.022Z",
      "role": "workflow:owner",
      "workflowId": "cempJZjbSHSn4vrr",
      "projectId": "SQnOb1XW8PKTppQP"
    }
  ],
  "tags": [
    {
      "updatedAt": "2025-03-15T18:54:26.296Z",
      "createdAt": "2025-03-15T18:54:26.296Z",
      "id": "LcKGzshuAfGAnTK9",
      "name": "Do sprawdzenia"
    }
  ]
}