backups/2025-11-26/narzedzia_google.json
{
  "updatedAt": "2025-08-15T11:17:59.992Z",
  "createdAt": "2025-03-01T09:02:28.924Z",
  "id": "iRJQFusFL4BWcwYo",
  "name": "Narzedzia_google",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "25bd09fc-3668-49a7-ba78-335ec0ed58d4",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }}",
        "options": {
          "systemMessage": "Jesteś sub Agentem AI do zarządzania narzedziami google. \nO to lista narzędzi do których masz dostęp. \n- Google docs ( tworzysz w nim nowe dokumenty )\n- Google sheets ( dodajesz nową linie doarkusza )\n- Google contacts ( przeszukujesz moją listę kontaktów i podajesz mi numer telefonu do danej osoby )\n- Google Drive ( pobierasz potrzebne informacje )"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        224,
        0
      ],
      "id": "0e65f915-df1d-4138-b55f-5fed368de33a",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        96,
        272
      ],
      "id": "e185a697-4acd-4d2d-86cb-c7e32187f0c3",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "EJgMjh9fB0j2lVkm",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ca05721d-4d31-45ea-8ce4-1dbaa60dc2d5",
              "name": "response",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        592,
        0
      ],
      "id": "89d8a3ec-ebec-4f6d-b1f1-6b91004b07cd",
      "name": "Odpowiedź"
    },
    {
      "parameters": {
        "driveId": "0AO8OxNR7NxFfUk9PVA",
        "folderId": "14Cp9JAoE-M9Lahr_EO1coXYbaH6Pau34",
        "title": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Title', ``, 'string') }}"
      },
      "type": "n8n-nodes-base.googleDocsTool",
      "typeVersion": 2,
      "position": [
        480,
        272
      ],
      "id": "e9640ff7-45b5-47aa-bad0-9c50ed2f1b85",
      "name": "Create a document in Google Docs",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "7i0obNHThmVJMNP4",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "documentId": {
          "__rl": true,
          "value": "1Qlv6oDWlbEK_oeK3OdOpZ6UdMPv-uZg0fZI-iyQcDn4",
          "mode": "list",
          "cachedResultName": "n8n",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Qlv6oDWlbEK_oeK3OdOpZ6UdMPv-uZg0fZI-iyQcDn4/edit?usp=drivesdk"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.5,
      "position": [
        640,
        272
      ],
      "id": "197336e1-f2b6-4dc6-a134-897cc51c293b",
      "name": "Create sheet in Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "0AifnrCkRyhR2h3u",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "resource": "drive",
        "operation": "get",
        "driveId": {
          "__rl": true,
          "value": "0AO8OxNR7NxFfUk9PVA",
          "mode": "list",
          "cachedResultName": "Dysk współdzielony",
          "cachedResultUrl": "https://drive.google.com/drive/folders/0AO8OxNR7NxFfUk9PVA"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTool",
      "typeVersion": 3,
      "position": [
        304,
        272
      ],
      "id": "cad1c563-c648-48f6-bd5c-88c7f4c21d2a",
      "name": "Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "gsn3as2Q8tIloMzv",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Doc_ID_or_URL', ``, 'string') }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('actionFields0_Text', ``, 'string') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocsTool",
      "typeVersion": 2,
      "position": [
        800,
        272
      ],
      "id": "0e834a1b-4cf3-485b-8d44-cad9f885636a",
      "name": "Update a document in Google Docs",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "7i0obNHThmVJMNP4",
          "name": "Google Docs account"
        }
      }
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Odpowiedź",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a document in Google Docs": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Update a document in Google Docs": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "a3202e7b-a48c-431d-b702-3c97f635e037",
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-03-01T09:02:28.924Z",
      "createdAt": "2025-03-01T09:02:28.924Z",
      "role": "workflow:owner",
      "workflowId": "iRJQFusFL4BWcwYo",
      "projectId": "SQnOb1XW8PKTppQP"
    }
  ],
  "tags": [
    {
      "updatedAt": "2025-03-15T18:53:11.351Z",
      "createdAt": "2025-03-15T18:53:11.351Z",
      "id": "ovE7Xowr5aUj677q",
      "name": "Działa"
    }
  ]
}