backups/2025-11-26/rag1_j1KW3EjFkhq3mUBM.json
{
  "updatedAt": "2025-07-01T12:33:28.310Z",
  "createdAt": "2025-03-03T13:53:49.182Z",
  "id": "j1KW3EjFkhq3mUBM",
  "name": "RAG1",
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "custom",
              "cronExpression": "*/30****"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "13z_lvZo_gj2Xv4oFqcvFleDt7vcxQyf7",
          "mode": "list",
          "cachedResultName": "n8n",
          "cachedResultUrl": "https://drive.google.com/drive/folders/13z_lvZo_gj2Xv4oFqcvFleDt7vcxQyf7"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        100,
        0
      ],
      "id": "300fa9ba-3379-48f1-bae8-1c8946b14966",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "gsn3as2Q8tIloMzv",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        260,
        0
      ],
      "id": "67cedb76-a74d-42a7-a226-b4be7ae828a5",
      "name": "Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "gsn3as2Q8tIloMzv",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "n8n8",
          "mode": "list",
          "cachedResultName": "n8n8"
        },
        "options": {
          "clearNamespace": false,
          "pineconeNamespace": "Sales"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1,
      "position": [
        440,
        0
      ],
      "id": "f58b65da-674c-40aa-b166-e41f6e14de9d",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "URDGtdOSndrLRtt4",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        360,
        160
      ],
      "id": "a3461b3f-48e4-4c84-b77a-84d7b12608a3",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "EJgMjh9fB0j2lVkm",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        500,
        160
      ],
      "id": "b1338069-e44b-4ceb-b304-85f00fe4e73c",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        520,
        320
      ],
      "id": "17aea2b3-3304-4b89-92ac-24e44e10abfc",
      "name": "Recursive Character Text Splitter"
    }
  ],
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "5c06116c-2201-4af3-8fbf-c95439202d3d",
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-03-03T13:53:49.182Z",
      "createdAt": "2025-03-03T13:53:49.182Z",
      "role": "workflow:owner",
      "workflowId": "j1KW3EjFkhq3mUBM",
      "projectId": "SQnOb1XW8PKTppQP"
    }
  ],
  "tags": [
    {
      "updatedAt": "2025-03-15T18:53:11.351Z",
      "createdAt": "2025-03-15T18:53:11.351Z",
      "id": "ovE7Xowr5aUj677q",
      "name": "Działa"
    }
  ]
}