backups/2025-11-26/scrapowanie_maili_z_google_maps_3NdYVa7v0AXSUJnE.json
{
  "updatedAt": "2025-07-03T08:24:26.493Z",
  "createdAt": "2025-07-03T08:18:54.495Z",
  "id": "3NdYVa7v0AXSUJnE",
  "name": "Scrapowanie Maili z Google Maps",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1480,
        180
      ],
      "id": "dc01bb88-2ed5-4581-bfda-c9cf92c6a857",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "url": "https://www.google.com/maps/search/restauracja+warszawa",
        "options": {
          "allowUnauthorizedCerts": true,
          "response": {
            "response": {
              "fullResponse": true
            }
          },
          "proxy": ""
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1260,
        180
      ],
      "id": "a84d3159-d71f-403d-b315-ce0880b9c21a",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json.data\nconst regex = /https?:\\/\\/[^\\/\\s\"'>]+/g\nconst websites = input.match(regex)\nreturn websites.map(website => ({json:{website}}))"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1040,
        180
      ],
      "id": "d0789f27-967a-415f-a116-2e1c6d729bff",
      "name": "Code"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "04c23da6-2b03-437a-93ba-e66b8d1328f9",
              "leftValue": "={{ $json.website }}",
              "rightValue": "schema",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            },
            {
              "id": "ad13095b-180d-4c78-9995-f9b70d4fe9b9",
              "leftValue": "={{ $json.website }}",
              "rightValue": "google",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            },
            {
              "id": "d133ccca-5ab0-4dc9-b0d1-c815683941c2",
              "leftValue": "={{ $json.website }}",
              "rightValue": "gstatic",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            },
            {
              "id": "fee908e3-65f1-4644-8320-8e5e68a3c85a",
              "leftValue": "={{ $json.website }}",
              "rightValue": "gg",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -820,
        180
      ],
      "id": "fc516460-138f-45fb-8acd-d1398471e937",
      "name": "Filter"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 2,
      "position": [
        -600,
        180
      ],
      "id": "93cdffcd-aa9d-4b7d-a8b5-f19df126d61b",
      "name": "Remove Duplicates"
    },
    {
      "parameters": {
        "maxItems": 10
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -380,
        180
      ],
      "id": "ec0f2079-e1d5-4da7-9f1a-4e8d7720b91c",
      "name": "Limit"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -160,
        180
      ],
      "id": "1f0193ce-fb08-4ffa-94f9-b49d6d8ee16b",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "url": "={{ $json.website }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        80,
        280
      ],
      "id": "7e8b6e2e-72e9-4a95-b410-469bb649a369",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        300,
        280
      ],
      "id": "25b50c93-8078-4979-a1cc-689e7dffd644",
      "name": "Wait",
      "webhookId": "69420831-2149-408f-8aa4-74006d53a681"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json.data\nconst regex = /[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.(?!jpeg|jpg|png|gif|webp|svg)[a-zA-Z]{2,}/g\nconst emails = input.match(regex)\nreturn {json: {emails:emails}}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        520,
        280
      ],
      "id": "16530a02-5a2b-4222-b904-2ba1f0aa5c11",
      "name": "Extract Emails"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        80,
        80
      ],
      "id": "6bd5dc6b-88bb-4ea9-a460-57c4e822d47b",
      "name": "Wait1",
      "webhookId": "9852cda2-5703-4057-9823-3d6f7c45fdf2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c4dcfcf6-51a1-473b-b424-31900a8a74c3",
              "leftValue": "={{ $json.emails }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        300,
        80
      ],
      "id": "a3af684e-c2f2-488a-99b0-1ca1111b14d3",
      "name": "Filter1"
    },
    {
      "parameters": {
        "fieldToSplitOut": "emails",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        520,
        80
      ],
      "id": "20352fb0-3180-4f98-afdb-132923e79175",
      "name": "Split Out"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 2,
      "position": [
        740,
        80
      ],
      "id": "d712f1be-9f4e-4be5-a48c-b46d7bf5e582",
      "name": "Remove Duplicates1"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1eT5wewTj_51Azh3CK_LaPuvXIpvuqxv4EzDZ1A8zoQI",
          "mode": "list",
          "cachedResultName": "Scrape google maps ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1eT5wewTj_51Azh3CK_LaPuvXIpvuqxv4EzDZ1A8zoQI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2056136577,
          "mode": "list",
          "cachedResultName": "emails",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1eT5wewTj_51Azh3CK_LaPuvXIpvuqxv4EzDZ1A8zoQI/edit#gid=2056136577"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "emails": "={{ $json.emails }}"
          },
          "matchingColumns": [
            "emails"
          ],
          "schema": [
            {
              "id": "emails",
              "displayName": "emails",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "useAppend": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        960,
        80
      ],
      "id": "1ab5552e-9c74-4b44-8ec5-90823434d4d1",
      "name": "Google Sheets"
    },
    {
      "parameters": {
        "content": "https://www.youtube.com/watch?v=lyzMU4mTtwM"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -780,
        -260
      ],
      "typeVersion": 1,
      "id": "e8769713-9d66-4af4-96a1-71e4ee6e4d6b",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "KODY JS\n\nUżyj w nodzie o nazwie: CODE\n\nconst input = $input.first().json.data\nconst regex = /https?:\\/\\/[^\\/\\s\"'>]+/g\nconst websites = input.match(regex)\nreturn websites.map(website => ({json:{website}}))\n\nUżyj w nodzie o nazwie: EXTRACT EMAIL\n\nconst input = $input.first().json.data\nconst regex = /[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.(?!jpeg|jpg|png|gif|webp|svg)[a-zA-Z]{2,}/g\nconst emails = input.match(regex)\nreturn {json: {emails:emails}}\n",
        "height": 560
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -240,
        -440
      ],
      "typeVersion": 1,
      "id": "cc245c1b-eced-4ec6-bcf4-f030eb5ba03f",
      "name": "Sticky Note1"
    }
  ],
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Remove Duplicates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Duplicates": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Extract Emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Emails": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Filter1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter1": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Remove Duplicates1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Duplicates1": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "972c8cab-fff1-4286-aad2-3049d2f785df",
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-07-03T08:18:54.495Z",
      "createdAt": "2025-07-03T08:18:54.495Z",
      "role": "workflow:owner",
      "workflowId": "3NdYVa7v0AXSUJnE",
      "projectId": "SQnOb1XW8PKTppQP"
    }
  ],
  "tags": []
}