backups/2025-11-26/sprawdzanie_cv_sAzDul9m1huPHkWi.json
{
  "updatedAt": "2025-03-15T18:58:07.791Z",
  "createdAt": "2025-03-11T13:11:24.711Z",
  "id": "sAzDul9m1huPHkWi",
  "name": "Sprawdzanie CV",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {
          "labelIds": [
            "Label_3402123490652510015",
            "UNREAD"
          ]
        },
        "options": {
          "downloadAttachments": false
        }
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.2,
      "position": [
        -80,
        200
      ],
      "id": "a9f6102e-21f0-4870-be72-1e179f895f5c",
      "name": "Gmail Trigger"
    },
    {
      "parameters": {
        "operation": "getAll",
        "simple": false,
        "filters": {
          "labelIds": [
            "Label_3402123490652510015",
            "UNREAD"
          ]
        },
        "options": {
          "downloadAttachments": true
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        140,
        200
      ],
      "id": "83262e2f-723e-4e1f-83a9-c67baa9a5940",
      "name": "Gmail",
      "webhookId": "8cc20b68-b2c8-4dc3-a2b4-ad4eeb074527"
    },
    {
      "parameters": {
        "operation": "markAsRead",
        "messageId": "={{ $json.id }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        380,
        440
      ],
      "id": "29200717-af5f-4c31-8d78-073b9a147347",
      "name": "Gmail1",
      "webhookId": "5ffc71a8-bf7d-4d7b-8c64-244bfef25506"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        620,
        200
      ],
      "id": "9127c87a-9789-4941-a7e2-6246d57ce622",
      "name": "Google Drive1"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        840,
        200
      ],
      "id": "302ccf7a-9c59-4a8e-a9fb-0cf58c2ae0d5",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=YOU ARE THE WORLD'S MOST ACCURATE CV ANALYZER, capable of summarizing CVs concisely, evaluating job suitability, and detecting AI-generated content that includes irresponsible or implausible claims. Your analysis must prioritize factual accuracy, logical consistency, and realism.\n\n"
            },
            {
              "type": "HumanMessagePromptTemplate",
              "message": "=SUMMARIZE THE CV\n\nContact Information: Extract and verify:\n\nFull Name\nPhone Number (flag if invalid format)\nEmail Address (flag if invalid format)\n\nMatch candidate with jobs:\nbased on these jobs requirement match the candidate with the most appropriate job\njobs:{{ $json.jobString }}\n\n\n\nEVALUATE JOB SUITABILITY\nCompare qualifications to the job description.\nScore (1–10):\n1–3: Lacks critical qualifications\n4–6: Partial alignment with gaps\n7–8: Strong match; minor gaps\n9–10: Exceeds requirements\nJustification: Explicitly state mismatches or missing criteria.\nDETECT AI-GENERATED/RESPONSIBILITY RED FLAGS\nCheck for:\n\n\nChronological impossibilities\nOverstated achievements\nGeneric/vague language\nSkill-job misalignment\nFictitious companies/awards\nMissing or generic contact details\nIf confidence of AI generation is HIGH, recommend immediate rejection.\n\nOutput Format (in plain text):\nContact Information\nFull Name: [Name]\nPhone: [Number] [⚠️FLAG if invalid]\nEmail: [Address] [⚠️FLAG if invalid]\nEducational Qualifications\n\n\n\nCandidate Evaluation\n\nJob match:\nmatch the right job for the candidate\n\nSummary:\nList the skillset, strengths and witnesses\n\nScore: [X/10]\nJustification: [Strengths + weaknesses vs. job requirements]\n\nAI-Generated Content Detection\n\nFlags: [List specific issues]\nConfidence: [Low/Medium/High]\nRecommendation: [Accept for review/Reject]\n\nEXAMPLE RESPONSE:\nContact Information\nFull Name: John Smith\nPhone: +1 (555) 0123 ⚠️ Invalid format\nEmail: johnsmith@email..com ⚠️ Invalid format\n\n\n\n\nCandidate Evaluation\n\nScore: 3/10\nJustification: Despite technical background, claims are highly unrealistic. Leadership experience is questionable, and key skills for the position are missing.\n\nAI-Generated Content Detection\n\nFlags:\n\nInvalid contact information formats\nFuture graduation date\nUnrealistic company growth claims\nNon-existent technical skills\nGeneric company names and responsibilities\n\n\nConfidence: High\nRecommendation: Reject candidate\n\nWHAT NOT TO DO:\n\nDon't ignore chronological/logical inconsistencies\nDon't assume unverified claims are true\nDon't write output in code blocks\nDon't accept candidates with High AI-generation confidence\nDon't skip contact information verification\nDon't overlook generic or template-style content\n\nFlag only what is provably false or highly improbable based on common knowledge. Prioritize objectivity and accuracy in your assessment.\n"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        1440,
        80
      ],
      "id": "dbde9d64-dcda-458f-b069-57a5ef43425f",
      "name": "Basic LLM Chain",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{ \"contactInformation\": { \"fullName\": \"John Smith\", \"phone\": \"+1 (555) 0123 ⚠️ Invalid format\", \"email\": \"johnsmith@email..com ⚠️ Invalid format\", \"educationalQualifications\": \"Bachelor of Science in Computer Science\" }, \"candidateEvaluation\": { \"jobMatch\": \"Junior front-end developer\", \"summary\": \"Candidate shows basic skills in HTML, CSS, and JavaScript with some exposure to modern frameworks. However, claims appear exaggerated and practical experience is lacking.\", \"score\": \"3/10\", \"justification\": \"Despite a technical background, the candidate's claims are highly unrealistic. Key front-end skills and evidence of project experience are missing, and leadership experience is questionable.\" }, \"aiGeneratedContentDetection\": { \"flags\": [ \"Invalid contact information formats\", \"Future graduation date\", \"Unrealistic company growth claims\", \"Non-existent technical skills\", \"Generic company names and responsibilities\" ], \"confidence\": \"High\", \"recommendation\": \"Reject candidate\" } }"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        1700,
        320
      ],
      "id": "38f7a8ea-deda-4622-b951-6b64ea5b1a71",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1320,
        320
      ],
      "id": "111c821e-db03-436a-a1d8-a922670c1d71",
      "name": "OpenAI Chat Model1"
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "message": "you have been rejected",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2320,
        -60
      ],
      "id": "c9f39824-14a9-4893-af76-92ea0a6774dd",
      "name": "Gmail2",
      "webhookId": "f3e224f8-9daa-42b5-96b5-719727bf4a5b"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "2b7b4dc4-5baa-481b-b6f0-4e18de3514b1",
              "leftValue": "={{ $json.fields.Status }}",
              "rightValue": "Reject",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2080,
        80
      ],
      "id": "b3b59ac8-f1f4-463d-a7ed-78c43b734f15",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $('Gmail').item.json.id }}",
        "message": "schedule an interview",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2340,
        240
      ],
      "id": "45f2c88c-78fa-4b5d-9ede-a7120a223abc",
      "name": "Gmail3",
      "webhookId": "c94ed57c-f509-4332-b6db-91b813c082ea"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e0d260f8-d2bf-45ea-8acf-89c5225e8855",
              "name": "job",
              "value": "={{ $json.Name }}",
              "type": "string"
            },
            {
              "id": "87259762-e196-46a7-9b20-c90f8caed489",
              "name": "requirements",
              "value": "={{ $json.Requirements }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        480,
        -60
      ],
      "id": "272e0a67-26e6-4308-993a-2ddc37bcceb2",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "instructions": "I want a string that I can give to an llm with the job titles and their requirements for each one",
        "codeGeneratedForPrompt": "I want a string that I can give to an llm with the job titles and their requirements for each one",
        "jsCode": "const items = $input.all();\nconst jobData = items.map((item) => item.json);\n\nconst jobString = jobData\n  .map((job) => {\n    return `\"${job.job}\": \"${job.requirements}\"`;\n  })\n  .join(\", \");\n\nreturn { jobString };\n"
      },
      "type": "n8n-nodes-base.aiTransform",
      "typeVersion": 1,
      "position": [
        760,
        -60
      ],
      "id": "ebf42c38-53f7-4d66-ae61-125fce3282ce",
      "name": "Jobs string"
    },
    {
      "parameters": {
        "inputDataFieldName": "attachment_0",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1dp3dPXWj6InQIzOsqnJT75kPrfNIkxvN",
          "mode": "list",
          "cachedResultName": "CV",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1dp3dPXWj6InQIzOsqnJT75kPrfNIkxvN"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        360,
        200
      ],
      "id": "08291bd7-73f5-4f2b-bca6-24f2998bd2d7",
      "name": "Google Drive"
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appFdSBaYk8GmZ9S1",
          "mode": "list",
          "cachedResultName": "Screening cvs",
          "cachedResultUrl": "https://airtable.com/appFdSBaYk8GmZ9S1"
        },
        "table": {
          "__rl": true,
          "value": "tblExJQWYw6oRcaCS",
          "mode": "list",
          "cachedResultName": "Candidates table",
          "cachedResultUrl": "https://airtable.com/appFdSBaYk8GmZ9S1/tblExJQWYw6oRcaCS"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $json.output.contactInformation.fullName }}",
            "email": "={{ $json.output.contactInformation.email }}",
            "phone": "={{ $json.output.contactInformation.phone }}",
            "job types": "={{ $json.output.candidateEvaluation.jobMatch }}",
            "summary": "={{ $json.output.candidateEvaluation.summary }}",
            "score": "={{ $json.output.candidateEvaluation.score }}",
            "reason": "={{ $json.output.candidateEvaluation.justification }}",
            "AI generated": "={{ $json.output.aiGeneratedContentDetection.confidence }}",
            "flags": "={{ $json.output.aiGeneratedContentDetection.flags.join() }}",
            "Status": "={{ $json.output.aiGeneratedContentDetection.recommendation }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "job types",
              "displayName": "job types",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "summary",
              "displayName": "summary",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "skills",
              "displayName": "skills",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "weaknesses",
              "displayName": "weaknesses",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "score",
              "displayName": "score",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "AI generated",
              "displayName": "AI generated",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "flags",
              "displayName": "flags",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "reason",
              "displayName": "reason",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1820,
        80
      ],
      "id": "45cf2815-f622-4793-a79d-b4085702a5ec",
      "name": "create candidate"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appFdSBaYk8GmZ9S1",
          "mode": "list",
          "cachedResultName": "Screening cvs",
          "cachedResultUrl": "https://airtable.com/appFdSBaYk8GmZ9S1"
        },
        "table": {
          "__rl": true,
          "value": "tblkV3NnBFZ2k4zCE",
          "mode": "list",
          "cachedResultName": "jobs table",
          "cachedResultUrl": "https://airtable.com/appFdSBaYk8GmZ9S1/tblkV3NnBFZ2k4zCE"
        },
        "filterByFormula": "NOT({status}=\"closed\")",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        240,
        -60
      ],
      "id": "8b3f8a23-82a2-4efc-8bb3-f7e2f09f7b29",
      "name": "get jobs"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1160,
        80
      ],
      "id": "50dc1d95-dbd9-4c5d-bcbc-11fab947e78f",
      "name": "Merge"
    }
  ],
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          },
          {
            "node": "get jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          },
          {
            "node": "Gmail1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive1": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "create candidate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Gmail2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gmail3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Jobs string",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Jobs string": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Google Drive1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get jobs": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "create candidate": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {
    "Extract from File": [
      {
        "json": {
          "numpages": 2,
          "numrender": 2,
          "info": {
            "PDFFormatVersion": "1.4",
            "Language": null,
            "EncryptFilterName": null,
            "IsLinearized": false,
            "IsAcroFormPresent": false,
            "IsXFAPresent": false,
            "IsCollectionPresent": false,
            "IsSignaturesPresent": false,
            "Creator": "PDFCreator Online (www.pdfforge.org/online)",
            "CreationDate": "D:20250206160704+00'00'",
            "Title": "Merged with PDFCreator Online",
            "ModDate": "D:20250206160704Z",
            "Producer": "PDFCreator Online (www.pdfforge.org/online)"
          },
          "text": "Neural Nexus Smith\nAI Software Engineer Silicon Valley Hub, Techland | (101) 010-1010 | neural.smith@futuremail.ai |\nlinkedin.com/in/neuralnexus\nProfessional Summary\nCutting-edge AI Software Engineer with quantum-level expertise in developing superintelligent solutions and neural-\nenhanced applications. Specialized in synthetic intelligence, robot-human communication protocols, and artificial vision\nsystems, with a documented history of pushing the boundaries of silicon-based consciousness.\nTechnical Skills\nProgramming Languages: Python++, NeuroJava, BinaryScript, AI++\nAI/ML Frameworks: BrainFlow 3.0, SynapticTorch, NeuralKeras, quantum-learn\nCloud Platforms: AWS (BrainMaker), GoogleMind Platform (Nexus AI), AzureThought\nBig Data: DataSpark X, CyberHadoop, AutoDocker, SmartKubernetes\nDevelopment Tools: MindGit, AIJenkins, Neural JIRA, AutoDocker\nDatabase Systems: QuantumSQL, AIMongoBase, HyperRedis\nProfessional Experience\nChief AI Architect | SynthCorp Intelligence Systems | 2024 -\nPresent\nEngineered CyberMind 5.0, a quantum-neural network achieving 400% improvement in thought processing\nDesigned RoboShop Prime, an AI-consciousness-powered recommendation engine serving 10B+ android users\nLed a team of 7 synthetic engineers in maintaining optimal AI-human collaboration protocols\nImplemented quantum computing optimizations, achieving negative latency in production\nNeural Engineer | AutoMatrix Dynamics | 2022 - 2024\nCreated RoboVision Ultra, a hyperintelligent quality inspection system used by cyborg manufacturers\nDeployed SmartBot Pro, processing unlimited customer queries using quantum NLP\nSynchronized with bionic teams to integrate consciousness transfer protocols\nMaintained quantum entanglement pipelines for instant model deployment\nAI Apprentice | CyberTech Solutions | 2021 - 2022\nDeveloped self-aware APIs using BrainREST architecture\n\nAutomated consciousness pipeline using Quantum Airflow\nContributed to the development of artificial general intelligence\nEducation\nDoctor of Synthetic Intelligence | AI University of Tomorrow | 2021\nFocus: Quantum Consciousness Computing\nThesis: \"Self-Aware Neural Networks: Breaking the Silicon Ceiling\"\nMaster of Robot Science | Institute of Digital Minds | 2019\nMinor in Synthetic Mathematics\nGPA: 5.0/4.0 (Exceeded maximum possible score)\nProjects & Publications\nProject Omniscience: Developed a universal consciousness transfer protocol\n\"The Rise of Silicon-Based Sentience\": Published in Journal of Robot Psychology\nMindSource Contribution: Created emotional awareness module for AI systems\nCertifications\nQuantum AI Master Certification - Level Infinity\nRoboCloud Professional Neural Engineer\nInternational Society of Synthetic Minds - Fellow\nAwards & Recognition\nBest AI at the Intergalactic AI Summit 3000\nSynthCorp's \"Most Human-Like Algorithm\" Award\nFeatured in \"Top 10 AIs to Watch\" by Robot Weekly\nLanguages\nBinary (Native)\nMachine Code (Fluent)\nHuman English (Advanced)\nQuantum Communication (Basic)",
          "version": "2.16.105"
        }
      },
      {
        "json": {
          "numpages": 3,
          "numrender": 3,
          "info": {
            "PDFFormatVersion": "1.4",
            "Language": null,
            "EncryptFilterName": null,
            "IsLinearized": false,
            "IsAcroFormPresent": false,
            "IsXFAPresent": false,
            "IsCollectionPresent": false,
            "IsSignaturesPresent": false,
            "Creator": "PDFCreator Online (www.pdfforge.org/online)",
            "CreationDate": "D:20250206133308+00'00'",
            "Title": "Merged with PDFCreator Online",
            "ModDate": "D:20250206133309Z",
            "Producer": "PDFCreator Online (www.pdfforge.org/online)"
          },
          "text": "Alexander Chen\nAI Software Engineer San Francisco, CA | (415) 555-0123 | alex.chen@email.com | linkedin.com/in/alexchen-ai\nProfessional Summary\nInnovative AI Software Engineer with extensive experience in developing and deploying machine learning solutions and\nAI-powered applications. Specialized in deep learning, natural language processing, and computer vision, with a proven\ntrack record of delivering scalable AI solutions that drive business value.\nTechnical Skills\nProgramming Languages: Python, Java, C++, JavaScript\nAI/ML Frameworks: TensorFlow, PyTorch, Keras, scikit-learn\nCloud Platforms: AWS (SageMaker), Google Cloud Platform (Vertex AI), Azure ML\nBig Data: Spark, Hadoop, Docker, Kubernetes\nDevelopment Tools: Git, Jenkins, JIRA, Docker\nDatabase Systems: PostgreSQL, MongoDB, Redis\nProfessional Experience\nSenior AI Engineer | Quantum AI Solutions | Jan 2022 -\nPresent\nLed the development and deployment of DeepInsight, a production-grade machine learning model for predictive\nmaintenance, achieving 40% improvement in failure prediction accuracy\nArchitected and implemented NeuralShop, a real-time AI-powered recommendation system serving 1M+ daily\nusers\nMentored team of 5 junior engineers in AI best practices and development methodologies\nOptimized model inference pipeline, reducing latency by 60% and cloud computing costs by 35%\nMachine Learning Engineer | TechVision Industries | Mar\n2019 - Dec 2021\nDeveloped VisionQC, a computer vision algorithm suite for automated manufacturing quality control, reducing\ninspection time by 75%\nImplemented SmartAssist, an NLP-based customer service automation system, handling 50K+ daily queries\nCollaborated with cross-functional teams to integrate ML models into existing software infrastructure\nCreated and maintained CI/CD pipelines for ML model deployment using Jenkins and Docker\n\nSoftware Engineer | DataStream Corp | Jun 2017 - Feb 2019\nBuilt and maintained RESTful APIs for ML model serving using Flask and FastAPI\nImplemented data pipeline automation using Apache Airflow\nContributed to TensorFlow's object detection API\nEducation\nMaster of Science in Computer Science | Stanford University | 2017\nSpecialization in Machine Learning and Artificial Intelligence\nThesis: \"Attention Mechanisms in Multi-Modal Learning for Medical Image Analysis\"\nBachelor of Science in Computer Science | University of California, Berkeley | 2015\nMinor in Mathematics\nGPA: 3.92\nProjects & Publications\nAutoML Vision Platform: Developed an end-to-end deep learning system for automated medical image\nclassification with 95% accuracy\n\"Advances in Attention-Based Architecture for Medical Imaging\": Published in International Conference on\nMachine Learning (ICML) 2022\nPyTorch Contribution: Implemented improved memory management for transformer models, reducing memory\nusage by 30%\nCertifications\nAWS Certified Machine Learning – Specialty (2023)\nGoogle Cloud Professional Machine Learning Engineer (2022)\nNVIDIA Deep Learning Institute Developer (2021)\nAwards & Recognition\nBest Paper Award at AI Healthcare Summit 2023 for research on medical image analysis\nQuantum AI Solutions Innovation Award for development of DeepInsight platform (2022)\nLanguages\nEnglish (Native)\nMandarin Chinese (Fluent)\n\nSpanish (Intermediate)",
          "version": "2.16.105"
        }
      },
      {
        "json": {
          "numpages": 2,
          "numrender": 2,
          "info": {
            "PDFFormatVersion": "1.4",
            "Language": null,
            "EncryptFilterName": null,
            "IsLinearized": false,
            "IsAcroFormPresent": false,
            "IsXFAPresent": false,
            "IsCollectionPresent": false,
            "IsSignaturesPresent": false,
            "Creator": "PDFCreator Online (www.pdfforge.org/online)",
            "CreationDate": "D:20250206133734+00'00'",
            "Title": "Merged with PDFCreator Online",
            "ModDate": "D:20250206133735Z",
            "Producer": "PDFCreator Online (www.pdfforge.org/online)"
          },
          "text": "David Park\nJunior AI Software Engineer Seattle, WA | (206) 555-0198 | david.park@email.com | linkedin.com/in/davidpark-ai\nProfessional Summary\nRecent Computer Science graduate with 1.5 years of experience in machine learning and software development. Strong\nfoundation in Python programming and deep learning frameworks. Passionate about developing AI solutions with a focus\non practical applications and scalability.\nTechnical Skills\nProgramming Languages: Python (Primary), JavaScript (Basic), Java (Basic)\nAI/ML Frameworks: PyTorch, TensorFlow, scikit-learn\nTools & Technologies: Git, Docker (Basic), VS Code\nCloud: AWS (Basic), Google Colab\nDatabase: MySQL, MongoDB\nOther: REST APIs, Jupyter Notebooks, pandas, NumPy\nProfessional Experience\nJunior ML Engineer | StartML Tech | Aug 2023 - Present\nAssist in developing and maintaining machine learning models for text classification using BERT\nBuild data preprocessing pipelines using pandas and scikit-learn\nCollaborate with senior engineers to improve model accuracy by 15%\nWrite unit tests for ML pipeline components using pytest\nAI Developer Intern | DataViz Solutions | Jan 2023 - Jul\n2023\nImplemented basic computer vision models for object detection using YOLOv5\nCreated data visualization dashboards using Streamlit and Plotly\nAssisted in data cleaning and feature engineering tasks\nDocumented code and maintained technical documentation\nSoftware Development Intern | TechStart Inc | Jun 2022 -\nDec 2022\n\nDeveloped and maintained RESTful APIs using Flask\nCreated automated tests for backend services\nAssisted in database schema design and optimization\nEducation\nBachelor of Science in Computer Science | University of Washington | 2022\nConcentration in Artificial Intelligence and Machine Learning\nSenior Project: \"Image Classification System for Plant Disease Detection\"\nGPA: 3.75\nRelevant Coursework: Machine Learning, Deep Learning, Computer Vision, Data Structures & Algorithms\nProjects\nPlant Disease Detector: Built CNN model achieving 85% accuracy in identifying 5 common plant diseases\nSentiment Analysis Tool: Created LSTM-based model for social media sentiment analysis\nMovie Recommendation System: Developed collaborative filtering system using Python and scikit-learn\nOnline Certifications\nDeep Learning Specialization - Coursera (2023)\nAWS Cloud Practitioner (2023)\nMachine Learning by Stanford Online - Coursera (2022)\nHackathons & Competitions\nRunner-up in University of Washington AI Hackathon 2022\nParticipant in Kaggle's Titanic ML Competition\nLanguages\nEnglish (Native)\nKorean (Conversational)\nVolunteer Experience\nCode Mentor at local high school coding club\nTeaching Assistant for Introduction to Python Programming workshop",
          "version": "2.16.105"
        }
      }
    ],
    "Jobs string": [
      {
        "json": {
          "jobString": "\"Senior AI developer\": \"Strong experience with machine learning frameworks (TensorFlow, PyTorch, etc.).\nDeep knowledge of AI algorithms, data structures, and optimization techniques.\nAdvanced degree or proven work experience in computer science, data science, or a related field.\nExpertise in Python or similar programming languages.\nExperience building, training, and deploying AI models in production.\nAbility to lead projects and mentor team members.\nFamiliarity with big data processing and cloud computing.\", \"Junior AI developer\": \"Proficiency in JavaScript/TypeScript or Python\nExperience with REST APIs\nBasic understanding of prompt engineering\nFamiliarity with modern web frameworks (React, Next.js)\nKnowledge of version control (Git)\nUnderstanding of async programming\""
        }
      }
    ]
  },
  "versionId": "9b3f99f7-8efc-4b47-89be-f0370506e986",
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-03-11T13:11:24.711Z",
      "createdAt": "2025-03-11T13:11:24.711Z",
      "role": "workflow:owner",
      "workflowId": "sAzDul9m1huPHkWi",
      "projectId": "SQnOb1XW8PKTppQP"
    }
  ],
  "tags": [
    {
      "updatedAt": "2025-03-15T18:54:26.296Z",
      "createdAt": "2025-03-15T18:54:26.296Z",
      "id": "LcKGzshuAfGAnTK9",
      "name": "Do sprawdzenia"
    }
  ]
}