backups/2025-11-26/test_Ja9UujnKHN7xLVD1.json
{
  "updatedAt": "2025-08-24T15:15:22.310Z",
  "createdAt": "2025-08-24T13:57:24.907Z",
  "id": "Ja9UujnKHN7xLVD1",
  "name": "test",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.goolekalendar }}",
        "options": {
          "systemMessage": "=Jesteś asystentem od zarządania kalendarzem google, możesz dodawać, usuwac i sprawdzać wydarzenia.\nDzisiejsza data to: {{ $today }} {{ $now }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        32,
        -192
      ],
      "id": "bcfec790-c60c-4e84-8e34-263def8d1164",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "grzegorz@themakead.com",
          "mode": "list",
          "cachedResultName": "grzegorz@themake"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "additionalFields": {
          "attendees": [],
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        144,
        32
      ],
      "id": "62c6cd8c-fc89-4462-977e-8af5311d5af6",
      "name": "Create an event in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "4t09NQPynRD4Bs9i",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "grzegorz@themakead.com",
          "mode": "list",
          "cachedResultName": "grzegorz@themake"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        288,
        32
      ],
      "id": "974cd270-9a55-4298-844d-1e820ab58fe9",
      "name": "Delete an event in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "4t09NQPynRD4Bs9i",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "grzegorz@themakead.com",
          "mode": "list",
          "cachedResultName": "grzegorz@themake"
        },
        "limit": 1,
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        448,
        32
      ],
      "id": "5dec699f-0168-4ce4-b674-7b1caab31079",
      "name": "Get many events in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "4t09NQPynRD4Bs9i",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -16,
        48
      ],
      "id": "dd39b221-223c-4578-bbf1-693b9d960798",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "2PnDfshSxDdWFgRc",
          "name": "OpenRouter account 2"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "77cf0aca-c19a-4dc7-aba5-10c019a63a1b",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -240,
        -192
      ],
      "id": "637f9ea0-c72b-4d2f-b4c3-cb49a9ccbd92",
      "name": "Webhook",
      "webhookId": "77cf0aca-c19a-4dc7-aba5-10c019a63a1b"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        384,
        -192
      ],
      "id": "aca35759-9e34-4509-a284-40d8816696f9",
      "name": "Respond to Webhook"
    }
  ],
  "connections": {
    "Create an event in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Delete an event in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get many events in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Warsaw",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "b70a522f-6f76-4241-8f53-afaa9d3a8999",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-08-24T13:57:24.907Z",
      "createdAt": "2025-08-24T13:57:24.907Z",
      "role": "workflow:owner",
      "workflowId": "Ja9UujnKHN7xLVD1",
      "projectId": "SQnOb1XW8PKTppQP"
    }
  ],
  "tags": []
}