backups/2025-11-26/wyodr_bnianie_danych_z_pdf_5sO7dHwATBtCFYm4.json
{
  "updatedAt": "2025-07-01T12:34:17.075Z",
  "createdAt": "2025-03-16T16:30:28.397Z",
  "id": "5sO7dHwATBtCFYm4",
  "name": "Wyodrębnianie danych z PDF",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -980,
        720
      ],
      "id": "69019c5e-3d81-4a2e-98b2-e606ae60cbd9",
      "name": "Extract from File"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1440,
        720
      ],
      "id": "e6e1fd97-1f4e-4172-9191-3b5ce4158d65",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "1qT8iGEya0kC_-7Q4vEKM1_smIrfguuM5",
          "mode": "list",
          "cachedResultName": "faktura agrobex.pdf",
          "cachedResultUrl": "https://drive.google.com/file/d/1qT8iGEya0kC_-7Q4vEKM1_smIrfguuM5/view?usp=drivesdk"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1220,
        720
      ],
      "id": "e54e3d9d-039c-4a0e-824a-ad9d13b1b1a3",
      "name": "Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "gsn3as2Q8tIloMzv",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=Jesteś ekspertem w ekstrakcji danych z faktur. Przeanalizuj tekst faktury i zwróć następujące dane w formacie JSON: \n{\"numer_faktury\": \"\", \"data_wystawienia\": \"\", \"termin_platnosci\": \"\", \"kwota_brutto\": \"\", \"za miesiąc\":}",
              "role": "system"
            },
            {
              "content": "=Oto treść faktury od Agrobex. Zwróć dane w formacie JSON:\n\n{{ $json.text }}"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -760,
        720
      ],
      "id": "8b8fb763-05c0-4961-91a0-2beffa231b44",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "EJgMjh9fB0j2lVkm",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1AHazwVG74PaPFbg7xNHLUWqDu-7MMkHUABz7qMFOhoc",
          "mode": "list",
          "cachedResultName": "Faktury Agrobex",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1AHazwVG74PaPFbg7xNHLUWqDu-7MMkHUABz7qMFOhoc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Arkusz1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1AHazwVG74PaPFbg7xNHLUWqDu-7MMkHUABz7qMFOhoc/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Numer faktury": "={{ $json.message.content.numer_faktury }}",
            "Data wystawienia": "={{ $json.message.content.data_wystawienia }}",
            "Termin płatności": "={{ $json.message.content.termin_platnosci }}",
            "Kwota": "={{ $json.message.content.kwota_brutto }}"
          },
          "matchingColumns": [
            "Numer faktury"
          ],
          "schema": [
            {
              "id": "Numer faktury",
              "displayName": "Numer faktury",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Data wystawienia",
              "displayName": "Data wystawienia",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Termin płatności",
              "displayName": "Termin płatności",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Kwota",
              "displayName": "Kwota",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Nazwa pliku",
              "displayName": "Nazwa pliku",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Temat e-maila",
              "displayName": "Temat e-maila",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Data przetworzenia",
              "displayName": "Data przetworzenia",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -400,
        720
      ],
      "id": "3ce77c56-dfe2-4c2c-b534-c2ab7ab95c2b",
      "name": "Google Sheets1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "0AifnrCkRyhR2h3u",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "connections": {
    "Extract from File": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "799616e4-6a00-478c-b09a-a3a1e23fa9df",
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-03-16T16:30:28.397Z",
      "createdAt": "2025-03-16T16:30:28.397Z",
      "role": "workflow:owner",
      "workflowId": "5sO7dHwATBtCFYm4",
      "projectId": "SQnOb1XW8PKTppQP"
    }
  ],
  "tags": [
    {
      "updatedAt": "2025-03-15T18:54:26.296Z",
      "createdAt": "2025-03-15T18:54:26.296Z",
      "id": "LcKGzshuAfGAnTK9",
      "name": "Do sprawdzenia"
    }
  ]
}