backups/2025-11-26/yt_transcript_UgHdXy66BtF1GD9p.json
{
  "updatedAt": "2025-07-01T11:17:42.098Z",
  "createdAt": "2025-03-12T17:45:36.167Z",
  "id": "UgHdXy66BtF1GD9p",
  "name": "YT transcript",
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {},
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -200,
        -80
      ],
      "id": "d5d7adf8-ab1d-49cf-8780-0098ecb80d83"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "folderId": "1M3C6Y4We_797m_7izXjWVkM3QqXi81oo",
        "title": "={{ $json.fileName }}"
      },
      "name": "Google Docs - Utwórz dokument",
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 1,
      "position": [
        1580,
        0
      ],
      "id": "0ff3361f-41be-44b0-98fa-7617ab4cbf22",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "7i0obNHThmVJMNP4",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        780,
        -80
      ],
      "id": "76ec215f-c212-4112-9ff5-afcbdf466d02",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "EJgMjh9fB0j2lVkm",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $json.id }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "={{ $('Code').item.json.transcription }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        1780,
        0
      ],
      "id": "2b36e1f3-b088-4cc6-8708-4a893cd3324b",
      "name": "Google Docs",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "7i0obNHThmVJMNP4",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "24b732af-2b7a-45f4-915f-2fa32b0489b5",
              "name": "filename",
              "value": "={{$binary.data.fileName}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        780,
        100
      ],
      "id": "581abd84-3110-4cd5-86bf-9383d93cfb44",
      "name": "Edit Fields"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1000,
        0
      ],
      "id": "c7e8eabe-4121-4178-a219-1abb9e2206cc",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "// Pobieramy dane wejściowe\nconst firstItem = items[0]; // Pierwszy element z Edit Fields\nconst secondItem = items.length > 1 ? items[1] : null; // Drugi element (OpenAI/transkrypcja)\n\n// Tablica przechowująca możliwe transkrypcje\nlet possibleTranscriptions = [];\n\n// Pobierz tekst z pierwszego elementu (jeśli istnieje)\nif (firstItem && firstItem.json && firstItem.json.text) {\n  possibleTranscriptions.push([\"items[0].json.text\", firstItem.json.text]);\n}\n\n// Logowanie do debugowania\nconsole.log(\"Możliwe transkrypcje:\", possibleTranscriptions);\n\n// Ustaw wartości domyślne\nlet transcription = \"\";\nlet fileName = \"test.mp3\"; // Domyślna wartość\nlet originalName = \"plik_audio.mp3\"; // Domyślna oryginalna nazwa\n\n// Pobierz filename z inputu dynamicznie\nif (firstItem && firstItem.json && firstItem.json.filename) {\n  // Jeśli filename nie jest null ani [null]\n  if (firstItem.json.filename !== null && firstItem.json.filename !== \"[null]\") {\n    fileName = firstItem.json.filename;\n  }\n}\n\n// Sprawdzamy czy mamy drugi element inputu z filename\nif (secondItem && secondItem.json && secondItem.json.filename) {\n  if (secondItem.json.filename !== null && secondItem.json.filename !== \"[null]\") {\n    fileName = secondItem.json.filename;\n  }\n}\n\n// Sprawdź też w tablicy items - możliwe że struktura jest inna\nfor (const item of items) {\n  if (item.json && item.json.filename && \n      item.json.filename !== null && \n      item.json.filename !== \"[null]\") {\n    fileName = item.json.filename;\n    break;\n  }\n}\n\n// Wybierz transkrypcję z dostępnych możliwości\nif (possibleTranscriptions.length > 0) {\n  // Bierzemy wartość z pierwszej znalezionej transkrypcji\n  transcription = possibleTranscriptions[0][1];\n}\n\n// Przygotuj nazwę dokumentu - taka sama jak fileName\nconst documentName = fileName;\n\n// Logowanie do debugowania\nconsole.log(\"Używana nazwa pliku:\", fileName);\n\n// Zwróć dane\nreturn {\n  json: {\n    fileName: fileName,\n    fileId: \"\",\n    originalName: originalName,\n    transcription: transcription,\n    documentName: documentName\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1420,
        0
      ],
      "id": "36472d87-54d6-4098-bb41-1ee96c042937",
      "name": "Code"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": false,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "420e1a9c-2145-4845-b4b0-31a82855a78c",
              "operator": {
                "type": "string",
                "operation": "endsWith"
              },
              "leftValue": "={{ $json.name }}",
              "rightValue": ".mp3"
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {
          "ignoreCase": true
        }
      },
      "id": "8b3585a6-70d9-42f3-9064-1c1eae1c6eea",
      "name": "Filter by .m4a extension",
      "type": "n8n-nodes-base.filter",
      "position": [
        180,
        -80
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "keep": "lastItems"
      },
      "id": "4ca22146-0936-4fa7-a73c-3b9dcc31d6ce",
      "name": "Limit to last file",
      "type": "n8n-nodes-base.limit",
      "position": [
        380,
        -80
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.id }}"
        },
        "options": {}
      },
      "id": "85f2f8b6-f410-4649-ba2d-c6501fea5222",
      "name": "Download audio file",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        580,
        -80
      ],
      "typeVersion": 3,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "gsn3as2Q8tIloMzv",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "https://drive.google.com/drive/folders/1M3C6Y4We_797m_7izXjWVkM3QqXi81oo",
            "mode": "url"
          },
          "whatToSearch": "files"
        },
        "options": {}
      },
      "id": "be756890-4000-4f22-b2da-f5e2464181bc",
      "name": "Search Google Drive",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        -20,
        -80
      ],
      "typeVersion": 3,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "gsn3as2Q8tIloMzv",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1ab659c9-e7ed-47ca-9ce2-7acf378fb736",
              "name": "text",
              "value": "={{ $json.text }}",
              "type": "string"
            },
            {
              "id": "69a761ee-561c-4d52-80b9-bbff00244a76",
              "name": "filename",
              "value": "={{ $json.filename }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1200,
        0
      ],
      "id": "a1d03337-9b50-4333-8fef-ca5fb41103d8",
      "name": "Edit Fields1"
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Search Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Docs - Utwórz dokument": {
      "main": [
        [
          {
            "node": "Google Docs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Docs": {
      "main": [
        []
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Google Docs - Utwórz dokument",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit to last file": {
      "main": [
        [
          {
            "node": "Download audio file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download audio file": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          },
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Google Drive": {
      "main": [
        [
          {
            "node": "Filter by .m4a extension",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter by .m4a extension": {
      "main": [
        [
          {
            "node": "Limit to last file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "257d2c16-6d8f-41fc-bd4c-4d332489116a",
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-03-12T17:45:36.167Z",
      "createdAt": "2025-03-12T17:45:36.167Z",
      "role": "workflow:owner",
      "workflowId": "UgHdXy66BtF1GD9p",
      "projectId": "SQnOb1XW8PKTppQP"
    }
  ],
  "tags": [
    {
      "updatedAt": "2025-03-15T18:53:11.351Z",
      "createdAt": "2025-03-15T18:53:11.351Z",
      "id": "ovE7Xowr5aUj677q",
      "name": "Działa"
    }
  ]
}