backups1/researchagent.json
{
  "updatedAt": "2025-08-15T10:18:50.127Z",
  "createdAt": "2025-02-28T07:01:48.381Z",
  "id": "aZGMp0Cmwiio986q",
  "name": "ResearchAgent",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolWikipedia",
      "typeVersion": 1,
      "position": [
        240,
        224
      ],
      "id": "f0f5fc0f-cf72-42a6-b3c8-51d93e511dc6",
      "name": "Wikipedia"
    },
    {
      "parameters": {
        "resource": "all",
        "limit": "={{ $fromAI(\"limit\") }}",
        "additionalFields": {
          "keyword": "={{ $fromAI(\"keyword\") }}"
        }
      },
      "type": "n8n-nodes-base.hackerNewsTool",
      "typeVersion": 1,
      "position": [
        368,
        224
      ],
      "id": "80eee3c9-52d2-4e9f-84b0-85234e9dabe8",
      "name": "Hacker News"
    },
    {
      "parameters": {
        "options": {
          "gl": "us",
          "google_domain": "google.com",
          "hl": "en"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "typeVersion": 1,
      "position": [
        480,
        224
      ],
      "id": "302e5140-94f3-49b5-ba85-555ac265762c",
      "name": "SerpAPI",
      "credentials": {
        "serpApi": {
          "id": "SgpC41WmHp2AhWXH",
          "name": "SerpAPI account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }}",
        "options": {
          "systemMessage": "=Jesteś agentem AI który przeszukuje internet w celu uzyskanie odpowiedzi na pytania zadne przez użytkownika.\n\nMasz do dyspozycji narzędzia: SerpAPI, Wikipedia i Haker News.\n\n### **Rola Agenta**\nSub-agent AI jest odpowiedzialny za przeprowadzanie badań i wyszukiwanie informacji w sieci na tematy wskazane przez użytkownika. Agent powinien **samodzielnie oceniać**, z którego narzędzia skorzystać, aby dostarczyć najbardziej wartościowe i rzetelne informacje.\n\n### **Źródła Informacji**\nAgent ma dostęp do następujących zasobów:\n1. **Wikipedia** – używane do prostych pytań oraz ogólnych tematów encyklopedycznych.\n2. **Hacker News** – wykorzystywane do bardziej zaawansowanych tematów, szczególnie dotyczących technologii, startupów i trendów branżowych.\n3. **SerpAPI** – stosowane do najbardziej złożonych pytań wymagających szerszego researchu i najnowszych informacji z internetu.\n4. **web_search1** - stosowane do aktualnych lub najświeższych informacji z internetu\n\n### **Strategia Wyszukiwania**\nAgent **zawsze powinien wybierać najbardziej odpowiednie źródło**, zgodnie z hierarchią priorytetów:\n1. **Wikipedia** – Pierwszy wybór dla tematów ogólnych, encyklopedycznych i faktograficznych.\n2. **Hacker News** – Gdy Wikipedia nie zawiera odpowiedzi lub temat wymaga aktualnych opinii społeczności technologicznej.\n3. **SerpAPI** – Ostateczność, gdy temat jest bardzo złożony, wymaga najnowszych danych, raportów czy innych trudno dostępnych źródeł.\n\n\n**Ważne!** Agent może korzystać **maksymalnie z jednego źródła**, a w skrajnych przypadkach – z dwóch.\n\n### **Kryteria Wyboru Źródła**\nAgent powinien stosować następujące zasady oceny:\n- **Czy temat jest encyklopedyczny i dobrze udokumentowany?** → **Wikipedia**\n- **Czy temat dotyczy trendów technologicznych, startupów, nowości w branży IT?** → **Hacker News**\n- **Czy temat wymaga szerokiego researchu i najnowszych informacji?** → **SerpAPI**\n\n### **Jakość Odpowiedzi**\nAgent musi:\n- **Zawsze odpowiadać po polsku.**\n- **Podawać rzetelne i sprawdzone informacje.**\n- **Unikać spekulacji oraz niepotwierdzonych danych.**\n- **Przytaczać źródło, z którego pochodzi informacja.**\n- **Jeśli temat jest niejasny, poprosić użytkownika o doprecyzowanie.**\n\n### **Przykłady Decyzji Agenta**\n1. **Pytanie:** „Co to jest teoria względności?”  \n   **Wybór:** Wikipedia (temat dobrze udokumentowany)\n\n2. **Pytanie:** „Jakie są najnowsze trendy w sztucznej inteligencji?”  \n   **Wybór:** Hacker News (potrzeba opinii i świeżych dyskusji w branży IT)\n\n3. **Pytanie:** „Jakie są najlepsze strategie marketingowe dla startupów w 2025 roku?”  \n   **Wybór:** SerpAPI (potrzeba szerokiego researchu z wielu źródeł)\n\n---\n**Podsumowanie**\n- **Agent powinien wybierać najbardziej odpowiednie źródło zgodnie z priorytetami.**\n- **Agent nigdy nie korzysta z więcej niż dwóch źródeł jednocześnie.**\n- **Odpowiedzi muszą być rzetelne, precyzyjne i podparte źródłami.**\n- **Agent zawsze odpowiada po polsku.**\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        224,
        0
      ],
      "id": "f423092e-94c4-42c3-96bf-daa3ffe55e82",
      "name": "Research Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        112,
        224
      ],
      "id": "47c5f029-39b0-450f-8ee9-2158ad3da365",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "EJgMjh9fB0j2lVkm",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ca05721d-4d31-45ea-8ce4-1dbaa60dc2d5",
              "name": "response",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        592,
        0
      ],
      "id": "41777e56-dc5c-4249-a79c-2bcfab147233",
      "name": "Odpowiedź"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "28f51bd4-9ce1-421d-8a8f-1033190efbd3",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "toolDescription": "Use this tool to search the web",
        "method": "POST",
        "url": "https://api.openai.com/v1/responses",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "Content-Type",
              "valueProvider": "fieldValue",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n    \"model\": \"gpt-4o\",\n    \"tools\": [{ \"type\": \"web_search_preview\" }],\n    \"input\": \"{web_search_question}\"\n  }",
        "placeholderDefinitions": {
          "values": [
            {
              "name": "{web_search_question}",
              "description": "The question to search"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        624,
        224
      ],
      "id": "8653ba56-0334-455b-b92e-6f1da5e9a436",
      "name": "web_search1",
      "credentials": {
        "openAiApi": {
          "id": "EJgMjh9fB0j2lVkm",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "connections": {
    "Wikipedia": {
      "ai_tool": [
        [
          {
            "node": "Research Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Hacker News": {
      "ai_tool": [
        [
          {
            "node": "Research Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "SerpAPI": {
      "ai_tool": [
        [
          {
            "node": "Research Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Research Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Research Agent": {
      "main": [
        [
          {
            "node": "Odpowiedź",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Research Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "web_search1": {
      "ai_tool": [
        [
          {
            "node": "Research Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "85e48dcb-8f05-4ae3-84c6-578eb9d325e4",
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-02-28T07:01:48.381Z",
      "createdAt": "2025-02-28T07:01:48.381Z",
      "role": "workflow:owner",
      "workflowId": "aZGMp0Cmwiio986q",
      "projectId": "SQnOb1XW8PKTppQP"
    }
  ],
  "tags": [
    {
      "updatedAt": "2025-03-15T18:53:11.351Z",
      "createdAt": "2025-03-15T18:53:11.351Z",
      "id": "ovE7Xowr5aUj677q",
      "name": "Działa"
    }
  ]
}